.cart {
  $root: &;

  &__wrapper {
    margin-top: 1.5rem;

    @include media($md) {
      margin-top: 2rem;
    }

    @include media($full) {
      margin-top: 2.5rem;
    }
  }

  &__header {
    margin: 1.5rem 0;

    @include media($md) {
      margin: 2rem 0 1.5rem 0;
    }

    @include media($full) {
      margin: 2.5rem 0 1.5rem 0;
    }
  }

  &__header-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(var(--color-grey));
  }

  &__header-content {
    margin: 1.5rem 0;
    @extend %flex-column;
    gap: 1.25rem;

    @include media($lg) {
      display: flex;
      justify-content: space-between;
      flex-flow: row;
    }
  }

  &__header-inner {
    @extend %flex-column;
  }

  &__header-content-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 0.4rem;
  }

  &__header-content-feature {
    @extend %flex-column;
    gap: 0.75rem;

    @include media($lg) {
      gap: 1.25rem;
    }
  }

  &__header-content-catchPhrase {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  &__header-content-feature-inner {
    flex-flow: column;
    gap: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;

    @include media($md) {
      display: flex;
      flex-flow: row;
      gap: 1.25rem;
    }
  }

  &__header-content-feature-purchases {
    @extend %flex-column;
    gap: 0.5rem;

    span {
      font-weight: 600;
      letter-spacing: 0.02rem;

      &:first-child {
        font-weight: 400;
        letter-spacing: 0;
      }
    }
  }
}