.cart-item {
  $root: &;

  &__wrapper {
    position: relative;
    padding: 0.75rem;
    @extend %flex-column;


    @include media($md) {
      padding: 1.25rem 1.5rem;
      flex-flow: row;
      justify-content: space-between;
    }
  }

  &__delete {
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;

    @include media($md) {
      bottom: unset;
      left: unset;
      top: 1.25rem;
      right: 1.5rem;
    }
  }

  &__inner-product-card {
    @extend %flex-column;

    @include media($md) {
      flex-flow: row
    }
  }

  &__product-card {
    @extend %flex-start;
  }

  &__product-card-decription {
    @extend %flex-column;
  }

  &__control {
    @extend %flex-start;

    @include media($lg) {
      flex-flow: column
    }
  }

  &__inner {
    @extend %flex-column;

    @include media($md) {
      flex-flow: row;
      justify-content: space-between
    }
  }

  &__discount-upper {
    @extend %flex-start;
    gap: 0.315rem;
  }

  &__discount-upper-title {
    font-weight: 600;
    color: rgb(var(--color-primary));
  }

  &__navigate-price {
    font-weight: 600;
    letter-spacing: 0.02rem;
  }

  &__navigate-price-oldSum {
    text-decoration: line-through;
    color: rgb(var(--color-grey));
    margin-right: 0.625rem;
  }

  &__navigate-price-newSum {
    color: rgb(var(--color-primary));
  }
}