@import "../basis/_extends";
@import "../basis/_mixins";
@import "../basis/_variables";

.catalog {
  $root: &;

  &__item-title {
    @extend %flex-start;

    gap: 0.75rem;
    font-weight: 400;
    transition: var(--transition-base);

    &-text {
      position: relative;

      &:after {
        transition: var(--transition-base);
        
        content: "";
        position: absolute;
        height: 1px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(var(--color-primary));
        opacity: 0;
      }
    }
  }

  &__mobile {
    &-title {
      font-weight: 600;
      font-size: 1.375rem;
    }

    & .collapse {
      padding: 0.75rem 1.25rem;
      transition: var(--transition-base);
      
      &__head {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          height: 1px;
          left: 0;
          right: 0;
          bottom: -0.75rem;
          background-color: rgb(var(--color-black-light));
        }

        &-title {
          white-space: wrap;
          overflow: unset;
          text-overflow: unset;
        }

        & svg {
          & use {
            stroke: rgb(var(--color-grey));
            stroke-width: 2px;
          }
        }

        &-icon {
          & use {
            stroke: rgb(var(--color-grey));
            stroke-width: 2px;
          }
        }
      }

      &__content {
        transform: none;
        animation: none;
      }

      &--open, &:hover {
        & .collapse, & {
          background-color: rgb(var(--color-primary-soft));
        }

        & .collapse__head {
          color: rgb(var(--color-primary));
          
          #{$root}__item-title {
            & svg {
              & use {
                stroke: rgb(var(--color-primary));
              }
            }

            &-text {
              &:after {
                opacity: 1;
              }
            }
          }

          &-icon {
            & use {
              stroke: rgb(var(--color-primary));
            }
          }
        }
      }

      &--open {
        & > .collapse__head {
          & .collapse__head-icon {
            transform: rotate(180deg); 
          }
        }
      }
    }

    #{$root}__list {
      margin: 1rem -1.25rem 0;

      &-second {
        & .collapse {
          margin: 0 -1.25rem;
          padding-left: 1.75rem;
        }

        & .collapse, & .collapse:hover, & .collapse--open {
          & .collapse__head {
            color: rgb(var(--color-black));
            font-weight: 400;
            font-size: 1rem;

            &:after {
              right: 0.75rem;
            }

            &-icon {
              & use {
                stroke: rgb(var(--color-grey));
              }
            }
          }

          & .collapse__content {
            font-size: 1rem;
          }
        }

        & .collapse:hover, & .collapse--open {
          & .collapse__head {
            &-icon {
              & use {
                stroke: rgb(var(--color-black));
              }
            }
          }
        }
      }

      &-third {
        & li {
          margin-left: 1.75rem;
          padding: 0.75rem 0;
          border-bottom: 1px solid rgb(var(--color-black-light));
        }
      }

      @include media($md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem -1.9375rem 0;
      }
    }
  }
}