.filter-actions {
  $block: &;

  display: none;
  gap: 0.5rem;
  position: sticky;
  top: 4.5rem;
  margin-left: auto;
  margin-top: 1.5rem;
  z-index: var(--z-popup);

  &.active {
    @extend %flex-end;

    &#{$block}--sp {
      justify-content: flex-start;
    }
  }

  @include media($lg) {
    gap: 0.5rem;
    top: 7rem;
    float: right;
    margin-top: 0;
  }

  @include media($full) {
    margin-top: 0;
  }

  &--active {
    @extend %flex-end;

    width: max-content;

    #{$block}__density {
      margin-left: none;
    }

    @include media($md) {
      #{$block}__text {
        display: none;
      }

      #{$block}__sorts {
        &.active.btn {
          #{$block}__icon--common {
            display: block;
          }

          #{$block}__icon--cross {
            display: none;
          }
        }
      }

      #{&root}__filters, #{$block}__categories {
        &.hide-icon.btn, &.active.btn {
          #{$block}__icon--common {
            @include media($md) {
              display: block;
            }
          }

          #{$block}__icon--cross {
            @include media($md) {
              display: none;
            }
          }  
        }

        &.hide-icon.btn {
          #{$block}__filters-count {
            display: block;
          }
        }
      }
    }

    @include media($lg) {
      margin-top: 0;
    }

    @include media($full) {
      margin-top: 0;

      #{$block}__text {
        display: block;
      }
    }
  }

  & .btn {
    font-weight: 400;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
  }

  &__text {
    display: none;

    @include media($md) {
      display: block;
    }
  }

  &__categories, &__filters, &__sorts, &__density {
    &--active {
      display: inline-flex;
    }
  }

  &__filters, &__categories, &__sorts {
    & #{$block}__icon--cross {
      display: none;
      fill: rgb(var(--color-black));
    }

    &.active.btn {
      border-color: transparent;
      background-color: rgb(var(--color-primary-pale));

      #{$block}__icon--cross {
        display: block;
      }

      #{$block}__icon--common {
        display: none;
      }
    }
  }

  &__filters, &__categories {
    &-count {
      display: none;
    }

    &.btn--tag:not(.active) {
      #{$block}__filters-count {
        display: block;
      }
    }
      
    &.hide-icon.btn {
      #{$block}__icon--common {
        @include media($md) {
          display: none;
        }
      }
    }

    &.hide-count.btn {
      #{$block}__filters-count {
        display: none;
      }
    }
  }

  &__density {
    &--ml-auto {
      margin-left: auto;
    }

    @include media($lg) {
      display: none;
    }

    &--active {
      display: inline-flex;

      @include media($lg) {
        display: none;
      }
    }

    &--tile#{$block}__density {
      & #{$block}__density-tile {
        display: none;
      }
      & #{$block}__density-grid {
        display: block;
      }
      &.btn {
        border-color: rgb(var(--color-primary));
        background-color: rgb(var(--color-primary-soft));
      }
    }

    &-grid {
      display: none;
    }
  }

  &__icon {
    @include media($md) {
      display: block;
    } 
  }

  &__icon-default {
    display: block;

    @include media($md) {
      display: none;
    } 
  }
}
