@import "../basis/_extends";
@import "../basis/_mixins";
@import "../basis/_variables";

.filters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;

  @include media($md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media($lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media($full) {
    grid-template-columns: repeat(5, 1fr);
  }

  &__column {
    & > div:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  &--sp {
    @include media($md) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include media($lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @include media($full) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    &--categories {
      @include media($lg) {
        display: none;
      }
    }
  }

  &__collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: flex-start;

      @include media($lg) {
        grid-template-columns: repeat(3, max-content);
        gap: 1.25rem 1.88rem;
      }
    }

    & .product-menu {
      width: 100%;
      gap: 0.75rem;
    }

    & .product-menu__item {
      width: 100%;

      & .collapse__head, & .radio, & .product-menu__submenu {
        width: 100%;

        & li:not([class]) {
          width: 100%;
        }
      }

      & .product-menu__title {
        border-width: 0px;
      }
    }

    & .radio__content {
      border-bottom: 1px solid rgb(var(--color-black-light));
      padding-bottom: 0.7rem;
    }
  }

  &.shop-window__form-filter-filters {
    & .filters__item {
      margin: 0 -1.25rem;
      border-bottom: 1px solid rgb(var(--color-black-light));

      @include media($md) {
        margin: 0 0 1.25rem;
        border-bottom: 1px solid transparent;
        
        & .collapse {
          background-color: rgb(var(--color-primary-soft));
        }
      }

      @include media($lg) {
        & .collapse {
          background-color: rgb(var(--color-white));
        }
      }
    }
  }
}