.form-filters {
  $root: &;

  margin-top: 1.25rem;

  & > *:not(:first-child) {
    margin-top: 1.25rem;
  }

  &__chips {
    display: none;
    
    &.active {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}