.preview-toolbar-action {
  & .preview-toolbar-action__subscribe {
    display: none;
  }

  &--active {
    & .preview-toolbar-action__subscribe {
      @include media($md) {
        display: inline-flex;
      }
    }
  }
}

.inner-jp-goods {
  $block: &;

  &__tabs {
    margin: 0;
  }

  & .tabs__list {
    & .tabs__tab {
      margin: 0;
      border-radius: var(--radius-medium);
      border-width: 2px;
    }
  }
}
