.jp-details {
  $block: &;

  &__wrapper {
    @extend %flex-column;
    gap: 1.5rem;

    @include media ($lg) {
      gap: 2rem;
    }
  }

  &__header {
    @extend %flex-column;
    gap: 1.25rem;
  }

  &__header__title {
    @extend %flex-column;
    gap: 1rem;

    @include media($lg) {
      flex-flow: row;
      justify-content: space-between
    }
  }

  &__header__title-txt {
    @extend %flex-column;
    gap: 0.25rem;
  }

  &__header__title-txt-about {
    font-size: 1.125rem;
    color: rgb(var(--color-grey));
  }

  &__header__title-txt-phrase {
    font-size: 1.5rem;
    font-weight: 600;

    @include media($lg) {
      font-size: 2rem;
    }
  }

  &__header__title-subscribe {
    @extend %flex-end-center;
    gap: 1.125rem;
    flex-flow: row-reverse;

    @include media($lg) {
      flex-flow: row;
    }
  }

  &__header-conditions {
    @extend %flex-space-between;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.125rem;

    @include media($md) {
      justify-content: space-between;
    }

    @include media($lg) {
      gap: 0;
    }
  }

  &__header-conditions-discount {
    @extend %flex-column;
    flex: unset;
    order: 2;
    gap: 0.25rem;

    @include media($lg) {
      flex-flow: row;
      order: 1;
      gap: 0.75rem;
    }
  }

  &__header-conditions-discount-badge {}

  &__header-conditions-discount-sum {
    font-size: 0.875rem;
    line-height: 1.25rem;
    max-width: unset;

    @include media($lg) {
      max-width: 5.125rem;
    }
  }

  &__header-conditions-progress {
    order: 1;
    min-width: 100%;
    @extend %flex-column;
    gap: 0.5rem;

    @include media($md) {
      order: 2;
      min-width: unset;
    }

    @include media($md) {
      min-width: 45%;
    }
  }

  &__header-conditions-progress-sum {
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-align: center;

    & :first-child {
      font-weight: 400;
      letter-spacing: 0;
    }
  }

  &__header-conditions-progress-range {}

  &__header-conditions-activity {
    line-height: 1.5rem;
    order: 3;
    flex: unset;
    margin-left: 0.25rem;

    @include media($md) {
      margin-left: 0;
    }
  }

  &__header-conditions-activity-title {}

  &__header-conditions-activity-date {
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
  }

  &__source {
    @extend %flex-column;
    gap: 1.5rem;

    @include media($lg) {
      flex-flow: row;
      justify-content: space-between;
    }
  }

  &__source-shop {
    @extend %flex-column;
    min-width: 48%;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__source-author {
    @extend %flex-column;
    min-width: 48%;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__source-author-name-txt {
    font-weight: 600;
  }

  &__source-author-sp-date {
    color: rgb(var(--color-grey));
    @extend %flex-end;
    gap: 0.15rem;
    font-size: 1rem;

    @include media($md) {
      flex-flow: column;
      text-align: end;
    }
  }

  &__source-shop-title {
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__source-shop-inner {
    @extend %flex-column;

    gap: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 34rem;
    padding: 0.75rem 1rem;
    background-color: rgb(var(--color-primary-soft));
    border-radius: var(--radius-small);

    @include media($md) {
      gap: 1rem;
      flex-flow: row;
      align-items: center;
    }
  }

  &__source-shop-img {
    img {
      max-width: unset;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }

  &__source-shop-inner-content {
    @extend %flex-align-center;

    gap: 0.5rem;
    padding: 0;
    max-width: 19rem;
  }

  &__source-author-title {
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__source-author-inner {
    @extend %flex-column;

    gap: 0.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 34rem;
    padding: 0.75rem 1rem;
    background-color: rgb(var(--color-primary-soft));
    border-radius: var(--radius-small);

    @include media($md) {
      gap: 1rem;
      flex-flow: row;
      align-items: center;
      justify-content: space-between
    }
  }

  &__source-author-inner-content {
    @extend %flex-align-center;

    gap: 0.5rem;
    padding: 0;
    max-width: 19rem;
  }

  &__source-author-img {
    img {
      max-width: unset;
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }

  &__description {
    @extend %flex-column;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem
    }
  }

  &__description-title {
    line-height: 1.25rem;
    font-weight: 600;
  }

  &__description-text {
    font-size: 1rem;
  }

  &__description-inner {
    @extend %flex-column;
    align-items: flex-start;
    gap: 0.5rem;

    @include media($md) {
      gap: 0.75rem;
    }
  }

  &__description__btn {
    & .btn-show-text {
      color: rgb(var(--color-grey));
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: 600;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__control {
    @extend %flex-column;
    align-items: flex-start;
    gap: 1rem;

    @include media($md) {
      flex-flow: row;
    }

    @include media($lg) {
      margin-top: 0.5rem;
    }
  }

  &__control-btn-mobile {
    display: block;

    @include media($md) {
      display: none;
    }
  }

  &__control-btn {
    display: none;

    @include media($md) {
      display: block;
    }
  }
}