.popup {
  $root: &;

  &__overlay {
    @extend %flex-center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    padding: 1.25rem;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(6px);
    z-index: var(--z-over);
    cursor: pointer;
  }

  &--onlymobile {
    @include media($lg) {

      & #{$root}__overlay {
        position: relative;
        height: 0;
        padding: 0;
        background-color: transparent;
        backdrop-filter: none;
        z-index: 1;
        transform: scale(1);
      }

      & #{$root}__content {
        padding: 0;
      }
    }
  }

  &--open {
    & #{$root}__overlay {
      transform: scale(1);
    }
  }

  &--no-overlay {
    #{$root}__overlay {
      display: block;
      padding: 0;
      backdrop-filter: unset;
      background-color: rgb(var(--color-white));
      bottom: 4rem;

      @include media($lg) {
        bottom: 0;
      }
    }

    #{$root}__content {
      max-width: 100%;
      height: 100%;
    }
  }

  &__content {
    max-width: 30rem;
    width: 100%;
    max-height: 100%;
    height: max-content;
    padding: 0.75rem 1rem;
    background-color: rgb(var(--color-white));
    border-radius: var(--radius-medium);
    overflow-y: auto;
    cursor: default;
  }
}