.product-in-modal {
  $block: &;

  &__popup-product {
    & .popup__overlay {
      padding: 0;

      @include media($lg) {
        padding: 2.5rem;
      }

      @include media($full) {
        padding: 5rem;
      }
    }

    & .popup__content {
      gap: 1rem;
      max-width: unset;
      padding: 1rem 1.25rem;

      @include media($lg) {
        gap: 0.625rem;
        max-width: var(--max-width-container-1072);
        padding: 1.5rem 2rem;
      }

      @include media($full) {
        gap: 1rem;
        max-width: var(--max-width-container-1408);
        padding: 1.5rem 2.5rem;
      }
    }

    & .popup__header {
      color: rgb(var(--color-primary));
    }
  }
}