.product-in-modal {
  $block: &;

  &__product-popup {
    & .popup__overlay {
      padding: 0;
      overflow-y: scroll;
    }

    & .popup__content {
      gap: 1rem;
      max-height: unset;
      position: fixed;
      top: 0;
      bottom: 0;
      max-width: unset;

      @include media($lg) {
        gap: 0.625rem;
        top: 2.5rem;
        bottom: 2.5rem;
        max-width: var(--max-width-container-popup-product-1072);
      }

      @include media($full) {
        gap: 1rem;
        top: 5rem;
        bottom: 5rem;
        max-width: var(--max-width-container-popup-product-1408);
      }
    }

    & .popup__header {
      color: rgb(var(--color-primary));
    }

    & .product__wrapper {
      @include media($lg) {
        grid-template-columns: 31% 25% auto;
        column-gap: 2rem;
      }
    }

    & .product__delivery-content {
      @include media($full) {
        flex-flow: row;
      }
    }

    & .product__delivery-description {
      @include media ($full) {
        grid-row: 2/3;
        grid-column: 1/3;
      }
    }
  }
}