@import "../basis/_extends";
@import "../basis/_mixins";
@import "../basis/_variables";

.product-menu {
  $root: &;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  #{$root} &__item {
    padding: 0;

    &.collapse {
      // #{$root}__title {
      //   border-color: rgb(var(--color-black));

      //   &:hover {
      //     border-color: rgb(var(--color-black));
      //   }
      // }

      &--open {
        // #{$root}__title {
        //   border-color: rgb(var(--color-black));
        // }
  
        #{$root}__submenu {
          margin-top: 0;
        }
      }
      
      &--close {
        transition: var(--transition-base);
        margin-bottom: -0.5rem;

        #{$root}__title {
          border-color: transparent;
        }
      }
    }
  }

  #{$root} > &__item.collapse--open > .collapse__head #{$root}__title {
    border-color: rgb(var(--color-black));
  }

  #{$root} &__title {
    display: inline-flex;
    justify-content: flex-start;
    gap: 0.5rem;
    font-weight: 600;
    border-bottom: solid;
    border-width: 1px;
    border-color: transparent;
    transition: var(--transition-base);
  }

  #{$root}__submenu {
    margin-top: 0;
    padding-left: 1.25rem;
    font-size: 0.875rem;
  }

  #{$root}__item, #{$root}__submenu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    cursor: pointer;
  }

  #{$root}__submenu {
    gap: 0.5rem;
  }

  #{$root} &__count {
    color: rgb(var(--color-grey));
  }

  li:not([class]) {
    transition: var(--transition-base);
    border-bottom: 1px solid transparent;

    #{$root}__title {
      font-weight: 400;
    }
  }
  
  li:not([class])--active {
    color: rgb(var(--color-primary));
    border-bottom: 1px solid rgb(var(--color-primary));
    font-weight: 600;
  }
  
  li:not([class]):hover {
    #{$root}__title {
      border-bottom: 1px solid rgb(var(--color-primary));
      font-weight: 600;
    }
  }

  @include media($lg) {
    & .radio__custom {
      display: none;
    }

    #{$root}__submenu {
      & .radio input {
        &:checked + span {
          color: rgb(var(--color-primary));
  
          & #{$root}__title {
            border-color: rgb(var(--color-primary));
            font-weight: 600;
          }
        }
      }
    }
    
  }
}
