.product-modal-discount {
  $root: &;

  .popup__content {
    max-width: unset !important
  }

  &__wrapper {
    @extend %flex-space-between;
    padding-top: 1rem;
    margin-bottom: 1.75rem;
    gap: 1.5rem;
    align-items: baseline
  }

  &__inner {
    @extend %flex-column;
    flex: 1 1 49%;
    gap: 1.75rem;
  }

  &__title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }

  &__info-inner {
    @extend %flex-column;
    gap: 1rem;
    background-color: rgb(var(--color-primary-soft));
    padding: 1rem 1.5rem;
  }

  &__info-img {
    img {
      max-width: unset;
      width: 3.5rem;
      height: 5rem;
      object-fit: cover;
    }
  }

  &__info-description {
    @extend %flex-row;
    gap: 0.75rem;
  }

  &__info-title {
    @extend %flex-column;
    gap: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &__info-brand {
    color: rgb(var(--color-grey));
  }

  &__info-price {
    @extend %flex-column;
  }

  &__info-price-inner {
    @extend %flex-row;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  &__info-price-item-crossed {
    text-decoration: line-through;
    color: rgb(var(--color-grey));
  }

  &__info-price-item-new {
    color: rgb(var(--color-black));
  }

  &__info-price-item-amount {
    color: rgb(var(--color-grey));
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  &__price-discount {
    color: rgb(var(--color-primary));
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  &__seller {
    @extend %flex-column;
  }

  &__seller-inner {
    @extend %flex-row;
    gap: 0.75rem;
    background-color: rgb(var(--color-primary-soft));
    padding: 1rem 1.5rem;
  }

  &__seller-img {
    img {
      max-width: unset;
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
  }

  &__seller-name {
    color: rgb(var(--color-black));
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    max-width: 70%
  }

  &__choice {
    @extend %flex-column;
  }

  &__choice-select {
    max-width: 40%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: rgb(var(--color-white));
  }

  thead {
    tr {
      th {
        color: rgb(var(--color-grey));
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 400;
      }
    }
  }

  th,
  td {
    padding: 0.375rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  th {
    background-color: rgb(var(--color-white));
  }

  tr:nth-child(odd) {
    background-color: rgb(var(--color-primary-soft));
  }

}