@import "../basis/_extends";
@import "../basis/_mixins";
@import "../basis/_variables";

.product-card {
  $root: &;

  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--color-primary-soft));
  padding: 1px;
  border: 2px solid rgb(var(--color-primary-soft));
  border-radius: var(--radius-small);
  transition: var(--transition-base);
  cursor: pointer;

  &:hover {
    @include media($lg) {
      padding: 0;
      border: 2px solid rgb(var(--color-primary-light));
  
      #{$root}__sizes, #{$root}__likes {
        display: inline-flex;
      }
  
      #{$root}__img {
        &-first {
          display: none;
        }
        &-second {
          display: block;
        }
      }
  
      #{$root}__descr {
        position: absolute;
        height: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(252, 249, 246, 1);
      }
    }
  }

  .shop-window--horizontally &, &--horizontally {
    display: grid;
    grid-template-columns: 8.3rem 1fr;

    @include media($md) {
      grid-template-columns: 16.6rem 1fr;
    }

    @include media($lg) {
      grid-template-columns: 8.3rem 1fr;
    }

    #{$root}__img {
      &-wrapper {
        @include media($md) {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }

        @include media($lg) {
          grid-template-columns: 1fr;
        }
      }

      &-second {
        @include media($md) {
          display: block;
        }

        @include media($lg) {
          display: none;
        }
      }
    }

    #{$root}__title {
      -webkit-line-clamp: unset;
    }

    #{$root}__sizes, #{$root}__likes {
      display: inline-flex;
      align-items: center;
    }

    #{$root}__price {
      @include media($md) {
        justify-content: flex-start;
      }
      @include media($lg) {
        justify-content: space-between;
      }
    }

    #{$root}__descr {
      position: static;
    }

    #{$root}__info {
      max-width: 15.6rem;
      bottom: 0.5rem;
      top: unset;
    }
  }

  &__img {
    position: relative;

    &-first, &-second {
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      padding-top: 150%;

      & img {
        position: absolute;
        top: 0;
      }
    }

    &-second {
      display: none;
    }
  }

  &__like, &__info {
    position: absolute;
    left: 1rem;
  }

  &__like {
    top: 1rem;

    & svg use {
      fill: rgb(var(--color-primary));
      stroke: rgb(var(--color-primary));
      stroke-width: 2px;
    }
  }

  &__info {
    position: absolute;
    top: -2.5rem;
    right: 0;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    &-wrap {
      width: max-content;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &__descr, &__descr-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__descr {
    position: relative;
    height: 100%;
    min-height: 6.6625rem;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }

  &__brand {
    color: rgb(var(--color-grey));
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }

  &__sizes, &__likes {
    display: none;
  }

  &__sizes {
    gap: 0.5rem;

    &-variants {
      @extend %flex-center;
      gap: 0.5rem;
    }

    &-more {
      color: rgb(var(--color-grey))
    }
  }

  &__likes {
    gap: 0.25rem;

    & svg {
      width: 1rem;
      height: 1rem;

      & use {
        fill: rgb(var(--color-grey));
        stroke: rgb(var(--color-grey));
        stroke-width: 2px;
      }
    }
  }

  &__price {
    @extend %flex-space-between;

    gap: 0.5rem;
    flex-wrap: wrap;
    font-weight: 600;

    #{$root} &-sale {
      color: rgb(var(--color-primary));
    }

    #{$root} &--discount &-current {
      color: rgb(var(--color-grey));
      text-decoration: line-through;
      text-decoration-thickness: 2px;
    }
  }
}