.range {
  $root: &;

  width: 100%;
  padding-top: 1.37rem;

  &__inputs {
    @extend %flex-space-between;

    gap: 0.25rem;
    margin-top: calc(1.25rem + 1.37rem);
  }

  &__min, &__max {
    @extend %flex-center;

    gap: 0.25rem;
  }

  &__input-wrapper {
    max-width: 8rem;
  }

  &__input {
    width: 100%;
    font-size: 1rem;

    &::placeholder {
      font-size: 1rem;
    }
  }
}