@import "../basis/_extends";
@import "../basis/_mixins";
@import "../basis/_variables";

.share {
  $root: &;

  display: flex;
  align-items: center;

  color: rgb(var(--color-grey));
  border-radius: var(--radius-small);

  &__open, &__close, &__icon {
    cursor: pointer;
  }

  &__block, &__list {
    @extend %flex-center;
    gap: 0.75rem;
  }

  &__block {
    height: 0;
    background-color: rgb(var(--color-primary-soft));
    overflow: hidden;
  }

  &--open {
    & #{$root}__open {
      display: none;
    }

    & #{$root}__block {
      height: auto;
      animation: slide-in 0.4s forwards;
    }
  }

  &--close {
    & #{$root}__block {
      height: 100%;
      animation: slide-out 0.4s forwards;
    }
  }
}

@keyframes slide-in {
  0% {
    width: 0;
    padding: 0;
  }

  100% {
    width: 100%;
    padding: 0.75rem;
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
    padding: 0.75rem;
  }

  100% {
    width: 0;
    padding: 0;
  }
}