@import "../basis/_variables";
@import "../basis/_mixins";
@import "../basis/_extends";

.shop-preview {
  $root: &;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include media($lg) {
    gap: 1.25rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @include media($full) {
    align-items: center;
  }

  &__block-img {
    margin: 0 -1.25rem;

    @include media($md) {
      margin: 0 -2.5rem;
    }

    @include media($lg) {
      width: 100%;
      max-width: 52rem;
      margin: 0;
      overflow: hidden;

      & img {
        border-radius: var(--radius-lg);
      }
    }

    @include media($full) {

    }
  }

  &__block-descr {
    @include media($lg) {
      max-width: 35.5rem;
      width: 100%;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-top: -0.1875rem;
    font-family: BebasNeue;
    font-weight: 400;

    @include media($full) {
      font-size: 3rem;
      line-height: 3.5rem;
    }
  }

  &__about {
    margin-top: 0.75rem;

    @include media($full) {
      margin-top: 1.25rem;
    }
  }

  &__bread-crumbs {
    margin-top: 0.25rem;

    @include media($lg) {
      margin-top: 0.5rem;
    }
  }

  &__followers {
    font-weight: 600;
    margin-top: 1rem;

    @include media($lg) {
      margin-top: 0.75rem;
    }

    @include media($full) {
      margin-top: 1.25rem;
    }
  }

  &__actions {
    @extend %flex-align-center;
    
    gap: 1.25rem;
    margin-top: 1rem;
    z-index: var(--z-popup);

    &--over {
      z-index: var(--z-over);
    }

    @include media($lg) {
      margin-top: 1.5rem;
    }

    @include media($full) {
      margin-top: 2.5rem;
    }

    #{$root}__btn-top, #{$root}__brand {
      display: none;
    }

    &--active {
      position: fixed;
      top: 72px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0.5rem 1.25rem;
      max-width: var(--max-width-container);
      background-color: rgb(var(--color-white));

      #{$root}__btn-top, #{$root}__brand {
        display: flex;
      }

      #{$root}__subscribe {
        display: none;
      }

      @include media($md) {
        padding: 0.5rem 2.5rem;

        #{$root}__subscribe {
          display: inline-flex;

          & .btn {
            background-color: transparent;
            color: rgb(var(--color-primary));
            padding-left: 0;
            padding-right: 0;
          }

          &-dote {
            display: block;
            width: 0.25rem;
            height: 0.25rem;
            background-color: rgb(var(--color-grey));
            border-radius: var(--radius-round);
          }
        }
      }
  
      @include media($lg) {
        top: 103px;
        margin-top: 0;
        padding: 0.5rem 4rem;

        #{$root}__brand-name {
          display: block;
        }
      }
  
      @include media($full) {
        margin-top: 0;
        padding: 0.5rem 0;
        left: 0;
        right: 0;
      }
    }
  }

  &__subscribe {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__btn-top {
    cursor: pointer;
  }

  &__brand {
    @extend %flex-center;

    gap: 0.5rem;
    overflow: hidden;

    &-logo {
      flex-shrink: 0;
      width: 3rem;
      height: 3rem;
      border-radius: var(--radius-round);
      overflow: hidden;
    }

    &-name {
      @extend %ellipsis;
      
      display: none;
      font-weight: 600;
    }
  }
}