@import "../basis/_extends";
@import "../basis/_mixins";
@import "../basis/_variables";

.shop-window {
  $root: &;

  &__title {
    color: rgb(var(--color-grey));

    @include media($md) {
      display: none;
    }
  }

  &__inner {
    margin-top: 0.5rem;

    @include media($md) {
      margin-top: 0;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    @include media($lg) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__tabs {
    position: relative;
    margin: 0 1.5rem;

    @include media($md) {
      display: inline-block;
      margin: 0;
    }

    @include media($lg) {
      margin: 0;
    }

    @include media($full) {
      margin: 0;
    }

    & .swiper-button-next {
      transform: translate(50%, -3px);
    }

    & .swiper-button-prev {
      transform: translate(-50%, -3px);
    }

    & .tabs__tab {
      @extend %ellipsis;

      width: max-content;
      margin: 0 auto;

      @include media($md) {
        margin: unset;
      }
    }
  
    & .swiper-slide {
      @include media($md) {
        flex-shrink: unset;
        width: unset;
      }
    }
  
    & .swiper-button-prev, .swiper-button-next {
  
      @include media($md) {
        display: none;
      }
    }
  }

  &__actions {
    display: none;
    gap: 0.5rem;
    position: sticky;
    top: 81px;
    margin-left: auto;
    margin-top: 1.5rem;
    z-index: var(--z-popup);

    &.active {
      @extend %flex-end;

      &#{$root}__actions-sp {
        justify-content: flex-start;
      }
    }

    @include media($lg) {
      gap: 0.5rem;
      top: 113px;
      float: right;
      margin-top: 0;
    }

    @include media($full) {
      margin-top: 0;
    }

    &--active {
      @extend %flex-end;

      width: max-content;

      #{$root}__actions-density {
        margin-left: none;
      }

      @include media($md) {
        #{$root}__actions-sorts {
          #{$root}__actions-text {
            display: block;
          }
        }
      }

      @include media($lg) {
        margin-top: 0;
      }

      @include media($full) {
        margin-top: 0;

        #{$root}__actions-text {
          display: block;
        }
      }
    }

    & .btn {
      font-weight: 400;
      padding-left: 0.65rem;
      padding-right: 0.65rem;
    }

    &-text {
      display: none;

      @include media($md) {
        display: block;
      }
    }

    &-categories, &-filters, &-sorts, &-density {
      &--active {
        display: inline-flex;
      }
    }

    &-filters, &-categories, &-sorts {
      #{$root}__actions-icon--cross {
        display: none;
        fill: rgb(var(--color-black));
      }

      &.active.btn {
        border-color: transparent;
        background-color: rgb(var(--color-primary-pale));

        #{$root}__actions-icon--cross {
          display: block;
        }

        #{$root}__actions-icon--common {
          display: none;
        }
      }
    }

    &-filters, &-categories {
      &-count {
        display: none;
      }

      &.btn--tag:not(.active) {
        #{$root}__actions-filters-count {
          display: block;
        }
      }
      
      &.hide-icon.btn {
        #{$root}__actions-icon--common {
          @include media($md) {
            display: none;
          }
        }
      }

      &.hide-count.btn {
        #{$root}__actions-filters-count {
          display: none;
        }
      }
    }

    &-density {
      margin-left: auto;

      @include media($lg) {
        display: none;
      }

      &--active {
        display: inline-flex;

        @include media($lg) {
          display: none;
        }
      }

      &#{$root}__actions-density--tile {
        & #{$root}__actions-density-tile {
          display: none;
        }
        & #{$root}__actions-density-grid {
          display: block;
        }
        &.btn {
          border-color: rgb(var(--color-primary));
          background-color: rgb(var(--color-primary-soft));
        }
      }

      &-grid {
        display: none;
      }
    }

    &-icon {
      @include media($md) {
        display: block;
      } 
    }

    &-icon-default {
      display: block;

      @include media($md) {
        display: none;
      } 
    }
  }

  &__form {
    margin-top: 1.25rem;

    &.hide {
      display: none;
    }

    & > *:not(:first-child) {
      margin-top: 1.25rem;
    }

    &-sorting {
      display: none;

      &.active {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1.25rem;
        background-color: rgb(var(--color-primary-pale));
        z-index: var(--z-top);
        overflow-y: auto;

        #{$root}__form-sorting-btn {
          & .radio__custom, #{$root}__actions-text, #{$root}__actions-icon {
            display: block;
          }

          & .btn {
            background-color: transparent;
            border-color: transparent;
          }
        }

        @include media($md) {
          padding: 2rem 10rem;
        }

        @include media($lg) {
          position: relative;
          display: grid;
          grid-template-columns: repeat(4, max-content);
          gap: 0.75rem;
          max-width: max-content;
          margin: 0 auto;
          padding: 1.25rem 2rem;
          border-radius: var(--radius-small);
          z-index: unset;

          #{$root}__form-sorting-btn {
            & .radio__custom {
              display: none;
            }
  
            & .btn {
              background-color: rgb(var(--color-white));

              &:hover {
                border-color: rgb(var(--color-primary));
              }
            }

            & .radio input:checked + span {
              & .btn {
                border-color: rgb(var(--color-primary));
              }
            }
          }
        }

        @include media($full) {
          grid-template-columns: repeat(8, max-content);
          grid-template-areas: "popular-asc popular-desc rate-asc rate-desc cost-asc cost-desc name-asc name-desc";
          gap: 1.25rem;
          padding: 2.5rem;
        }
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 1.375rem;
        font-weight: 600;

        #{$root}__form-sorting-cross {
          cursor: pointer;
          fill: rgb(var(--color-grey))
        }

        @include media($lg) {
          display: none;
        }
      }

      & .btn {
        font-weight: 400;
        padding: 0.75rem;
      }

      &-btn {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(var(--color-black-light));
          padding-bottom: 0.5rem;
        }

        @include media($lg) {
          &:not(:last-child) {
            border-bottom: unset;
            padding-bottom: unset;
          }
        }

        @include media($full) {
          &--popular-up {
            grid-area: popular-asc;
          }
          &--popular-down {
            grid-area: popular-desc;
          }
          &--rate-up {
            grid-area: rate-asc;
          }
          &--rate-down {
            grid-area: rate-desc;
          }
          &--cost-up {
            grid-area: cost-asc;
          }
          &--cost-down {
            grid-area: cost-desc;
          }
          &--name-up {
            grid-area: name-asc;
          }
          &--name-down {
            grid-area: name-desc;
          }
        }
      }
    }

    &-chips {
      display: none;
      
      &.active {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
      }
    }

    &-filter {
      display: none;
      padding: 1rem 1.25rem;
      background-color: rgb(var(--color-white));

      &.active {
        display: block;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        overflow-y: auto;
        z-index: var(--z-top);

        @include media($lg) {
          position: relative;
          margin-top: 1.25rem;
          padding: 2rem 3rem;
          background-color: rgb(var(--color-primary-pale));
          z-index: unset;
        }
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        font-size: 1.375rem;
        font-weight: 600;

        #{$root}__form-filter-cross {
          cursor: pointer;
        }

        @include media($lg) {
          display: none;
          margin-bottom: 0;
        }
      }

      &-filters {
        margin-bottom: 1.25rem;
      }

      &-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        &-clear {
          width: 3rem;
        }

        &-text {
          display: none;
        }

        @include media($md) {
          flex-direction: row;

          &-clear {
            display: none;
          }

          &-text {
            display: block;
          }
        }

        padding: 1.25rem 0 0;
        border-top: 1px solid rgb(var(--color-white));

        & .btn--text {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &-clear {
        &.btn {
          background-color: rgb(var(--color-primary-soft));

          @include media($md) {
            background-color: transparent;
          }
        }
      }
    }
  }

  &__menu {
    display: none;

    @include media($lg) {
      display: block;
    }
  }

  &__goods, &__tff {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;

    @include media($lg) {
      grid-template-columns: 15rem 1fr;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1px;
      margin: 0 -1.25rem;

      #{$root}--horizontally & {
        grid-template-columns: 1fr;
        gap: 0.5rem;
      }
  
      @include media($md) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        margin: 0;
      }
  
      @include media($lg) {
        gap: 1rem;
      }

      @include media($full) {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
      }
    }
  }

  &__joint-purchases {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    &-search {
      &-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &-actions {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1.25rem;

      @include media($lg) {
        grid-template-columns: 1fr 1fr;
      }

      @include media($full) {
        grid-template-columns: 34rem auto;
      }
    }

    &-btn {
      & .btn {
        padding: 0.75rem;
      }

      @include media($md) {
        & svg {
          display: none;
        }

        & .btn {
          padding: 0.75rem 1.5rem;
        }
      }

      &-text {
        display: none;

        @include media($md) {
          display: block;
        }
      }
    }

    &-contents {
      display: grid;
      grid-template-columns: 100%;
      gap: 0.5rem;
      margin: 0 -1.25rem;

      @include media($md) {
        gap: 0.75rem;
        margin: unset;
      }

      @include media($lg) {
        grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
        gap: 1rem;
      }
    }
  }

  &__tabs-contents {
    margin-top: 1.25rem;

    @include media($md) {
      margin-top: 1.5rem;
    }

    @include media($lg) {
      margin-top: 2.5rem;
    }
  }
}
