@import "../basis/_mixins";
@import "../basis/variables";

.shop-preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include media($lg) {
    gap: 1.25rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__block-img {
    margin: 0 -1.25rem;

    @include media($md) {
      margin: 0 -2.5rem;
    }

    @include media($lg) {
      width: 100%;
      max-width: 30.25rem;
      margin: 0;
      max-height: 16rem;
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }

  &__block-descr {
    @include media($lg) {
      max-width: 35.5rem;
      width: 100%;
    }
  }

  &__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-top: -0.1875rem;
    font-family: BebasNeue;
    font-weight: 400;
  }

  &__about {
    margin-top: 0.75rem;
  }

  &__bread-crumbs {
    margin-top: 0.25rem;

    @include media($lg) {
      margin-top: 0.5rem;
    }
  }

  &__subscribers {
    font-weight: 600;
    margin-top: 1rem;

    @include media($lg) {
      margin-top: 0.75rem;
    }
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    @include media($lg) {
      margin-top: 1.5rem;
    }
  }
}