.shop-card-list {
  $root: &;

  margin-top: 1.25rem;

  @include media($md) {
    margin-top: 1.5rem;
  }

  @include media($lg) {
    margin-top: 2rem;
  }

  @include media($full) {
    margin-top: 2.5rem;
  }

  &__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    margin-top: 1.25rem;

    @include media($md) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.25rem;
      margin-top: 2rem;
    }

    @include media($full) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.44rem;
      margin-top: 2.5rem;
    }
  }
}
