.add-publication__created-popup .popup__content,
.add-publication__actions-preview.btn .add-publication__actions-preview-wrapper,
.add-publication__filling-selected-content .add-publication__content-results-list-item-rating,
.add-publication__selected .add-publication__content-results-list-item-clear,
.add-publication__content-empty-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-publication__content-results-list-item-bought {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.add-publication__content-filters.filter-actions {
  display: flex;
  align-items: center;
}

.add-publication__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-publication__filling {
  display: flex;
  flex-direction: column;
}

.add-publication__step-content {
  position: relative;
  display: none;
}

.add-publication__step-content.active {
  display: block;
}

.add-publication__tabs {
  padding: 1rem 1.25rem 0;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-medium);
}

.add-publication__contents {
  padding: 1rem 1.25rem;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-medium);
}

.add-publication__contents-title {
  font-weight: 600;
}

.add-publication__content {
  background-image: url("../../img/icons/icons.svg#add-publication-bg");
  background-size: cover;
}

.add-publication__content--has-items {
  background-image: none;
}

.add-publication__content-filters.filter-actions {
  gap: 1.25rem;
  position: relative;
  top: 0;
  float: none;
  margin-top: 0.75rem;
}

.add-publication__content-filters-input {
  flex-grow: 1;
}

.add-publication__content-results {
  position: relative;
  height: 31.25rem;
  margin: 1.25rem -0.75rem 0 0;
  overflow-y: auto;
}

.add-publication__content-results::-webkit-scrollbar-track {
  background-color: --color-black-light;
}

.add-publication__content-results::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-grey-scrollbar));
}

.add-publication__content-results-title {
  color: rgb(var(--color-grey));
  font-size: 1rem;
}

.add-publication__content-results-status {
  margin-top: 1rem;
  font-size: 1rem;
}

.add-publication__content-results-status-text {
  display: none;
  max-width: 32rem;
  margin: 0 auto;
  text-align: center;
}

.add-publication__content-results-status-text.active {
  display: block;
}

.add-publication__content-results-status-error > p {
  color: rgb(var(--color-red));
}

.add-publication__content-results-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
  gap: 0.25rem;
  margin-top: 1rem;
}

.add-publication__content-results-list-item {
  position: relative;
}

.add-publication__content-results-list-item-subtitle {
  margin-right: 0.25rem;
  color: rgb(var(--color-grey));
}

.add-publication__content-results-list-item-bought {
  color: rgb(var(--color-green));
}

.add-publication__content-results-list-item-bought svg {
  margin-left: 0.25rem;
}

.add-publication__content-results-list-item-bought svg use {
  stroke: rgb(var(--color-green));
}

.add-publication__content-results-list-item.active .publication-item,
.add-publication__content-results-list-item:hover .publication-item {
  border-color: rgb(var(--color-primary));
}

.add-publication__content-results-list-item .publication-item {
  justify-content: stretch;
  gap: 0.75rem;
  height: 100%;
  line-height: 1.5rem;
  border: 2px solid transparent;
  transition: border-color ease 0.3s;
  cursor: pointer;
}

.add-publication__content-results-list-item .publication-item__img {
  height: 5.25rem;
  width: 3.5rem;
}

.add-publication__content-results-list-item .publication-item__title {
  font-size: 1.125rem;
}

.add-publication__content-results-list-item-clear {
  display: none;
  position: absolute;
  height: 3rem;
  width: 3rem;
  right: 0.75rem;
  top: 50%;
  bottom: 0;
  padding: 0;
  background-color: rgb(var(--color-primary-pale));
  border-radius: var(--radius-round);
  transform: translateY(-50%);
  transition: var(--transition-base-without-prop);
  transition-property: background-color;
}

.add-publication__content-results-list-item-clear svg {
  fill: rgb(var(--color-grey));
  stroke-width: 1px;
  transition: var(--transition-base-without-prop);
  transition-property: fill;
}

.add-publication__content-results-list-item-clear:hover {
  background-color: rgb(var(--color-primary));
}

.add-publication__content-results-list-item-clear:hover svg {
  fill: rgb(var(--color-white));
}

.add-publication__content-results-list-item-rating {
  display: none;
  gap: 0.75rem;
  padding: 0.5rem;
}

.add-publication__content-empty-text {
  position: absolute;
  inset: 0;
  padding: 0.5rem;
  color: rgb(var(--color-grey));
  text-align: center;
}

.add-publication__content-empty-text.hide {
  display: none;
}

.add-publication__selected-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 0.5rem;
}

.add-publication__selected-title {
  grid-column: 1/2;
  font-size: 1.375rem;
  font-weight: 600;
}

.add-publication__selected-close {
  grid-column: 2/-1;
  margin-left: auto;
  cursor: pointer;
}

.add-publication__selected-close svg use {
  stroke-width: 1px;
  fill: rgb(var(--color-grey));
}

.add-publication__selected-all-clear {
  grid-column: 1/-1;
  grid-row: 3/4;
  margin: 0 auto 1rem;
}

.add-publication__selected-list {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-top: 1rem;
}

.add-publication__choose-goods {
  margin: 0 -1.25rem;
}

.add-publication__filling {
  gap: 2.5rem;
  max-width: 52rem;
  margin: 0 auto;
}

.add-publication__filling-selected {
  padding: 0;
}

.add-publication__filling-selected-toggle {
  margin-left: 0.5rem;
  color: rgb(var(--color-grey));
}

.add-publication__filling-selected .collapse__head {
  justify-content: flex-start;
}

.add-publication__filling-selected-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
  gap: 0.5rem;
}

.add-publication__filling-selected-content .add-publication__content-results-list-item {
  max-width: 25.5rem;
}

.add-publication__filling-selected-content .add-publication__content-results-list-item .publication-item {
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  border-color: transparent;
}

.add-publication__filling-selected-content .add-publication__content-results-list-item-rating {
  background-color: rgb(var(--color-primary-tag-checked));
  border-radius: 0 0 var(--radius-small) var(--radius-small);
}

.add-publication__filling-selected-content .add-publication__content-results-list-item-rating-text {
  font-size: 1rem;
}

.add-publication__filling-selected-content .add-publication__content-results-list-item-rating-rate {
  display: flex;
}

.add-publication__filling-field-title {
  margin-top: 1.5rem;
  font-weight: 600;
}

.add-publication__filling-field-wrapper {
  margin-top: 1.25rem;
}

.add-publication__filling-field-description {
  max-height: 57rem;
}

.add-publication__filling-field-upload {
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap: 0.75rem 1rem;
  align-items: center;
}

.add-publication__filling-field-upload.active {
  align-items: unset;
}

.add-publication__filling-field-upload-popup svg {
  height: 3.75rem;
  width: 3.75rem;
  margin: 0 auto;
}

.add-publication__filling-field-upload-popup-text {
  margin-top: 1.125rem;
  color: rgb(var(--color-grey));
  font-size: 1rem;
  text-align: center;
}

.add-publication__filling-field-upload-descr {
  font-size: 1rem;
  color: rgb(var(--color-grey));
}

.add-publication__filling-field-upload-descr.hide {
  display: none;
}

.add-publication__filling-field-upload-descr.active {
  display: block;
}

.add-publication__filling-field-upload-files,
.add-publication__filling-field-upload-info,
.add-publication__filling-field-upload-settings {
  display: none;
}

.add-publication__filling-field-upload-files.active,
.add-publication__filling-field-upload-info.active,
.add-publication__filling-field-upload-settings.active {
  display: grid;
}

.add-publication__filling-field-upload-files.hide,
.add-publication__filling-field-upload-info.hide,
.add-publication__filling-field-upload-settings.hide {
  display: none;
}

.add-publication__filling-field-upload-files {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: -moz-max-content;
  width: max-content;
}

.add-publication__filling-field-upload-files-img {
  height: 4rem;
  width: 4rem;
  border-radius: var(--radius-medium);
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.add-publication__filling-field-upload-info,
.add-publication__filling-field-upload-settings {
  grid-column: 1/-1;
}

.add-publication__filling-field-upload-info {
  font-size: 1rem;
  color: rgb(var(--color-grey));
}

.add-publication__filling-field-upload-settings {
  text-align: left;
}

.add-publication__filling-field-tags {
  max-height: 6rem;
}

.add-publication__filling-cropper .popup__content {
  padding: 1rem 1.125rem 2.5rem;
}

.add-publication__actions {
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.add-publication__actions-site {
  display: none;
  height: auto;
  max-width: 9rem;
  text-align: left;
}

.add-publication__actions-site.active {
  display: inline-flex;
}

.add-publication__actions-site.btn {
  padding: 0;
}

.add-publication__actions-preview.btn {
  display: none;
  flex-direction: column;
  justify-items: flex-start;
  gap: 0;
  height: auto;
  padding: 0.5rem 1rem;
  color: rgb(var(--color-black));
}

.add-publication__actions-preview.btn.active {
  display: flex;
}

.add-publication__actions-preview.btn .add-publication__actions-preview-wrapper {
  gap: 0.75rem;
}

.add-publication__actions-preview.btn .add-publication__actions-preview-choose {
  display: none;
  font-weight: 400;
}

.add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery {
  display: none;
}

.add-publication__actions-preview.btn .add-publication__actions-preview-action {
  color: rgb(var(--color-primary));
}

.add-publication__actions-prev,
.add-publication__actions-next {
  display: none;
}

.add-publication__actions-prev.active,
.add-publication__actions-next.active {
  display: block;
}

.add-publication__actions-publication.hide {
  display: none;
}

.add-publication__preview-content {
  margin: 1.5rem -1.25rem 0;
  padding: 1rem 0.75rem 1rem;
  border: 0.5rem rgb(var(--color-primary-tag-checked)) solid;
  border-radius: 0.25rem;
}

.no-webp .add-publication__created-popup .popup__content {
  background-image: url("../../img/created-bg.jpg"); }

.add-publication__created-popup .popup__content {
  height: 100%;
  max-width: var(--max-width-container-1120);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.add-publication .publication__swiper {
  height: auto;
}

.add-publication__from-site-popup .popup__header-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.add-publication__from-site-popup .popup__content {
  height: -moz-max-content;
  height: max-content;
  max-width: 70rem;
}

@media (min-width: 48rem) {
  .add-publication__tabs {
    background-color: transparent;
    border-radius: 0;
    padding: 0 0 0 1.25rem;
  }

  .add-publication__tabs .tabs__tab {
    border-radius: var(--radius-medium) var(--radius-medium) 0 0 !important;
    border-color: transparent !important;
  }

  .add-publication__contents {
    padding: 1.25rem;
  }

  .add-publication__content-filters.filter-actions {
    margin-top: 1.25rem;
  }

  .add-publication__content-results {
    padding-right: 0.5rem;
  }

  .add-publication__content-results-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .add-publication__content-empty-text {
    max-width: 37.5rem;
    margin: 0 auto;
  }

  .add-publication__selected-inner {
    gap: 2rem 0.5rem;
  }

  .add-publication__filling-selected-toggle {
    margin-left: 1rem;
  }

  .add-publication__filling-field-title {
    margin-top: 2.5rem;
  }

  .add-publication__filling-field-media {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .add-publication__filling-field-media-img-wrapper {
    width: 55%;
  }

  .add-publication__filling-field-media-video-wrapper {
    flex-grow: 1;
  }

  .add-publication__filling-field-upload-files {
    grid-template-columns: repeat(4, 1fr);
  }

  .add-publication__filling-cropper .popup__content {
    padding: 2.5rem;
  }

  .add-publication__filling-cropper .popup__header-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .add-publication__actions--first-step {
    margin-top: 0.75rem;
  }

  .add-publication__actions {
    margin-top: 2rem;
  }

  .add-publication__actions-preview.btn {
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2.5rem;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-choose {
    display: block;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item {
    display: none;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item:first-child,
  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item:nth-child(2),
  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item:last-child {
    display: block;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item:last-child img {
    filter: brightness(0.5);
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item:nth-child(1) img,
  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item:nth-child(2) img {
    filter: none;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery .gallery-card__item-more {
    display: flex;
  }

  .add-publication__preview-content {
    margin: 2rem -2.5rem 0;
    padding: 2.5rem;
  }

  .add-publication__created-popup .popup__overlay {
    padding: 0 2.5rem;
  }

  .add-publication__created-popup .popup__content {
    height: 74.16%;
  }

  .add-publication__from-site-popup .popup__header-title {
    flex-grow: 1;
    font-size: 2rem;
    text-align: center;
  }

  .add-publication__from-site-popup .popup__overlay {
    display: flex;
    bottom: 0;
    padding: 2.5rem;
    background: rgba(var(--color-dark), 0.5);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }

  .add-publication__from-site-popup .popup__content {
    gap: 1.5rem;
    padding: 2.5rem 3rem;
  }

  .add-publication__from-site-confirm-popup .popup__content {
    max-width: 34rem;
    padding: 2.5rem 5rem;
  }
}

@media (min-width: 75rem) {
  .add-publication__contents {
    padding: 1.25rem 2.5rem;
  }

  .add-publication__content-results {
    margin: 1.25rem -1.75rem 0 -1.75rem;
  }

  .add-publication__content-results-title {
    padding-left: 1.75rem;
  }

  .add-publication__content-results-status-text {
    max-width: 46rem;
  }

  .add-publication__content-results-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .add-publication__selected.popup .popup__content {
    padding: 0.75rem;
  }

  .add-publication__selected.popup--open .popup__overlay {
    position: absolute;
    top: unset;
    bottom: 0.5rem;
    transform: scale(1);
    padding: 0;
    background: none;
    border: 2px solid rgb(var(--color-primary));
    border-radius: var(--radius-small);
  }

  .add-publication__selected-inner {
    gap: 0.75rem;
  }

  .add-publication__selected-title {
    font-size: 1.125rem;
  }

  .add-publication__selected-close {
    display: none;
  }

  .add-publication__selected-all-clear {
    grid-column: 2/-1;
    grid-row: 1/2;
    margin: 0 0 0 auto;
  }

  .add-publication__selected-list {
    max-height: 40svh;
    overflow-y: auto;
    margin-top: 0;
  }

  .add-publication__selected .add-publication__content-results-list-item-clear {
    display: none;
  }

  .add-publication__selected .add-publication__content-results-list-item:hover .add-publication__content-results-list-item-clear {
    display: flex;
  }

  .add-publication__filling-selected-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .add-publication__filling-field-media {
    gap: 2.5rem;
  }

  .add-publication__filling-field-media-img-wrapper,
  .add-publication__filling-field-media-video-wrapper {
    max-width: 50%;
    width: 100%;
  }

  .add-publication__filling-cropper .popup__content {
    max-width: 70rem;
    padding: 2.5rem 9rem;
  }

  .add-publication__filling-cropper .popup__header {
    justify-content: center;
  }

  .add-publication__filling-cropper .popup__header-btn-close {
    display: none;
  }

  .add-publication__actions--first-step {
    justify-content: flex-start;
    gap: 0.75rem;
  }

  .add-publication__actions-site {
    max-width: -moz-max-content;
    max-width: max-content;
  }

  .add-publication__actions-preview.btn {
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem 3.25rem;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-wrapper {
    gap: 2rem;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .add-publication__actions-preview.btn .add-publication__actions-preview-goods-gallery.active {
    display: inline-flex;
  }

  .add-publication__actions-next {
    margin-left: auto;
  }

  .add-publication__preview-content {
    padding: 6rem 2.5rem;
  }

  .add-publication__from-site-popup .popup__content {
    max-height: 74.16svh;
    padding: 3.75rem 3rem;
  }
}

@media (min-width: 120rem) {
  .add-publication__actions--first-step {
    margin-top: 1.75rem;
  }

  .add-publication__actions {
    margin-top: 2.5rem;
  }

  .add-publication__preview-content {
    margin: 2rem -18rem 0;
    padding: 6rem 9rem;
  }
}

.webp .add-publication__created-popup .popup__content { background-image: url(../../img/created-bg.webp); }