.checkbox__checkmark,
.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: var(--transition-base);
  cursor: pointer;
}

.checkbox:hover {
  color: rgb(var(--color-black-hover));
}

.checkbox input {
  display: none;
}

.checkbox input:checked + .checkbox__checkmark svg {
  opacity: 1;
}

.checkbox input:checked + .checkbox__checkmark + * {
  color: rgb(var(--color-primary));
}

.checkbox__checkmark {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(var(--color-primary));
  border-radius: var(--radius-small);
}

.checkbox__checkmark svg {
  opacity: 0;
  width: 0.875rem;
  height: 0.875rem;
}