.clear-filter-content-popup__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.clear-filter-content-popup__inner {
  padding: 0.25rem;
  text-align: center;
}

.clear-filter-content-popup__title {
  font-size: 1.375rem;
  font-weight: 600;
}

.clear-filter-content-popup__descr {
  margin-top: 1rem;
  color: rgb(var(--color-grey));
}

.clear-filter-content-popup__actions {
  gap: 1.25rem;
  margin-top: 2rem;
}

@media (min-width: 48rem) {
  .clear-filter-content-popup__inner {
    padding: 1.25rem 1.5rem;
  }

  .clear-filter-content-popup__actions {
    gap: 2rem;
  }
}