.filters__item--categories .popup--open .filters__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters__collapse-wrap .checkbox .btn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

.filters .masonry-column {
  overflow: hidden;
}

.filters .masonry-column > div:not(:last-child) {
  margin-bottom: 1.25rem;
}

.filters__item--categories .popup {
  width: 100%;
}

.filters__item--categories .popup .filters__item-header {
  display: none;
  margin-bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 600;
}

.filters__item--categories .popup .filters__item-header > span {
  margin-right: auto;
  margin-left: 0.5rem;
}

.filters__item--categories .popup .popup__overlay {
  position: relative;
  width: 100%;
  padding: 0;
  background: transparent;
  -webkit-backdrop-filter: unset;
          backdrop-filter: unset;
  transform: scale(1);
  cursor: default;
}

.filters__item--categories .popup .popup__content {
  max-width: 100%;
  padding: 0;
}

.filters__item--categories .popup .product-menu {
  background-color: rgb(var(--color-white));
}

.filters__item--categories .popup--open .popup__overlay {
  position: fixed;
}

.filters__item--categories .popup--open .popup__content {
  padding: 1rem 1.25rem;
  height: 100vh;
  overflow-y: auto;
}

.filters__item--categories .popup--open .product-menu {
  background-color: rgb(var(--color-white));
}

.filters__item--categories .collapse.collapse--open .collapse__content {
  animation: none;
}

.filters__item--categories .filters__collapse {
  gap: 0.75rem;
}

.filters__item--categories .btn {
  padding: 0;
  height: auto;
}

.filters__collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.filters__collapse-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
}

.filters__collapse-wrap {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem 0.25rem;
}

.filters__collapse-wrap .checkbox {
  overflow: hidden;
}

.filters__collapse-wrap .checkbox .btn {
  display: block;
}

.filters__collapse .product-menu {
  width: 100%;
  gap: 0.5rem;
  background-color: rgb(var(--color-primary-soft));
}

.filters__collapse .product-menu__item {
  width: 100%;
}

.filters__collapse .product-menu__item .collapse__head,
.filters__collapse .product-menu__item .radio,
.filters__collapse .product-menu__item .product-menu__submenu {
  width: 100%;
}

.filters__collapse .product-menu__item .collapse__head li:not([class]),
.filters__collapse .product-menu__item .radio li:not([class]),
.filters__collapse .product-menu__item .product-menu__submenu li:not([class]) {
  width: 100%;
}

.filters__collapse .product-menu__item .radio:hover {
  color: rgb(var(--color-black)) !important;
}

.filters__collapse .product-menu__item .radio input:checked + span .product-menu__title {
  font-weight: 600;
}

.filters__collapse .product-menu__item .product-menu__title {
  font-weight: 400;
  border-width: 0px;
}

.filters__collapse .product-menu__item .product-menu__title:hover {
  color: unset;
}

.filters__collapse .product-menu__item li:not([class]):hover {
  border-bottom: 1px solid transparent;
}

.filters__collapse .radio__content {
  border-bottom: 1px solid rgb(var(--color-black-light));
  padding-bottom: 0.7rem;
}

.filters__collapse .popup__content {
  overflow-y: visible;
}

.filters.shop-window__form-filter-filters .filters__item {
  margin: 0 -1.25rem;
  border-bottom: 1px solid rgb(var(--color-black-light));
}

@media (min-width: 48rem) {
  .filters {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters--sp {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters__item--categories .popup .product-menu {
    background-color: rgb(var(--color-primary-soft));
  }

  .filters__item--categories .popup--open .filters__item-header svg:first-child {
    display: none;
  }

  .filters__item--categories .popup--open .filters__item-header > span {
    margin-left: 0;
  }

  .filters__item--categories .popup--open .popup__overlay {
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
  }

  .filters__item--categories .popup--open .popup__overlay .popup__content {
    max-width: 23rem;
    max-height: 80vh;
    height: auto;
    overflow-y: auto;
  }

  .filters__item--categories .popup--open .popup__overlay .popup__content .product-menu {
    background-color: rgb(var(--color-white));
  }

  .filters__item--categories .popup--open .popup__overlay .popup__content .product-menu .product-menu__item.collapse {
    background-color: rgb(var(--color-white));
  }

  .filters.shop-window__form-filter-filters .filters__item {
    margin: 0 0 1.25rem;
    border-bottom: 1px solid transparent;
  }

  .filters.shop-window__form-filter-filters .filters__item .collapse {
    background-color: rgb(var(--color-primary-soft));
  }
}

@media (min-width: 75rem) {
  .filters {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters--sp {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters__item--categories {
    display: none;
  }

  .filters__collapse-grid {
    grid-template-columns: repeat(3, max-content);
    gap: 1.25rem 1.88rem;
  }

  .filters.shop-window__form-filter-filters .filters__item .collapse {
    background-color: rgb(var(--color-white));
  }
}

@media (min-width: 120rem) {
  .filters {
    grid-template-columns: repeat(5, 1fr);
  }

  .filters--sp {
    grid-template-columns: repeat(4, 1fr);
  }
}