.filter-actions--active,
.filter-actions.active {
  display: flex;
  justify-content: flex-end;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.filter-actions {
  display: none;
  gap: 0.5rem;
  position: sticky;
  top: 4.5rem;
  margin-left: auto;
  margin-top: 1.5rem;
  z-index: var(--z-popup);
}

.filter-actions.active.filter-actions--sp {
  justify-content: flex-start;
}

.filter-actions--active {
  width: -moz-max-content;
  width: max-content;
}

.filter-actions--active .filter-actions__density {
  margin-left: none;
}

.filter-actions .btn {
  font-weight: 400;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
}

.filter-actions__text {
  display: none;
}

.filter-actions__categories--active,
.filter-actions__filters--active,
.filter-actions__sorts--active,
.filter-actions__density--active {
  display: inline-flex;
}

.filter-actions__filters .filter-actions__icon--cross,
.filter-actions__categories .filter-actions__icon--cross,
.filter-actions__sorts .filter-actions__icon--cross {
  display: none;
  fill: rgb(var(--color-black));
}

.filter-actions__filters.active.btn,
.filter-actions__categories.active.btn,
.filter-actions__sorts.active.btn {
  border-color: transparent;
  background-color: rgb(var(--color-primary-pale));
}

.filter-actions__filters.active.btn .filter-actions__icon--cross,
.filter-actions__categories.active.btn .filter-actions__icon--cross,
.filter-actions__sorts.active.btn .filter-actions__icon--cross {
  display: block;
}

.filter-actions__filters.active.btn .filter-actions__icon--common,
.filter-actions__categories.active.btn .filter-actions__icon--common,
.filter-actions__sorts.active.btn .filter-actions__icon--common {
  display: none;
}

.filter-actions__filters-count,
.filter-actions__categories-count {
  display: none;
}

.filter-actions__filters.btn--tag:not(.active) .filter-actions__filters-count,
.filter-actions__categories.btn--tag:not(.active) .filter-actions__filters-count {
  display: block;
}

.filter-actions__filters.hide-count.btn .filter-actions__filters-count,
.filter-actions__categories.hide-count.btn .filter-actions__filters-count {
  display: none;
}

.filter-actions__density--ml-auto {
  margin-left: auto;
}

.filter-actions__density--active {
  display: inline-flex;
}

.filter-actions__density--tile.filter-actions__density .filter-actions__density-tile {
  display: none;
}

.filter-actions__density--tile.filter-actions__density .filter-actions__density-grid {
  display: block;
}

.filter-actions__density--tile.filter-actions__density.btn {
  border-color: rgb(var(--color-primary));
  background-color: rgb(var(--color-primary-soft));
}

.filter-actions__density-grid {
  display: none;
}

.filter-actions__icon-default {
  display: block;
}

@media (min-width: 48rem) {
  .filter-actions--active .filter-actions__text {
    display: none;
  }

  .filter-actions--active .filter-actions__sorts.active.btn .filter-actions__icon--common {
    display: block;
  }

  .filter-actions--active .filter-actions__sorts.active.btn .filter-actions__icon--cross {
    display: none;
  }

  .filter-actions--active .filter-actions--active root__filters.hide-icon.btn .filter-actions__filters-count,
  .filter-actions--active .filter-actions__categories.hide-icon.btn .filter-actions__filters-count {
    display: block;
  }

  .filter-actions__text {
    display: block;
  }

  .filter-actions__filters.hide-icon.btn .filter-actions__icon--common,
  .filter-actions__categories.hide-icon.btn .filter-actions__icon--common {
    display: none;
  }

  .filter-actions__icon {
    display: block;
  }

  .filter-actions__icon-default {
    display: none;
  }
}

@media (min-width: 48rem) and (min-width: 48rem) {
  .filter-actions--active .filter-actions--active root__filters.hide-icon.btn .filter-actions__icon--common,
  .filter-actions--active .filter-actions--active root__filters.active.btn .filter-actions__icon--common,
  .filter-actions--active .filter-actions__categories.hide-icon.btn .filter-actions__icon--common,
  .filter-actions--active .filter-actions__categories.active.btn .filter-actions__icon--common {
    display: block;
  }

  .filter-actions--active .filter-actions--active root__filters.hide-icon.btn .filter-actions__icon--cross,
  .filter-actions--active .filter-actions--active root__filters.active.btn .filter-actions__icon--cross,
  .filter-actions--active .filter-actions__categories.hide-icon.btn .filter-actions__icon--cross,
  .filter-actions--active .filter-actions__categories.active.btn .filter-actions__icon--cross {
    display: none;
  }
}

@media (min-width: 75rem) {
  .filter-actions {
    gap: 0.5rem;
    top: 7rem;
    float: right;
    margin-top: 0;
  }

  .filter-actions--active {
    margin-top: 0;
  }

  .filter-actions__density {
    display: none;
  }

  .filter-actions__density--active {
    display: none;
  }
}

@media (min-width: 120rem) {
  .filter-actions {
    margin-top: 0;
  }

  .filter-actions--active {
    margin-top: 0;
  }

  .filter-actions--active .filter-actions__text {
    display: block;
  }
}