.filters {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.25rem;
}

.filters__column > div:not(:last-child) {
  margin-bottom: 1.25rem;
}

.filters__collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.filters__collapse-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: flex-start;
}

.filters__collapse .product-menu {
  width: 100%;
  gap: 0.75rem;
}

.filters__collapse .product-menu__item {
  width: 100%;
}

.filters__collapse .product-menu__item .collapse__head,
.filters__collapse .product-menu__item .radio,
.filters__collapse .product-menu__item .product-menu__submenu {
  width: 100%;
}

.filters__collapse .product-menu__item .collapse__head li:not([class]),
.filters__collapse .product-menu__item .radio li:not([class]),
.filters__collapse .product-menu__item .product-menu__submenu li:not([class]) {
  width: 100%;
}

.filters__collapse .product-menu__item .product-menu__title {
  border-width: 0px;
}

.filters__collapse .radio__content {
  border-bottom: 1px solid rgb(var(--color-black-light));
  padding-bottom: 0.7rem;
}

.filters.shop-window__form-filter-filters .filters__item {
  margin: 0 -1.25rem;
  border-bottom: 1px solid rgb(var(--color-black-light));
}

@media (min-width: 48rem) {
  .filters {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters--sp {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters.shop-window__form-filter-filters .filters__item {
    margin: 0 0 1.25rem;
    border-bottom: 1px solid transparent;
  }

  .filters.shop-window__form-filter-filters .filters__item .collapse {
    background-color: rgb(var(--color-primary-soft));
  }
}

@media (min-width: 75rem) {
  .filters {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters--sp {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters__item--categories {
    display: none;
  }

  .filters__collapse-grid {
    grid-template-columns: repeat(3, max-content);
    gap: 1.25rem 1.88rem;
  }

  .filters.shop-window__form-filter-filters .filters__item .collapse {
    background-color: rgb(var(--color-white));
  }
}

@media (min-width: 120rem) {
  .filters {
    grid-template-columns: repeat(5, 1fr);
  }

  .filters--sp {
    grid-template-columns: repeat(4, 1fr);
  }
}