.gallery-card__item-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-card {
  display: inline-flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}

.gallery-card__item {
  position: relative;
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid rgb(var(--color-white));
  border-radius: var(--radius-round);
  overflow: hidden;
}

.gallery-card__item:first-child,
.gallery-card__item:nth-child(2),
.gallery-card__item:last-child {
  display: block;
}

.gallery-card__item:not(:first-child) {
  margin-left: -0.75rem;
}

.gallery-card__item:last-child img {
  filter: brightness(0.5);
}

.gallery-card__item-more {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 600;
  color: rgb(var(--color-white));
}

@media (min-width: 48rem) {
  .gallery-card__item:last-child img {
    filter: unset;
  }

  .gallery-card__item-more {
    display: none;
  }

  .gallery-card__item {
    display: block;
  }
}