.joint-purchases-card__status {
  display: flex;
  align-items: center;
}

.joint-purchases-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.75rem 0.75rem 0;
  border-radius: var(--radius-medium);
}

.joint-purchases-card--processing {
  background-color: rgb(var(--color-primary-soft));
}

.joint-purchases-card--ready {
  background-color: rgba(var(--color-green), 0.04);
}

.joint-purchases-card--disabled {
  background-color: rgb(var(--color-grey-pale));
}

.joint-purchases-card__about {
  display: grid;
  grid-template-areas: "logo" "title" "subscribe" "categories";
  gap: 0.25rem;
}

.joint-purchases-card__slider {
  position: relative;
  margin: 0 1.5rem;
}

.joint-purchases-card__slider .joint-purchases-card__slide {
  position: relative;
  padding-top: 143%;
  overflow: hidden;
}

.joint-purchases-card__slider .joint-purchases-card__slide img {
  position: absolute;
  top: 0;
}

.joint-purchases-card__logo {
  display: none;
}

.joint-purchases-card__title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 1.375rem;
  font-weight: 600;
}

.joint-purchases-card__subscribe {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  grid-area: subscribe;
  font-weight: 600;
  color: rgb(var(--color-primary));
}

.joint-purchases-card__subscribe-delimiter {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: var(--radius-round);
  background-color: rgb(var(--color-grey));
}

.joint-purchases-card--disabled .joint-purchases-card__subscribe {
  color: rgb(var(--color-grey-dark));
}

.joint-purchases-card__categories {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: categories;
  color: rgb(var(--color-grey));
}

.joint-purchases-card__info {
  display: grid;
  grid-template-areas: "discount" "already" "progress" "divider" "status";
  gap: 0.75rem;
}

.joint-purchases-card--processing .joint-purchases-card__info {
  grid-template-areas: "discount" "already" "progress" "divider" "until";
}

.joint-purchases-card__discount {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: discount;
  display: inline-flex;
  align-items: center;
  gap: 0.1rem;
}

.joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__discount {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.joint-purchases-card__discount .badge.badge--big {
  padding: 0;
  background-color: transparent;
}

.joint-purchases-card--processing .joint-purchases-card__discount .badge.badge--big {
  color: rgb(var(--color-primary));
}

.joint-purchases-card--ready .joint-purchases-card__discount .badge.badge--big {
  color: rgb(var(--color-green));
}

.joint-purchases-card--disabled .joint-purchases-card__discount .badge.badge--big {
  color: rgb(var(--color-grey-dark));
}

.joint-purchases-card__discount-amount {
  color: rgb(var(--color-primary));
}

.joint-purchases-card__already,
.joint-purchases-card__until {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.joint-purchases-card__already {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: already;
}

.joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__already {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.joint-purchases-card__progress {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: progress;
  margin-top: -0.25rem;
}

.joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__progress {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.joint-purchases-card--processing .joint-purchases-card__progress .progress {
  background-color: rgb(var(--color-primary-tag-checked));
}

.joint-purchases-card--processing .joint-purchases-card__progress .progress__line {
  background-color: rgb(var(--color-primary-dark));
}

.joint-purchases-card--ready .joint-purchases-card__progress .progress {
  background-color: rgba(var(--color-green), 0.04);
}

.joint-purchases-card--ready .joint-purchases-card__progress .progress__line {
  background-color: rgb(var(--color-green));
}

.joint-purchases-card--disabled .joint-purchases-card__progress .progress {
  background-color: rgb(var(--color-grey-soft));
}

.joint-purchases-card--disabled .joint-purchases-card__progress .progress__line {
  background-color: rgb(var(--color-grey-dark));
}

.joint-purchases-card__until {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: until;
  display: none;
}

.joint-purchases-card__until-date {
  font-weight: 600;
}

.joint-purchases-card__status {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: status;
  gap: 0.5rem;
  font-size: 1rem;
}

.joint-purchases-card--processing .joint-purchases-card__status {
  display: none;
}

.joint-purchases-card--ready .joint-purchases-card__status-text {
  color: rgb(var(--color-green));
}

.joint-purchases-card--disabled .joint-purchases-card__status-text {
  color: rgb(var(--color-red));
}

.joint-purchases-card__status-text {
  font-weight: 600;
}

.joint-purchases-card__hr {
  margin: 0;
}

.joint-purchases-card__brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  margin: -1rem -0.75rem 0;
}

.joint-purchases-card--processing .joint-purchases-card__brand {
  background-color: rgb(var(--color-primary-tag-checked));
}

.joint-purchases-card--ready .joint-purchases-card__brand {
  background-color: rgba(var(--color-green), 0.04);
}

.joint-purchases-card--processing .joint-purchases-card__brand {
  background-color: rgb(var(--color-primary-tag-checked));
}

.joint-purchases-card__brand-logo {
  width: 2rem;
  height: 2rem;
  border-radius: var(--radius-round);
  overflow: hidden;
}

@media (min-width: 48rem) {
  .joint-purchases-card {
    padding: 1.5rem;
  }

  .joint-purchases-card__about {
    grid-template-columns: 3.75rem 1fr auto;
    gap: 0rem 0.75rem;
    grid-template-areas: "logo title subscribe" "logo categories categories";
  }

  .joint-purchases-card__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    display: block;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: var(--radius-round);
    overflow: hidden;
  }

  @media (min-width: 48rem) {

  .joint-purchases-card__logo {
      -ms-grid-row: 1;
      -ms-grid-row-span: 3;
      -ms-grid-column: 1;
  }
  }

  .joint-purchases-card__info {
    grid-template-columns: max-content 1fr auto;
    grid-template-areas: "discount already status" "discount progress status";
  }

  .joint-purchases-card--processing .joint-purchases-card__info {
    grid-template-areas: "discount already until" "discount progress until";
  }

  .joint-purchases-card__discount {
    gap: 0.5rem;
  }

  .joint-purchases-card__discount .badge.badge--big {
    padding: 0.85rem 1.25rem;
  }

  .joint-purchases-card--processing .joint-purchases-card__discount .badge.badge--big {
    background-color: rgb(var(--color-primary-pale));
  }

  .joint-purchases-card--ready .joint-purchases-card__discount .badge.badge--big {
    background-color: rgba(var(--color-green), 0.04);
  }

  .joint-purchases-card__discount-from {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
  }

  .joint-purchases-card__already {
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
  }

  .joint-purchases-card__already-title {
    display: none;
  }

  .joint-purchases-card__until {
    font-size: 1rem;
  }

  .joint-purchases-card--processing .joint-purchases-card__until {
    display: block;
  }

  .joint-purchases-card__hr {
    display: none;
  }

  .joint-purchases-card__brand {
    display: none;
  }

  .joint-purchases-card__title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .joint-purchases-card__subscribe {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .joint-purchases-card__categories {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .joint-purchases-card__discount {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__discount {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .joint-purchases-card__already {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__already {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .joint-purchases-card__progress {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__progress {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .joint-purchases-card__until {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }

  .joint-purchases-card__status {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }
}

@media (min-width: 75rem) {
  .joint-purchases-card {
    padding: 1rem 1.5rem 0;
  }

  .joint-purchases-card__about {
    grid-template-columns: 1fr;
    gap: 0.25rem;
    grid-template-areas: "logo" "title" "subscribe" "categories";
  }

  .joint-purchases-card__logo {
    display: none;
  }

  .joint-purchases-card__info {
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-template-areas: "already already" "progress progress" "discount status";
  }

  .joint-purchases-card--processing .joint-purchases-card__info {
    grid-template-areas: "already already" "progress progress" "discount until";
  }

  .joint-purchases-card__already-title {
    display: block;
    font-weight: 400;
  }

  .joint-purchases-card__brand {
    display: flex;
    margin: 0 -1.5rem;
  }

  .joint-purchases-card__title {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .joint-purchases-card__subscribe {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .joint-purchases-card__categories {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .joint-purchases-card__discount {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__discount {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .joint-purchases-card__already {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__already {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .joint-purchases-card__progress {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__progress {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .joint-purchases-card__until {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }

  .joint-purchases-card__status {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
  }

  .joint-purchases-card__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
}

@media (min-width: 120rem) {
  .joint-purchases-card {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .joint-purchases-card__about {
    grid-template-columns: 3.75rem 1fr auto;
    gap: 0rem 0.75rem;
    grid-template-areas: "logo title subscribe" "logo categories categories";
  }

  .joint-purchases-card__logo {
    display: block;
  }

  .joint-purchases-card__info {
    grid-template-columns: max-content 1fr auto;
    grid-template-areas: "discount already status" "discount progress status";
  }

  .joint-purchases-card--processing .joint-purchases-card__info {
    grid-template-areas: "discount already until" "discount progress until";
  }

  .joint-purchases-card__brand {
    display: none;
  }

  .joint-purchases-card__title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .joint-purchases-card__subscribe {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .joint-purchases-card__categories {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .joint-purchases-card__discount {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__discount {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
  }

  .joint-purchases-card__already {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__already {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .joint-purchases-card__progress {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .joint-purchases-card--processing .joint-purchases-card__info > .joint-purchases-card__progress {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .joint-purchases-card__until {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }

  .joint-purchases-card__status {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
  }

  .joint-purchases-card__logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
}