.location__actions-city {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location__actions,
.location__address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.location__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location__img {
  margin: 0 -1.25rem 0.25rem -1.25rem;
}

.location__addresses {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.25rem;
  overflow-y: auto;
}

.location__address {
  font-size: 1rem;
  padding: 1rem;
  border: 2px solid rgb(var(--color-grey-light));
  border-radius: var(--radius-medium);
  transition: var(--transition-base);
  cursor: pointer;
}

.location__address-remove {
  cursor: pointer;
}

.location__address-remove use {
  stroke-width: 1px;
  fill: rgb(var(--color-grey));
}

.location__address-address {
  margin-top: 0.75rem;
  font-size: 0.875rem;
}

.location__address-contacts,
.location__address-storage-period {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: rgb(var(--color-grey));
}

.location__address:hover {
  border-color: rgb(var(--color-grey));
}

.location__address--selected {
  border-color: rgb(var(--color-primary));
  background-color: rgb(var(--color-primary-soft));
}

.location__address--selected:hover {
  border-color: rgb(var(--color-primary));
}

.location__actions {
  padding: 1rem 1rem;
  border-radius: var(--radius-medium);
  background-color: rgb(var(--color-primary-soft));
}

.location__actions-city {
  gap: 0.25rem;
  font-weight: 600;
}

.location__actions-change.btn {
  height: auto;
  padding: 0;
  border: none;
}

.location--setup .location__actions {
  margin-top: 0.25rem;
}

.location__descr {
  color: rgb(var(--color-grey));
}

.location__button {
  width: 100%;
  justify-content: center;
}

.location__setup {
  display: none;
}

.location--setup .location__setup {
  display: flex;
}

.location--setup .location__not-setup {
  display: none;
}

@media (min-width: 48rem) {
  .location__inner {
    gap: 1.5rem;
  }

  .location__img {
    margin: 0 -2rem;
  }

  .location__actions {
    padding: 1rem 1.5rem;
  }

  .location--setup .location__actions {
    margin-top: 0.5rem;
  }

  .location--setup .location__descr {
    margin-top: -0.25rem;
  }
}