.login__choice {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login.login--sign-in .login__sign-up {
  display: none;
}

.login.login--sign-in .login__sign-in {
  display: block;
}

.login.login--sign-up .login__sign-up {
  display: block;
}

.login.login--sign-up .login__sign-in {
  display: none;
}

.login__descr {
  margin-top: 0.75rem;
  color: rgb(var(--color-grey));
}

.login__options {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.25rem;
}

.login__options-item.btn {
  gap: 0.75rem;
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-primary-soft));
  font-size: 1rem;
  font-weight: 400;
}

.login__options-item-arrow {
  margin-left: auto;
  transform: rotate(-90deg);
}

.login__options-item-arrow use {
  stroke: rgb(var(--color-grey));
}

.login__or {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.login__or:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 55%;
  background-color: rgb(var(--color-black-light));
}

.login__or-text {
  position: relative;
  padding: 0 1rem;
  color: rgb(var(--color-black-middle));
  background-color: rgb(var(--color-white));
  font-weight: 400;
  z-index: var(--z-base);
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.login__form-item {
  padding-left: 1.5rem;
}

.login__form-submit {
  margin-top: 0.5rem;
  justify-content: center;
}

.login__choice {
  gap: 0.5rem;
  margin-top: 1.25rem;
  font-size: 1rem;
}

.login__choice-btn {
  color: rgb(var(--color-primary));
  cursor: pointer;
}

@media (min-width: 48rem) {
  .login__options {
    margin-top: 1.5rem;
  }

  .login__options-item.btn {
    font-size: unset;
  }

  .login__form-submit {
    margin-top: 0.75rem;
  }

  .login__choice {
    margin-top: 1.5rem;
    font-size: unset;
  }
}