.nav-pages__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.nav-pages {
  display: none;
  background-color: rgb(var(--color-primary-pale));
  padding: 0rem 1rem;
  margin-top: 0.5rem;
}

.nav-pages__list {
  flex-wrap: wrap;
  gap: 0.5rem 2.5rem;
  font-weight: 600;
}

.nav-pages__list > li {
  padding: 0.5rem 1rem;
}

@media (min-width: 75rem) {
  .nav-pages {
    display: block;
  }
}