.popup__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: var(--z-over);
  cursor: pointer;
}

.popup--open .popup__overlay {
  transform: scale(1);
}

.popup__content {
  max-width: 30rem;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: rgb(var(--color-white));
  border-radius: var(--radius-medium);
  overflow: hidden;
  cursor: default;
}

@media (min-width: 75rem) {
  .popup--onlymobile .popup__overlay {
    position: relative;
    height: 0;
    padding: 0;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    z-index: 1;
    transform: scale(1);
  }

  .popup--onlymobile .popup__content {
    padding: 0;
  }
}