.post-card {
  width: 100%;
  overflow: hidden;
  border-radius: var(--radius-small);
}

.post-card__wrapper {
  height: 100%;
  position: relative;
}

.post-card__desc-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem 1.25rem;
  background-color: rgb(var(--color-primary-soft));
}

.post-card__desc {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.post-card__range {
  display: flex;
  justify-content: space-between;
}

.post-card__range-img svg {
  width: 6rem;
}

.post-card__range-inner {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.post-card__range-inner img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--radius-round);
}

.post-card__range-inner p {
  font-size: 0.875rem;
}

.post-card__liked {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

.post-card__liked svg use {
  fill: rgb(var(--color-primary));
  stroke: rgb(var(--color-primary));
  stroke-width: 2px;
}

.post-card__scores {
  display: flex;
  gap: 0.5rem;
}

.post-card__scores svg {
  width: 1rem;
}

.post-card__discus {
  display: flex;
  gap: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}