.product__delivery-content-item,
.product__delivery-point,
.product__seller-inner,
.product__short-description-sp-discount-links,
.product__short-description-sp-discount-sum,
.product__short-description-sp-discount-content,
.product__short-description-sales-price-actions,
.product__seller-inner-content,
.product__short-description-choice-wrapper,
.product__info-price-inner,
.product__short-description-score-posts,
.product__short-description-score-likes,
.product__short-description-score-stars-inner {
  display: flex;
  align-items: center;
}

.product__short-description-sales-count-wrap,
.product__short-description-sales-change-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.product__description-inner,
.product__delivery-content,
.product__delivery-inner,
.product__description-shop,
.product__delivery-description,
.product__short-description-shop,
.product__short-description-sp-discount-inner,
.product__short-description-sp-discount,
.product__short-description-sales-price,
.product__short-description-sales,
.product__short-description-sp,
.product__short-description-choice-wrapper-size,
.product__short-description-size,
.product__short-description-size-inner,
.product__short-description-discount,
.product__short-description-score,
.product__short-description,
.product__inner-description,
.product__inner {
  display: flex;
  flex-direction: column;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.product__wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1.5rem;
}

.product__inner {
  gap: 2.5rem;
  grid-row: 1/2;
  grid-column: 1/5;
}

.product__inner-description {
  gap: 1.5rem;
  grid-row: 2/2;
  grid-column: 1/6;
}

.product__img-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  width: 100%;
}

.product__grid-img {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: var(--radius-medium);
  overflow: hidden;
}

.product__grid-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__item1 {
  display: none;
}

.product__item2 {
  display: none;
}

.product__item3 {
  display: none;
}

.product__item4 {
  display: none;
}

.product__item5 {
  grid-row: 1/10;
  grid-column: 1/7;
}

.product__short-description {
  gap: 0.75rem;
}

.product__short-description-title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: rgb(var(--color-grey));
  margin-bottom: -0.25rem;
}

.product__short-description-description {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.product__short-description-score {
  gap: 0.5rem;
}

.product__short-description-score-stars-inner {
  gap: 1.25rem;
}

.product__short-description-score-likes {
  gap: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__short-description-score-likes svg {
  width: 1rem;
  height: 1rem;
}

.product__short-description-score-posts {
  font-size: 1.125rem;
  line-height: 1.5rem;
  gap: 0.2rem;
}

.product__short-description-score-posts a {
  font-weight: 600;
  color: rgb(var(--color-primary));
  margin-right: 0.25rem;
  letter-spacing: 0.05rem;
}

.product__short-description-discount {
  gap: 0.375rem;
}

.product__short-description-choice-title {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.product__short-description-choice-title-amount {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.product__info-price-inner {
  gap: 1rem;
}

.product__info-price-item-crossed {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-decoration: line-through;
  color: rgb(var(--color-grey-dark));
}

.product__info-price-item-new {
  color: rgb(var(--color-primary));
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.25rem;
  align-items: center;
  gap: 0.5rem;
  display: flex;
  align-self: center;
}

.product__short-description-size-inner {
  gap: 1.5rem;
}

.product__short-description-size {
  gap: 0.5rem;
  flex: 1;
}

.product__short-description-choice-select {
  max-width: 22.5rem;
  flex: 1;
}

.product__short-description-choice-wrapper {
  gap: 0.5rem;
}

.product__short-description-choice-wrapper a {
  font-weight: 600;
  color: rgb(var(--color-primary));
  margin-right: 0.25rem;
  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__short-description-choice-wrapper div:nth-child(1) {
  max-width: 9.2rem;
  flex: 1;
}

.product__short-description-choice-wrapper-size {
  gap: 0.5rem;
}

.product__short-description-choice-wrapper-size a {
  font-weight: 600;
  color: rgb(var(--color-primary));
  margin-right: 0.25rem;
  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__short-description-choice-number {
  color: rgb(var(--color-grey));
}

.product__short-description-choice-number span {
  display: block;
}

.product__short-description-sp {
  gap: 0.25rem;
}

.product__short-description-sp-content {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2rem;
}

.product__short-description-choice-title-sp {
  font-size: 1rem;
  line-height: 1.5rem;
}

.product__seller-inner-content {
  gap: 0.5rem;
  padding: 0;
  max-width: 19rem;
}

.product__short-description-sales {
  gap: 0.5rem;
  max-width: 29.375rem;
}

.product__short-description-sales-add.hide,
.product__short-description-sales-cart.hide {
  display: none;
}

.product__short-description-sales-cart {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.25rem 1.5rem;
}

.product__short-description-sales-cart span {
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
}

.product__short-description-sales-change-count {
  gap: 0.25rem;
}

.product__short-description-sales-change-count.hide {
  display: none;
}

.product__short-description-sales-count-wrap {
  flex-direction: column;
  width: 3rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.product__short-description-sales-increment svg,
.product__short-description-sales-decrement svg {
  color: rgb(var(--color-primary));
}

.product__short-description-sales-increment,
.product__short-description-sales-decrement,
.product__short-description-sales-actions {
  width: 3rem;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.product__short-description-sales-buy.hide {
  display: none;
}

.product__short-description-sales-price {
  border-radius: var(--radius-medium);
  padding: 0.75rem 1.5rem;
  background-color: rgb(var(--color-grey-soft));
  align-items: end;
}

.product__short-description-sales-price span:nth-child(1) {
  align-self: flex-start;
}

.product__short-description-sales-price-txt {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(var(--color-grey));
}

.product__short-description-sales-price-actions {
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product__short-description-sales-price-actions > * {
  flex: 1 1 auto;
}

.product__short-description-sales-price-actions .product__short-description-sales-buy {
  order: 100;
  flex: none;
}

.product__short-description-sales-price-actions.active > * {
  flex: none;
}

.product__short-description-sales-price-create-post {
  font-weight: 600;
  letter-spacing: 0.01rem;
  color: rgb(var(--color-grey));
}

.product__short-description-sp-discount {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgb(var(--color-black-light));
}

.product__short-description-sp-discount-title {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.875rem;
}

.product__short-description-sp-discount-inner {
  gap: 0.25rem;
}

.product__short-description-sp-discount-content {
  gap: 0.25rem;
}

.product__short-description-sp-discount-sum {
  gap: 0.2rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2rem;
  color: rgb(var(--color-primary));
}

.product__short-description-sp-discount-links {
  gap: 0.5rem;
}

.product__short-description-sp-discount-links span {
  color: rgb(var(--color-grey));
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-wrap: nowrap;
}

.product__short-description-sp-discount-links a {
  font-weight: 600;
  color: rgb(var(--color-primary));
  margin-right: 0.25rem;
  letter-spacing: 0.05rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__short-description-shop {
  gap: 0.5rem;
}

.product__title-shop {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.product__seller-inner {
  background-color: rgb(var(--color-primary-soft));
  padding: 0.75rem 1rem;
  border-radius: var(--radius-small);
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 34rem;
  justify-content: space-between;
}

.product__seller-img img {
  max-width: unset;
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__short-description-shop-product {
  position: relative;
}

.product__short-description-shop-product li {
  list-style: none;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding-left: 0.75rem;
  position: relative;
}

.product__table-dot {
  content: "";
  position: absolute;
  top: 0.75rem;
  transform: translate(50%, -50%);
  left: 0;
  width: 0.25rem;
  height: 0.25rem;
  background-color: black;
  border-radius: 50%;
}

.product__delivery-description {
  gap: 1.5rem;
  grid-row: 3/3;
  grid-column: 1/6;
}

.product__description-shop {
  gap: 0.5rem;
}

.product__title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.product__delivery-inner {
  gap: 0.5rem;
}

.product__delivery-point {
  gap: 0.5rem;
}

.product__delivery-btn,
.product__seller-btn {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__delivery-point-city {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__delivery-content {
  gap: 0.5rem;
}

.product__delivery-content-item {
  gap: 0.5rem;
  align-items: self-start;
}

.product__delivery-content-icon {
  position: relative;
  min-width: 3rem;
  height: 3rem;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-round);
}

.product__delivery-content-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product__delivery-description-point {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__delivery-description-price {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: rgb(var(--color-grey));
}

.product__description-content {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.product__description-inner {
  gap: 0.5rem;
}

.product__viseable--one.hide,
.product__viseable--more.hide {
  display: none;
}

@media (min-width: 48rem) {
  .product__short-description-description {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .product__short-description-score {
    flex-flow: row;
    gap: 1.25rem;
  }

  .product__short-description-score-likes {
    font-size: 0.875rem;
  }

  .product__short-description-score-posts {
    font-size: 1rem;
  }

  .product__short-description-discount {
    gap: 0.5rem;
  }

  .product__short-description-choice-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .product__short-description-choice-title-amount {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .product__info-price-inner {
    gap: 1.25rem;
  }

  .product__info-price-item-crossed {
    font-size: 1.375rem;
    line-height: 2rem;
  }

  .product__short-description-size-inner {
    flex-flow: row;
  }

  .product__short-description-sales {
    gap: 0.75rem;
  }

  .product__short-description-sales-price {
    padding: 1.25rem 1.5rem;
    flex-direction: row;
    justify-content: center;
    gap: 0.625rem;
  }

  .product__short-description-sales-price span:nth-child(1) {
    align-self: unset;
  }

  .product__short-description-sales-price-txt {
    font-size: 1rem;
  }

  .product__short-description-sales-price-actions {
    gap: 0.75rem;
  }

  .product__short-description-sales-price-actions .product__short-description-sales-buy {
    order: unset;
  }

  .product__short-description-sales-price-actions .product__short-description-sales-action {
    order: 100;
  }

  .product__short-description-sp-discount-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
  }

  .product__short-description-sp-discount-inner {
    flex-flow: row;
  }

  .product__short-description-shop {
    gap: 0.75rem;
  }

  .product__title-shop {
    font-size: 1.125rem;
  }

  .product__seller-inner {
    gap: 1rem;
  }

  .product__description-shop {
    gap: 0.75rem;
  }

  .product__delivery-inner {
    gap: 0.75rem;
  }

  .product__delivery-point {
    gap: 0.625rem;
  }

  .product__delivery-content {
    flex-flow: row;
    gap: 1rem;
  }

  .product__description-inner {
    gap: 0.75rem;
  }
}

@media (min-width: 75rem) {
  .product__wrapper {
    grid-template-columns: 25% 25.2% auto auto;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .product__inner {
    grid-row: 1/4;
    grid-column: 1/3;
  }

  .product__inner-description {
    grid-row: 1/2;
    grid-column: 3/5;
  }

  .product__item1 {
    display: unset;
    grid-row: 3/4;
    grid-column: 1/4;
  }

  .product__item2 {
    display: unset;
    grid-row: 3/4;
    grid-column: 4/7;
  }

  .product__item3 {
    display: unset;
    grid-row: 1/3;
    grid-column: 1/7;
  }

  .product__item4 {
    display: unset;
    grid-row: 4/6;
    grid-column: 1/7;
  }

  .product__item5 {
    grid-row: 6/7;
    grid-column: 1/4;
  }

  .product__short-description-score {
    flex-flow: column;
    gap: 0.75rem;
  }

  .product__short-description-size-inner {
    flex-flow: column;
  }

  .product__short-description-size {
    gap: 0.75rem;
  }

  .product__short-description-choice-wrapper {
    gap: 1rem;
  }

  .product__short-description-choice-number span {
    display: inline;
  }

  .product__short-description-sp-discount-title {
    margin-bottom: 1.125rem;
  }

  .product__delivery-description {
    grid-row: 2/3;
    grid-column: 3/5;
  }

  .product__delivery-point {
    gap: 0.5rem;
  }

  .product__delivery-content {
    flex-flow: column;
    gap: 0.75rem;
  }
}

@media (min-width: 120rem) {
  .product__wrapper {
    grid-template-columns: 31% 31.6% auto auto;
    -moz-column-gap: 2.75rem;
         column-gap: 2.75rem;
  }

  .product__inner-description {
    grid-row: 1/1;
  }

  .product__img-container {
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 1.75rem;
    grid-row-gap: 1.75rem;
  }

  .product__item1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  .product__item2 {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .product__item3 {
    grid-row: 1/3;
    grid-column: 3/7;
  }

  .product__item4 {
    grid-row: 3/5;
    grid-column: 1/5;
  }

  .product__item5 {
    grid-row: 3/4;
    grid-column: 5/7;
  }

  .product__short-description-score {
    flex-flow: row;
    gap: 1.25rem;
  }

  .product__short-description-choice-title-amount {
    font-size: 1rem;
  }

  .product__short-description-choice-wrapper-size {
    flex-flow: row;
    align-items: center;
    gap: 1rem;
  }

  .product__short-description-sp-discount {
    margin-bottom: 1rem;
    padding-bottom: 2.5rem;
  }

  .product__short-description-shop {
    margin-bottom: -0.25rem;
  }

  .product__seller-inner {
    margin-bottom: -0.25rem;
  }

  .product__delivery-description {
    gap: 1.25rem;
  }

  .product__description-shop {
    margin-bottom: -0.25rem;
  }

  .product__delivery-inner {
    margin-bottom: -0.25rem;
  }

  .product__delivery-point {
    gap: 0.625rem;
  }

  .product__delivery-point-city {
    font-size: 1rem;
  }

  .product__delivery-content-item {
    gap: 0.625rem;
  }

  .product__description-content {
    font-size: 1rem;
  }
}