.publication-item {
  display: flex;
  align-items: center;
}

.publication-item {
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-small);
}

.publication-item.publication-item--dark {
  background-color: rgb(var(--color-primary-tag-checked));
}

.publication-item.publication-item--green {
  background-color: rgba(var(--color-green-dark), 0.04);
}

.publication-item.publication-item--grey {
  background-color: rgb(var(--color-grey-soft));
}

.publication-item__img {
  width: 4.375rem;
  height: 6.25rem;
  border-radius: var(--radius-small);
  overflow: hidden;
  flex-shrink: 0;
}

.publication-item__img > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.publication-item__content {
  font-size: 1rem;
}

.publication-item__price {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.publication-item__descr {
  margin-top: 0.5rem;
}