.search-pickup__actions-define {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.search-pickup__actions,
.search-pickup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.search-pickup {
  height: 100%;
}

.search-pickup__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  padding: 1.25rem 1.25rem 1rem;
}

.search-pickup__header {
  gap: 1rem;
}

.search-pickup__header-back,
.search-pickup__header-cross {
  cursor: pointer;
}

.search-pickup__header-back-icon,
.search-pickup__header-cross-icon {
  width: 2rem;
  height: 2rem;
}

.search-pickup__header-cross {
  position: relative;
  z-index: var(--z-base);
}

.search-pickup__header-cross.btn {
  background-color: transparent;
  padding: 0;
  height: -moz-max-content;
  height: max-content;
}

.search-pickup__header-cross-icon use {
  stroke-width: 1px;
  fill: rgb(var(--color-grey));
}

.search-pickup__header-title {
  font-size: 1.375rem;
  font-weight: 600;
}

.search-pickup__descr {
  max-width: 28.75rem;
  margin: 0 auto;
  font-size: 1.125rem;
  color: rgb(var(--color-grey));
}

.search-pickup__actions {
  flex-direction: column;
  gap: 1rem;
  max-width: 28.75rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.search-pickup__actions-define {
  gap: 0.25rem;
  margin-bottom: auto;
  margin-right: auto;
  color: rgb(var(--color-primary));
  font-weight: 600;
  cursor: pointer;
}

.search-pickup__actions-input {
  width: 100%;
}

@media (min-width: 48rem) {
  .search-pickup__inner {
    gap: 1.5rem;
    padding: 1.25rem 2rem 1.25rem;
  }

  .search-pickup__actions {
    gap: 1.5rem;
  }

  .search-pickup__actions-input {
    height: 2.5rem;
  }

  .search-pickup__actions-input .autocomplete__input {
    height: 2.5rem;
  }
}

@media (max-width: 48rem) {
  .search-pickup__actions-input.active .autocomplete__input {
    border: 2px solid rgb(var(--color-primary));
    border-radius: var(--radius-medium);
  }

  .search-pickup__actions-input.active .autocomplete__body {
    top: 100px;
    padding: 0;
    border: none;
  }

  .search-pickup__actions-input.active .autocomplete__body-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: unset;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .search-pickup__actions-input.active .autocomplete__options {
    max-height: unset;
    gap: 0.25rem;
    margin: 1rem -1.25rem 0 -1.25rem;
  }

  .search-pickup__actions-input.active .autocomplete__options-item {
    padding: 0.4rem 0.5rem 0.4rem 3.125rem;
    background-color: rgb(var(--color-primary-soft));
  }

  .search-pickup__actions-input.active .autocomplete__options-item::after {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.25rem;
    top: 50%;
    background-color: transparent;
    background-image: url("../../img/icons/icons.svg#search");
    transform: translateY(-50%);
  }

  .search-pickup__actions-input.active .autocomplete__options-item:hover {
    background-color: rgb(var(--color-primary-soft));
  }
}