.share__block,
.share__block-head,
.share__list,
.share__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.share {
  display: flex;
  align-items: center;
  color: rgb(var(--color-grey));
  border-radius: var(--radius-small);
}

.share__open,
.share__close,
.share__item-icon {
  cursor: pointer;
}

.share__block,
.share__block-head,
.share__list,
.share__close {
  gap: 0.75rem;
}

.share__block {
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  height: 0;
  background-color: rgb(var(--color-white));
  overflow: hidden;
}

.share__block-head {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.share__list {
  gap: 1rem;
}

.share__item-icon {
  width: 2rem;
  height: 2rem;
}

.share__close {
  width: 3rem;
  height: 3rem;
  background-color: rgb(var(--color-primary-tag-checked));
  border-radius: var(--radius-round);
}

.share__close svg {
  fill: rgb(var(--color-grey));
}

.share--open .share__block {
  height: auto;
}

.share--open .popup__content {
  max-height: unset;
}

.share--close .share__block-head {
  width: 0;
}

.share--close .share__list {
  width: 0;
}

.share--close .popup__overlay {
  animation: slide-out 0.4s forwards;
}

.share .popup__content {
  border-radius: var(--radius-medium);
}

@keyframes slide-in {
  0% {
    width: 0;
    padding: 0;
  }

  100% {
    width: 100%;
    padding: 0.75rem;
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
    padding: 0.75rem;
  }

  100% {
    width: 0;
    padding: 0;
  }
}

@media (min-width: 48rem) {
  .share__block {
    flex-direction: row;
    background-color: rgb(var(--color-primary-soft));
  }

  .share__block-head {
    flex-direction: row;
  }

  .share__list {
    gap: 0.75rem;
  }

  .share__item-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .share__close {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: unset;
  }

  .share--close .share__block {
    animation: slide-out 0.4s forwards;
  }
}

@media (min-width: 75rem) {
  .share--open .share__block {
    animation: slide-in 0.4s forwards;
  }

  .share--open .share__open {
    display: none;
  }
}