.shop-card__title-name,
.shop-card__title-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shop-card {
  position: relative;
  background-color: rgb(var(--color-primary-soft));
  width: 100%;
  border-radius: var(--radius-small);
  overflow: hidden;
}

.shop-card__inner {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
}

.shop-card__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.shop-card__title-img img {
  width: 3rem;
  max-width: unset;
}

.shop-card__title-inner {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.shop-card__title-txt {
  display: flex;
  flex-flow: column;
  gap: 0.125rem;
}

.shop-card__title-name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

.shop-card__title-features {
  display: flex;
  gap: 0.5rem;
}

.shop-card__title-features-score {
  color: rgb(var(--color-primary));
  font-size: 1.125rem;
  padding-bottom: 2px;
}

.shop-card__title-features-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.shop-card__catalog-img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.625rem;
  overflow-x: auto;
  margin-right: -0.75rem;
}

.shop-card__catalog-item {
  min-width: 3.75rem;
}

.shop-card__desc {
  color: rgb(var(--color-grey));
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.shop-card__desc-category {
  font-weight: 600;
  font-size: 0.875rem;
  color: rgb(var(--color-grey));
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.shop-card__sub {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.shop-card__sub .btn {
  height: 1.5rem;
  letter-spacing: 0.5px;
  padding: 0;
  font-size: 1rem;
}

.shop-card__sub-round {
  width: 0.25rem;
}

.shop-card__unsub {
  font-weight: 400;
}

@media (min-width: 48rem) {
  .shop-card__inner {
    padding: 0.75rem 0.93rem;
  }
}

@media (min-width: 75rem) {
  .shop-card__inner {
    gap: 1rem;
    padding: 1.25rem;
  }

  .shop-card__catalog-img {
    margin-right: 0;
  }
}