.shop-window {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 2.5rem 1.25rem;
  grid-template-areas: "tabs tabs" "menu goods";
}

.shop-window__tabs {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tabs;
}

.shop-window__menu {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: menu;
}

.shop-window__goods {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: goods;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}