@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.shop-preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.shop-preview__block-img {
  margin: 0 -1.25rem;
}

.shop-preview__title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-top: -0.1875rem;
  font-family: BebasNeue;
  font-weight: 400;
}

.shop-preview__about {
  margin-top: 0.75rem;
}

.shop-preview__bread-crumbs {
  margin-top: 0.25rem;
}

.shop-preview__followers {
  font-weight: 600;
  margin-top: 1rem;
}

.shop-preview__actions {
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .shop-preview__block-img {
    margin: 0 -2.5rem;
  }
}

@media (min-width: 75rem) {
  .shop-preview {
    gap: 1.25rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .shop-preview__block-img {
    width: 100%;
    max-width: 52rem;
    margin: 0;
    overflow: hidden;
  }

  .shop-preview__block-img img {
    border-radius: var(--radius-medium);
  }

  .shop-preview__block-descr {
    max-width: 35.5rem;
    width: 100%;
  }

  .shop-preview__bread-crumbs {
    margin-top: 0.5rem;
  }

  .shop-preview__followers {
    margin-top: 0.75rem;
  }

  .shop-preview__actions {
    margin-top: 1.5rem;
  }
}

@media (min-width: 120rem) {
  .shop-preview {
    align-items: center;
  }

  .shop-preview__block-descr {
    max-width: 45.5rem;
  }

  .shop-preview__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .shop-preview__about {
    margin-top: 1.25rem;
  }

  .shop-preview__followers {
    margin-top: 1.25rem;
  }

  .shop-preview__actions {
    margin-top: 2.5rem;
  }
}