.shops__preview-images-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shops__preview-description-badges {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.shops__preview {
  background-color: rgb(var(--color-primary-soft));
  padding: 0.75rem;
}

.shops__preview-inner {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.shops__preview-images-wrapper {
  position: relative;
}

.shops__preview-images-main {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--radius-lg);
}

.shops__preview-images-list {
  gap: 0.5rem;
  margin-top: -3rem;
}

.shops__preview-images-list > :last-child {
  display: none;
}

.shops__preview-images-small {
  width: 4rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid rgb(var(--color-white));
  border-radius: var(--radius-medium);
}

.shops__preview-description {
  display: flex;
  flex-direction: column;
}

.shops__preview-description-title {
  font-size: 1rem;
  font-weight: 700;
}

.shops__preview-description-badges {
  gap: 0.5rem;
  margin-top: 0.25rem;
}

.shops__preview-description-about {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.shops__preview-description-breadcrumbs {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.shops__preview-description-share {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
}

.shops__preview-description-share .btn {
  height: 1.5rem;
  letter-spacing: 0.5px;
  padding: 0;
  font-size: 1rem;
}

.shops__list {
  margin-top: 0.5rem;
}

@media (min-width: 48rem) {
  .shops__preview {
    padding: 1rem;
  }

  .shops__preview-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .shops__preview-description-about {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .shops__preview-description-share {
    margin-top: auto;
  }

  .shops__list {
    gap: 0.75rem;
    margin-top: 0.75rem;
  }
}

@media (min-width: 75rem) {
  .shops__preview {
    padding: 1.25rem;
  }

  .shops__preview-inner {
    grid-template-columns: 28.125rem 1fr;
    gap: 1.25rem;
  }

  .shops__preview-images-list {
    margin-top: -5rem;
  }

  .shops__preview-images-list > :last-child {
    display: block;
  }

  .shops__preview-description-title {
    font-size: unset;
  }

  .shops__preview-description-about {
    margin-top: 1rem;
    font-size: 1.125rem;
  }

  .shops__preview-description-breadcrumbs {
    margin-top: 1rem;
  }

  .shops__list {
    gap: 1.25rem;
    margin-top: 1.25rem;
  }
}

@media (min-width: 120rem) {
  .shops__preview-description-title {
    font-size: 1.375rem;
  }

  .shops__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}