@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sorting {
  display: none;
}

.sorting.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1.25rem;
  background-color: rgb(var(--color-primary-pale));
  z-index: var(--z-top);
  overflow-y: auto;
}

.sorting.active .sorting__btn .radio__custom,
.sorting.active .sorting__btn-text,
.sorting.active .sorting__btn-icon {
  display: block;
}

.sorting.active .sorting__btn .btn {
  background-color: transparent;
  border-color: transparent;
}

.sorting__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.375rem;
  font-weight: 600;
}

.sorting__title .sorting__cross {
  cursor: pointer;
  fill: rgb(var(--color-grey));
}

.sorting .btn {
  font-weight: 400;
  padding: 0.75rem;
}

.sorting__btn:not(:last-child) {
  border-bottom: 1px solid rgb(var(--color-black-light));
  padding-bottom: 0.5rem;
}

@media (min-width: 48rem) {
  .sorting.active {
    padding: 2rem 10rem;
  }
}

@media (min-width: 75rem) {
  .sorting.active .sorting__btn .radio__custom {
    display: none;
  }

  .sorting.active .sorting__btn .btn {
    background-color: rgb(var(--color-white));
  }

  .sorting.active .sorting__btn .btn:hover {
    border-color: rgb(var(--color-primary));
  }

  .sorting.active .sorting__btn .radio input:checked + span .btn {
    border-color: rgb(var(--color-primary));
  }

  .sorting.active {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0.75rem;
    max-width: -moz-max-content;
    max-width: max-content;
    margin: 0 auto;
    padding: 1.25rem 2rem;
    border-radius: var(--radius-small);
    z-index: unset;
  }

  .sorting__title {
    display: none;
  }

  .sorting__btn:not(:last-child) {
    border-bottom: unset;
    padding-bottom: unset;
  }
}

@media (min-width: 120rem) {
  .sorting.active {
    grid-template-columns: repeat(8, max-content);
    grid-template-areas: "popular-asc popular-desc rate-asc rate-desc cost-asc cost-desc name-asc name-desc";
    gap: 1.25rem;
    padding: 2.5rem;
  }

  .sorting__btn--popular-up {
    grid-area: popular-asc;
  }

  .sorting__btn--popular-down {
    grid-area: popular-desc;
  }

  .sorting__btn--rate-up {
    grid-area: rate-asc;
  }

  .sorting__btn--rate-down {
    grid-area: rate-desc;
  }

  .sorting__btn--cost-up {
    grid-area: cost-asc;
  }

  .sorting__btn--cost-down {
    grid-area: cost-desc;
  }

  .sorting__btn--name-up {
    grid-area: name-asc;
  }

  .sorting__btn--name-down {
    grid-area: name-desc;
  }
}

@media (min-width: 120rem) {
  .sorting__btn--popular-up {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .sorting__btn--popular-down {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .sorting__btn--rate-up {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .sorting__btn--rate-down {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .sorting__btn--cost-up {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .sorting__btn--cost-down {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
  .sorting__btn--name-up {
    -ms-grid-row: 1;
    -ms-grid-column: 13;
  }
  .sorting__btn--name-down {
    -ms-grid-row: 1;
    -ms-grid-column: 15;
  }
}