.useful-links__list-item > a,
.useful-links__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.useful-links {
  display: none;
  position: fixed;
  background-color: rgb(var(--color-white));
  left: 0;
  right: 0;
  top: 0;
  bottom: 4rem;
  padding: 1rem 1.25rem;
}

.useful-links.active {
  display: block;
}

.useful-links__title {
  font-size: 1.375rem;
  font-weight: 600;
}

.useful-links__title svg {
  cursor: pointer;
}

.useful-links__title svg use {
  fill: rgb(var(--color-grey));
}

.useful-links__list {
  margin: 1rem -1.25rem 1rem;
}

.useful-links__list-item {
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgb(var(--color-black-light));
}

.useful-links__list-item > a svg {
  transform: rotate(-90deg);
}

.useful-links__list-item > a svg use {
  stroke: rgb(var(--color-grey));
}

@media (min-width: 48rem) {
  .useful-links__list {
    margin: 1rem -2.5rem 1rem;
  }

  .useful-links__list-item {
    padding: 0.75rem 2.5rem;
  }

  .useful-links {
    padding: 1rem 2.5rem;
  }
}

@media (min-width: 75rem) {
  .useful-links {
    display: none;
  }

  .useful-links.active {
    display: none;
  }
}