.user-card-list__actions {
  display: flex;
  align-items: center;
}

.user-card-list {
  margin-top: 1.25rem;
}

.user-card-list__actions {
  gap: 0.75rem;
  position: sticky;
  top: 4rem;
  padding: 0.5rem 1.25rem;
  margin: 0 -1.25rem;
  background-color: rgb(var(--color-white));
  z-index: var(--z-fixed);
}

.user-card-list__actions .user-card-list__autocomplete {
  flex: 1;
  max-width: 30.75rem;
}

.user-card-list .user-card-list__actions-btns {
  gap: 0.75rem;
}

.user-card-list .user-card-list__actions-btns.active {
  margin-top: 0;
}

.user-card-list__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  margin-top: 1.25rem;
}

.user-card-list__cards-wrapper--no-margin-top {
  margin-top: 0;
}

.user-card-list .sorting.active {
  grid-template-columns: repeat(3, max-content);
}

@media (min-width: 23.4375rem) {
  .user-card-list__cards-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 48rem) {
  .user-card-list {
    margin-top: 1.5rem;
  }

  .user-card-list__cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.75rem;
    margin-top: 1.5rem;
  }

  .user-card-list__cards-wrapper--no-margin-top {
    margin-top: 0;
  }
}

@media (min-width: 75rem) {
  .user-card-list {
    margin-top: 2rem;
  }

  .user-card-list__actions {
    top: 6.125rem;
  }

  .user-card-list__actions .user-card-list__autocomplete {
    max-width: 34rem;
  }

  .user-card-list__cards-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    margin-top: 2rem;
  }

  .user-card-list__cards-wrapper--no-margin-top {
    margin-top: 0;
  }
}

@media (min-width: 120rem) {
  .user-card-list {
    margin-top: 2.5rem;
  }

  .user-card-list__cards-wrapper {
    grid-gap: 2rem;
    margin-top: 2.5rem;
  }

  .user-card-list__cards-wrapper--no-margin-top {
    margin-top: 0;
  }

  .user-card-list__form-filter-filters.filters__items {
    grid-template-columns: repeat(4, 1fr);
  }
}