@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.with-product__inner {
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  grid-template-areas: "title" "content" "action-btn" "load-btn";
  justify-items: center;
}

.with-product__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  justify-self: start;
  font-size: 1.5rem;
  font-weight: 700;
}

.with-product__action-btn {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: action-btn;
}

.with-product__content {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: content;
  width: 100%;
}

.with-product__load-btn {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: load-btn;
  margin-top: -0.5rem;
}

@media (min-width: 48rem) {
  .with-product__inner {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    grid-template-areas: "title title" "content content" "action-btn load-btn";
    align-items: center;
  }

  .with-product__title {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .with-product__action-btn {
    margin-left: auto;
  }

  .with-product__load-btn {
    margin-right: auto;
  }
  .with-product__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .with-product__action-btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .with-product__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .with-product__load-btn {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
}

@media (min-width: 75rem) {
  .with-product__inner {
    gap: 2rem;
    grid-template-areas: "title action-btn" "content content" "load-btn load-btn";
  }

  .with-product__load-btn {
    margin-right: unset;
  }
  .with-product__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .with-product__action-btn {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .with-product__content {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .with-product__load-btn {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}