// vendors

// common styles
@import "../common";

// components
@import "../components/tabs";
@import "../components/nav-pages";
@import "../components/collapse";
@import "../components/catalog";

@import "../components/cart.scss";
@import "../components/cart-item.scss";

.main {
  padding: 2.5rem 0 6.5rem;

  @include media($md) {
    padding: 2.5rem 0 8rem;
  }

  @include media($lg) {
    padding: 4rem 0 5rem;
  }

  @include media($full) {
    padding: 5rem 0 7.5rem;
  }
}

.section {
  &__inner {
    max-width: var(--max-width-container-1120);
  }
}

.cart-list {
  @extend %flex-column;

  gap: 1.5rem;
  
  @include media($md) {
    gap: 2rem;
  }

  @include media($full) {
    gap: 2.5rem;
  }
}
