// common styles
@import "../common";

ul {
  & li {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: underline;
    transition: color 0.2s linear;

    &:hover {
      color: lightblue;
    }
  }
}