// vendors
@import "../vendors/swiper-bundle.min";
@import "../vendors/nouislider.min";

// common styles
@import "../common";

// components
@import "../components/nav-pages";
@import "../components/share";
@import "../components/product-menu";
@import "../components/collapse";
@import "../components/tabs";
@import "../components/contact-info";
@import "../components/joint-purchases-list";
@import "../components/joint-purchases-card";
@import "../components/range-slider";

@import "../components/preview-toolbar-action";
@import "../components/cards-with-menu";
@import "../components/tabs-head";
@import "../components/tab-content";
@import "../components/filter-actions";
@import "../components/form-filters";
@import "../components/filters";
@import "../components/sorting";
@import "../components/clear-filter-content-popup";
@import "../components/jp-details";
@import "../components/product";

.section {
  $block: &;

  &--inner-jp {
    margin-top: 0.25rem;

    @include media($md) {
      margin-top: 1rem;
    }

    @include media($lg) {
      margin-top: 2.5rem;
    }

    @include media($full) {
      margin-top: 0;
    }
  }
}