@import "../common";

@import "../components/checkbox";
@import "../components/radio";
@import "../components/collapse";

.ui-kit {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: rgb(var(--color-primary-light));

  &__block-radio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    background-color: rgb(var(--color-white));
    border-radius: var(--radius-small);
  }

  &__block-buttons {
    display: inline-flex;
    gap: 1.5rem;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  margin: 1rem 0;
}
