@import "../common";

@import "../components/checkbox";
@import "../components/radio";
@import "../components/collapse";

.ui-kit {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: rgb(var(--color-primary-light));

  &__block {
    padding: 1rem;
    background-color: rgb(var(--color-white));
    border-radius: var(--radius-small);

    &--primary {
      background-color: rgb(var(--color-primary));
    }
  }

  &__checkbox {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }

  &__radio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 400px;
    width: 100%;
  }

  &__buttons {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  &__badges {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  margin: 1rem 0;
}
