// vendors
@import "../vendors/swiper-bundle.min";
@import "../vendors/nouislider.min";

// common styles
@import "../common";

// components
@import "../components/nav-pages";
@import "../components/user-card-list";
@import "../components/user-card";
@import "../components/collapse";
@import "../components/range-slider";
@import "../components/tabs";

@import "../components/cards-with-menu";
@import "../components/tabs-head";
@import "../components/tab-content";
@import "../components/filter-actions";
@import "../components/form-filters";
@import "../components/filters";
@import "../components/sorting";
@import "../components/clear-filter-content-popup";

@import "../components/preview-toolbar-action";
@import "../components/user-info";
@import "../components/user-board";
@import "../components/share";
@import "../components/post-card-list";
@import "../components/post-card";
@import "../components/sorting";
@import "../components/product-menu";
@import "../components/joint-purchases-list";
@import "../components/joint-purchases-card";
@import "../components/range-slider";
@import "../components/shop-card";
@import "../components/shop-card-list";
@import "../components/product-card";
@import "../components/rating";

.section {
  $block: &;

  &--user-info {
    #{$block}__inner {
      max-width: var(--max-width-container-user-1066);
    }

    padding-top: 1.25rem;

    @include media($md) {
      padding-top: 1rem;
    }

    @include media($lg) {
      padding-top: 2.5rem;
    }

    @include media($full) {
      padding-top: 0rem;
    }
  }

  &--user-board {
    margin-top: 2.5rem;

    @include media($md) {
      margin-top: 4rem;
    }

    @include media($lg) {
      margin-top: 5rem;
    }
  }
}
