<div class="add-publication__selected-inner">
  <div class="add-publication__selected-title">
    Выбранные товары
  </div>
  
  <button class="add-publication__selected-all-clear btn btn--text btn--none btn--color-grey">Очистить выбранные</button>

  <button class="add-publication__selected-close" data-close-popup="selected-goods">
    <svg>
      <use xlink:href="./img/icons/icons.svg#cross"></use>
    </svg>
  </button>

  <ul class="add-publication__selected-list add-publication__content-results-list">

  </ul>
</div>
