<div class="add-goods-from-site">
  <div class="add-goods-from-site__inner">
    <div class="add-goods-from-site__title">
      Вставьте ссылку на страницу с нужным товаром и мы попробуем автоматически подставить информацию в поля ниже. Если что-то скопируется недостоверно, вы сможете изменить это вручную.
    </div>

    <form class="add-goods-from-site__form">
      <div class="add-goods-from-site__form-column">
        <div class="add-goods-from-site__form-field">
          <div class="add-goods-from-site__form-field-title">Вставьте ссылку</div>
          @@include("./input-text.html", {
            name: "link-goods",
            type: "text",
            placeholder: "Ссылка на страницу с нужным товаром",
            prefix: "",
            suffix: "",
            "extra-class": "input-text--color-grey",
            "extra-class-prefix": "",
            "extra-class-suffix": "",
          })
        </div>

        <div class="add-goods-from-site__form-field">
          <div class="add-goods-from-site__form-field-title">Название</div>
          @@include("./input-text.html", {
            name: "name-goods",
            type: "text",
            placeholder: "Название товара",
            prefix: "",
            suffix: "",
            "extra-class": "input-text--color-grey",
            "extra-class-prefix": "",
            "extra-class-suffix": "",
          })
        </div>
        
        <div class="add-goods-from-site__form-field">
          <div class="add-goods-from-site__form-field-title">Стоимость</div>
          @@include("./input-text.html", {
            name: "price-goods",
            type: "text",
            placeholder: "Стоимость товара",
            prefix: "",
            suffix: "",
            "extra-class": "input-text--color-grey",
            "extra-class-prefix": "",
            "extra-class-suffix": "",
          })
        </div>
      </div>

      <div class="add-goods-from-site__form-column add-goods-from-site__form-column-second">
        <div class="add-goods-from-site__form-field">
          <div class="add-goods-from-site__form-field-title">Фото товара</div>
          <div class="add-goods-from-site__form-field-upload">
            <div class="add-goods-from-site__form-field-upload-input">
              @@include("../components/input-text.html", {
                name: "add-image",
                type: "file",
                placeholder: "",
                prefix: '<svg><use xlink:href=\"./img/icons/icons.svg#plus\"></use></svg>',
                suffix: "",
                "extra-class": "input-text--disabled input-text--upload input-text--upload-small add-goods-from-site__form-field-upload",
                "extra-class-prefix": "",
                "extra-class-suffix": "",
                "atr": "",
              })
            </div>
            <div class="add-goods-from-site__form-field-upload-img"></div>
            <div class="add-goods-from-site__form-field-upload-text" data-text="Загрузить другое фото">Загрузить фото</div>
          </div>
        </div>
        
        <div class="add-goods-from-site__form-field">
          <div class="add-goods-from-site__form-field-title">Предпросмотр стороннего товара</div>
          <div class="add-goods-from-site__form-field-preview">
            <div class="add-goods-from-site__form-field-preview-plug">
              <div class="add-goods-from-site__form-field-preview-plug-item"></div>
              <div class="add-goods-from-site__form-field-preview-plug-item"></div>
              <div class="add-goods-from-site__form-field-preview-plug-item"></div>
              <div class="add-goods-from-site__form-field-preview-plug-item"></div>
            </div>
            <div class="add-goods-from-site__form-field-preview-img">
              <div class="publication-item publication-item--grey">
                <div class="publication-item__img"></div>
                <div class="publication-item__content">
                  <div class="publication-item__title"></div>
                  <div class="publication-item__price">
                    <span class="publication-item__price-number"></span>
                  </div>
                  <div class="publication-item__descr"><span class="add-publication__content-results-list-item-subtitle">Товар с другого сайта</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        class="btn submit add-goods-from-site__form-btn"
        data-popup="popup-confirm-from-site"
        data-close-popup="popup-from-site"
        type="button"
        disabled
      >
        Добавить
        
      </button>

      <button class="add-goods-from-site__form-submit-btn" type="submit" hidden></button>
    </form>
  </div>
</div>
