<div class="cart-item">
  <div class="cart-item__wrapper">
    <div class="cart-item__delete">
      <button class="btn btn--text btn--color-grey btn--none">Удалить</button>
    </div>
    <div class="cart-item__inner-product-card">
      <div class="cart-item__product-card">
        <div class="cart-item__product-card-pic">

        </div>
        <div class="cart-item__product-card-decription">
          <div class="cart-item__product-card-decription-title">

          </div>
          <div class="cart-item__product-card-decription-txt">
            
          </div>
        </div>
      </div>
      <div class="cart-item__control">
        <div class="cart-item__control-size">

        </div>
        <div class="cart-item__control-amount">

        </div>
      </div>
    </div>
    <div class="cart-item__inner">
      <div class="cart-item__discount">
        <div class="cart-item__discount-upper">
          <div class="cart-item__discount-upper-title">
            @@if(store){
              <span>Ваша скидка:</span>
            }
            
            @@if(SP){
              <span>Скидка в СП:</span>
            }
          </div>
          <div class="cart-item__discount-upper-size">
            <div class="badge badge--discount-cart">
              -23%
            </div>
          </div>
        </div>
        @@if(store){
          <div class="cart-item__discount-details">
            <div class="cart-item__discount-store">
              <span>1 шт.</span><span>@@1pieceDiscount</span>
              <span>2-3 шт.</span><span>@@3piecesDiscount</span>
              <span>4 шт. и более</span><span>@@4piecesDiscount</span>
            </div>
          </div>
        }
      </div>
      <div class="cart-item__navigate">
        <div class="cart-item__navigate-choose">
          @@if(availableChoose){
            <label class="checkbox checkbox--radius-medium">
              <input name="checkbox" type="checkbox">
              <span class="checkbox__checkmark">
                <svg>
                  <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                </svg>
              </span>
            </label>
            <span class="cart-control__top-choose-all-txt">Выбрать</span>
          }
          @@if(unavailable){
            <svg>
              <use xlink:href="./img/icons/icons.svg#info"></use>
            </svg> 
            <span style="color: rgb(var(--color-red));">Товар недоступен</span>
          }
        </div>
        <div class="cart-item__navigate-price">
          <span class="cart-item__navigate-price-oldSum number">@@oldSum</span>
          <span class="cart-item__navigate-price-newSum number">@@newSum</span>
          <span class="cart-item__navigate-price-newSum">₽</span>
        </div>
      </div>
    </div>
  </div>
</div>