<div class="cart">
  <div class="cart__wrapper">
    @@if(isSP){
      <div class="cart__header">
        <div class="cart__header-title">
          Корзина #@@number (СП)
        </div>
        <div class="cart__header-content">
          <div class="cart__header-inner">
            <div class="cart__header-content-title">Совместная покупка</div> 
            <div class="cart__header-content-feature">
              <div class="cart__header-content-catchPhrase">@@catchPhrase</div> 
              <div class="cart__header-content-feature-inner">
                <div class="cart__header-content-feature-purchases">
                  <div>
                    <span>Уже купили на:</span>
                    <span class="number">@@sold-sum</span>
                    <span> / </span>
                    <span class="number">@@all-sum</span>
                    <span class="currency"> ₽</span>
                  </div>
                  @@if(isActiveSP){
                    <div class="progress progress--primary">
                      <div class="progress__line" style="width:@@isActiveSP_%%"></div>
                    </div>
                  }
                  @@if(isFinishedSP){
                    <div class="progress progress--green">
                      <div class="progress__line" style="width:100%"></div>
                    </div>
                  }
                  @@if(isInactiveSP){
                    <div class="progress progress--grey">
                      <div class="progress__line" style="width:@@isInactiveSP_%%"></div>
                    </div>
                  }
                </div>
                <div>
                  @@if(isActiveSP){
                    <div>Активна до:</div>
                    <span style="font-weight: 600; letter-spacing: 0.02rem;">@@date</span>
                    <span style="font-weight: 600; letter-spacing: 0.02rem">@@time</span>
                  }
                  @@if(isFinishedSP){

                  }
                  @@if(isInactiveSP){

                  }
                </div>
              </div>
            </div> 
          </div>
          <div class="cart__header-inner">
            <div class="cart__header-content-title">Магазин</div> 
          </div>
        </div>
      </div>
    }
  </div>
</div>
  