<div class="cart-list">
  <div class="cart">
    @@include("../components/cart-top.html", {
      "isSP": 'SP',
      "number": '1',
      "catchPhrase": 'Покупаем пока есть скидка, девочки',
      "sold-sum":'79281',
      "all-sum":'241093',
      "isActiveSP": 'isActiveSP',
      "isActiveSP_%": '35',
      "isHappenedSP": '',
      "isNotHappenedSP":'',
      "isInactiveSP_%":'',
      "date":'27.01.2020',
      "time":'12:00',
    })
    @@include("../components/cart-control.html", {
      "isTopControl":'isTopControl',
      "type": 'Товары',
      "isActiveChooseAll": 'isActiveChooseAll',
      "isInActiveChooseAll":'',
      "isBottomControl": '',
      "position": '',
      "amount": '',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": '',
      "canUpdateStore": 'canUpdateStore',
      "isAvailable": 'isAvailable',
      "isDisable": '',
      "isLast" : ''
    })
    <div class="cart__items">
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum":'205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide2.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Тянущееся платье с длинными рукавами',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'availableChoose',
        "disabledSize": ''
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum":'205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide4.jpg"></img>',
        "cart-card-brand":'Louis Vuitton',
        "cart-card-brand-description":'Пуховик из кожи с узором Monogram Micro',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'availableChoose',
        "disabledSize": ''
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum":'205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide2.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Тянущееся платье с длинными рукавами',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'availableChoose',
        "disabledSize": '',
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": '',
        "unavailable": 'unavailable',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum":'205 000',
        "totalNewSum": '187 558',
        "disabled": 'disabled',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide3.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Блейзер Hourglass из шерсти с узором "гусиная лапка"',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": '',
        "disabledSize": 'disabledSize'
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": '',
        "unavailable": 'unavailable',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": 'disabled',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide3.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Блейзер Hourglass из шерсти с узором "гусиная лапка"',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": '',
        "disabledSize": ''
      })
    </div>
    @@include("../components/cart-control.html", {
      "isTopControl":'',
      "type": 'Товары',
      "isActiveChooseAll": 'isInActiveChooseAll',
      "isInActiveChooseAll":'',
      "isBottomControl": 'isBottomControl',
      "position": '5',
      "amount": '6',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": '',
      "canUpdateStore": '',
      "isAvailable": 'isAvailable',
      "isDisable": '',
      "isLast" : ''
    })
  </div>

  <div class="cart">
    @@include("../components/cart-top.html", {
      "isSP": 'SP',
      "number": '2',
      "catchPhrase": 'Покупаем пока есть скидка, девочки',
      "sold-sum":'79281',
      "all-sum":'241093',
      "isActiveSP": '',
      "isActiveSP_%": '',
      "isHappenedSP": '',
      "isNotHappenedSP":'isNotHappenedSP',
      "isInactiveSP_%":'35',
      "date":'27.01.2020',
      "time":'12:00',
    })
    @@include("../components/cart-control.html", {
      "isTopControl":'isTopControl',
      "type": 'Товары',
      "isActiveChooseAll": '',
      "isInActiveChooseAll":'isInActiveChooseAll',
      "isBottomControl": '',
      "position": '4',
      "amount": '21',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": '',
      "canUpdateStore": 'canUpdateStore',
      "isAvailable": 'isAvailable',
      "isDisable": '',
      "isLast" : ''
    })
    <div class="cart__items">
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": '',
        "unavailable": 'unavailable',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": 'disabled',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide3.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Тянущееся платье с длинными рукавами',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": '',
        "disabledSize": ''
      })
    </div>
    @@include("../components/cart-control.html", {
      "isTopControl":'',
      "type": 'Товары',
      "isActiveChooseAll": 'isInActiveChooseAll',
      "isInActiveChooseAll":'',
      "isBottomControl": 'isBottomControl',
      "position": '1',
      "amount": '2',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": 'canCreateSP',
      "canUpdateStore": '',
      "isAvailable": '',
      "isDisable": 'isDisable',
      "isLast" : ''
    })
  </div>

  <div class="cart">
    @@include("../components/cart-top.html", {
      "isSP": 'SP',
      "number": '3',
      "catchPhrase": 'Покупаем пока есть скидка, девочки',
      "sold-sum":'79281',
      "all-sum":'241093',
      "isActiveSP": '',
      "isActiveSP_%": '35',
      "isHappenedSP": 'isHappenedSP',
      "isNotHappenedSP":'',
      "isInactiveSP_%":'',
      "date":'27.01.2020',
      "time":'12:00',
    })
    @@include("../components/cart-control.html", {
      "isTopControl":'isTopControl',
      "type": 'Товары',
      "isActiveChooseAll": '',
      "isInActiveChooseAll":'isInActiveChooseAll',
      "isBottomControl": '',
      "position": '4',
      "amount": '21',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": '',
      "canUpdateStore": 'canUpdateStore',
      "isAvailable": 'isAvailable',
      "isDisable": '',
      "isLast" : ''
    })
    <div class="cart__items">
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": '',
        "unavailable": 'unavailable',
        "store":'',
        "SP": 'SP',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": 'disabled',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide3.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Тянущееся платье с длинными рукавами',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": '',
        "disabledSize": ''
      })
    </div>
    @@include("../components/cart-control.html", {
      "isTopControl":'',
      "type": 'Товары',
      "isActiveChooseAll": 'isInActiveChooseAll',
      "isInActiveChooseAll":'',
      "isBottomControl": 'isBottomControl',
      "position": '1',
      "amount": '2',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": 'canCreateSP',
      "canUpdateStore": '',
      "isAvailable": '',
      "isDisable": 'isDisable',
      "isLast" : ''
    })
  </div>

  <div class="cart">
    @@include("../components/cart-top.html", {
      "isSP": '',
      "number": '4',
      "catchPhrase": '',
      "sold-sum":'79281',
      "all-sum":'241093',
      "isActiveSP": 'isActiveSP',
      "isActiveSP_%": '35',
      "isHappenedSP": '',
      "isNotHappenedSP":'',
      "isInactiveSP_%":'',
      "date":'27.01.2020',
      "time":'12:00',
    })
    @@include("../components/cart-control.html", {
      "isTopControl":'isTopControl',
      "type": 'Товары',
      "isActiveChooseAll": 'isActiveChooseAll',
      "isInActiveChooseAll":'',
      "isBottomControl": '',
      "position": '4',
      "amount": '21',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": '',
      "canUpdateStore": 'canUpdateStore',
      "isAvailable": 'isAvailable',
      "isDisable": '',
      "isLast" : ''
    })
    <div class="cart__items">
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'store',
        "SP": '',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide2.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Тянущееся платье с длинными рукавами',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'availableChoose',
        "disabledSize": ''
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'store',
        "SP": '',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide4.jpg"></img>',
        "cart-card-brand":'Louis Vuitton',
        "cart-card-brand-description":'Пуховик из кожи с узором Monogram Micro',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'availableChoose',
        "disabledSize": ''
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'store',
        "SP": '',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide2.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Тянущееся платье с длинными рукавами',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'availableChoose',
        "disabledSize": '',
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": 'availableChoose',
        "unavailable": '',
        "store":'store',
        "SP": '',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": '',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide2.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Блейзер Hourglass из шерсти с узором "гусиная лапка"',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": 'enabledControl',
        "disabledSize": ''
      })
      @@include("../components/cart-item.html", {
        "id": '1',
        "availableChoose": '',
        "unavailable": 'unavailable',
        "store":'store',
        "SP": '',
        "1pieceDiscount": '/  459 000 ₽  /  -10%',
        "3piecesDiscount": '/  408 000 ₽  /  -20%',
        "4piecesDiscount":'/  357 000 ₽  /  -40%',
        "oldSum":'102500',
        "newSum": '93779',
        "totalOldSum": '205 000',
        "totalNewSum": '187 558',
        "disabled": 'disabled',
        "picked": '',
        "disabledPicked":'',
        "cart-card-pic": '<img src="@img/sp-slide3.jpg"></img>',
        "cart-card-brand":'Balenciaga',
        "cart-card-brand-description":'Блейзер Hourglass из шерсти с узором "гусиная лапка"',
        "sizes":'34 EU / XS',
        "amounts": '2 шт.',
        "enabledControl": '',
        "disabledSize": ''
      })
    </div>
    @@include("../components/cart-control.html", {
      "isTopControl":'',
      "type": 'Товары',
      "isActiveChooseAll": 'isInActiveChooseAll',
      "isInActiveChooseAll":'',
      "isBottomControl": 'isBottomControl',
      "position": '4',
      "amount": '21',
      "oldSum": '182500',
      "newSum": '93779',
      "totalOldSum": '205 000',
      "totalNewSum": '187 558',
      "canCreateSP": '',
      "canUpdateStore": 'canUpdateStore',
      "isAvailable": 'isAvailable',
      "isDisable": '',
      "isLast" : 'isLast'
    })
  </div>
</div>