<div class="choose-city">
  <div class="choose-city__inner">
    <div class="choose-city__header">
      <button class="choose-city__back">
        <svg class="choose-city__back-icon" data-popup="location" data-close-popup="choose-city">
          <use xlink:href="./img/icons/icons.svg#arrowGoLeft"></use>
        </svg>
      </button>
      <div class="choose-city__title">Выберите город</div>
      <button class="choose-city__cross" data-close-popup="choose-city">
        <svg class="choose-city__cross-icon">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </button>
    </div>
    <div class="choose-city__search">
      @@include("./input-text.html", {
        placeholder: "Найдите свой город",
        prefix: "<svg class='choose-city__search-icon'><use xlink:href='./img/icons/icons.svg#search'></use></svg>",
        suffix: "",
        "extra-class": "",
        "extra-class-prefix": "",
        "extra-class-suffix": "",
        "type": "search",
      })
    </div>
    <ul class="choose-city__list">
      <li class="choose-city__list-item">
        @@include("./radio.html", {
          "name": "city",
          "text": "Москва",
          "mod": "",
          "value": "Москва",
        })
      </li>
      <li class="choose-city__list-item">
        @@include("./radio.html", {
          "name": "city",
          "text": "Санкт-Петербург",
          "mod": "",
          "value": "Санкт-Петербург",
        })
      </li>
    </ul>
  </div>
</div>
