<div class="clear-filter-content-popup">
  <div class="clear-filter-content-popup__inner">
    <div class="clear-filter-content-popup__title">Сбросить фильтры?</div>
    <div class="clear-filter-content-popup__descr">
      Все настроенные Вами фильтры будут удалены. Это действие невозможно отменить.
    </div>
    <div class="clear-filter-content-popup__actions">
      <div class="btn btn--text btn--color-grey" data-close-popup="">Еще подумаю</div>
      <div class="btn clear-filters" data-close-popup="">Да, сбросить</div>
    </div>
  </div>
</div>