.clear-filter-content-popup
  .clear-filter-content-popup__inner
    .clear-filter-content-popup__title Сбросить фильтры?
    .clear-filter-content-popup__descr
      | Все настроенные Вами фильтры будут удалены. Это действие невозможно отменить.
    .clear-filter-content-popup__actions
      .btn.btn--text.btn--color-grey.popup__close Еще подумаю
      .btn.clear-filters.popup__close Сбросить
