<div class="comments">
  <div class="comments__title">
		Комментарии
		<span class="comments__title-count">4</span>
	</div>
		<form class="comments__comment">
			<div class="comments__comment-avatar">
				<svg class="comments__comment-avatar-default">
					<use xlink:href="./img/icons/icons.svg#user-comments"></use>
				</svg>
				<img class="comments__comment-avatar-img" src="@img/avatar.jpg" alt="user-avatar">
			</div>
	
			<!-- При натяжке можно будет убрать дублирование элементов те что с низу (инпут и кнопка), сейчас сделано для демо -->
			<div class="comments__comment-input comments__comment-input--no-auth">
				@@include("./input-text.html", {
					name: "comment-disabled",
					type: "text",
					placeholder: "в свой аккаунт",
					prefix: '<button type="button" class="btn btn--none" data-popup="login">Войдите</button>',
					suffix: "",
					"extra-class": "input-text--color-grey input-text--disabled",
					"extra-class-prefix": "",
					"extra-class-suffix": "",
					"atr": "disabled",
				})
			</div>
	
			<div class="comments__comment-input comments__comment-input--auth">
				@@include("./input-text.html", {
					name: "comment-main",
					type: "text",
					placeholder: "Ваш комментарий тут",
					prefix: "",
					suffix: "",
					"extra-class": "input-text--color-grey",
					"extra-class-prefix": "",
					"extra-class-suffix": "",
				})
			</div>
	
			<button class="btn comments__comment-submit comments__comment-submit--no-auth" disabled type="button">Отправить</button>
			<button class="btn btn--color-primary-light comments__comment-submit comments__comment-submit--auth" type="submit">Отправить</button>
		</form>

		<div class="comments__list">
			<div class="comments__item">
				<div class="comments__item-time">18 апреля 2021 в 10:53</div>
				<div class="comments__item-wrapper">
					<div class="comments__item-avatar">
						<img class="comments__item-avatar-img" src="@img/user-julia.jpg" alt="user-avatar">
					</div>
					<div class="comments__item-title">
						<div class="comments__item-title-name">Юлия М.</div>
					</div>
					<div class="comments__item-text">
						в целом выглядит норм, но быстро будешь пачкаться и ходить как свинка.
						есть другие варианты по цвету или теперь в тренде только белый?
					</div>
					<div class="comments__item-actions">
						<button class="comments__item-actions-like">
							<svg class="comments__item-actions-svg">
								<use xlink:href="./img/icons/icons.svg#favourite"></use>
							</svg>
						</button>
						<div class="comments__item-actions-count">0</div>
						<button class="btn btn--none comments__item-actions-btn">Ответить</button>
					</div>
					<div class="comments__item-line"></div>
				</div>

				<div class="comments__item-answer-wrapper">
					<div class="comments__item">
						<div class="comments__item-time">18 апреля 2021 в 10:53</div>
						<div class="comments__item-wrapper">
							<div class="comments__item-avatar">
								<img class="comments__item-avatar-img" src="@img/logo-user-sm.jpg" alt="user-avatar">
							</div>
							<div class="comments__item-title">
								<div class="comments__item-title-name">Олеся Смирнова</div>
								<div class="comments__item-title-descr">в ответ Юлия М.</div>
							</div>
							<div class="comments__item-text">
								Юлия, вариантов много, просто эта публикация посвящена именно белому цвету. Посмотрите например
								вот эти: <a class="comments__item-text-link" href="">черным цветом</a> и с <a class="comments__item-text-link" href="">зеленым</a>.
								Еще можете на меня подписаться, я каждую неделю выкладываю публикации с новыми цветами и новым стилем.
							</div>
							<div class="comments__item-actions">
								<button class="comments__item-actions-like">
									<svg class="comments__item-actions-svg">
										<use xlink:href="./img/icons/icons.svg#favourite"></use>
									</svg>
								</button>
								<div class="comments__item-actions-count">3</div>
								<button class="btn btn--none comments__item-actions-btn">Ответить</button>
							</div>
							<div class="comments__item-line"></div>
						</div>
		
						<div class="comments__item-answer-wrapper">
							<div class="comments__item">
								<div class="comments__item-time">18 апреля 2021 в 10:53</div>
								<div class="comments__item-wrapper">
									<div class="comments__item-avatar">
										<img class="comments__item-avatar-img" src="@img/user-julia.jpg" alt="user-avatar">
									</div>
									<div class="comments__item-title">
										<div class="comments__item-title-name">Юлия М.</div>
										<div class="comments__item-title-descr">в ответ Олеся Смирнова</div>
									</div>
									<div class="comments__item-text">
										ок, спасибо за ссылки. сейчас гляну
									</div>
									<div class="comments__item-actions">
										<button class="comments__item-actions-like">
											<svg class="comments__item-actions-svg">
												<use xlink:href="./img/icons/icons.svg#favourite"></use>
											</svg>
										</button>
										<div class="comments__item-actions-count">1</div>
										<button class="btn btn--none comments__item-actions-btn">Ответить</button>
									</div>
									<div class="comments__item-line"></div>
								</div>
								<div class="comments__item-answer-wrapper"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="comments__item">
				<div class="comments__item-time">18 апреля 2021 в 11:57</div>
				<div class="comments__item-wrapper">
					<div class="comments__item-avatar">
						<img class="comments__item-avatar-img" src="@img/user-ekaterina.jpg" alt="user-avatar">
					</div>
					<div class="comments__item-title">
						<div class="comments__item-title-name">Екатерина Добрынина</div>
					</div>
					<div class="comments__item-text">
						А мне очень понравилась подборка для образа, просто бомба!
					</div>
					<div class="comments__item-actions">
						<button class="comments__item-actions-like">
							<svg class="comments__item-actions-svg">
								<use xlink:href="./img/icons/icons.svg#favourite"></use>
							</svg>
						</button>
						<div class="comments__item-actions-count">978</div>
						<button class="btn btn--none comments__item-actions-btn">Ответить</button>
					</div>
				</div>
				<div class="comments__item-answer-wrapper"></div>
			</div>
		</div>

		<template id="answer-template">
			<div class="comments__item-answer-new">
				<div class="comments__item-answer-new-logo">
					<img src="@img/avatar.jpg" alt="user-logo">
				</div>
				<div class="comments__item-answer-new-input-wrapper">
					<textarea class="comments__item-answer-new-input textarea" name="answer"></textarea>
				</div>
				<button type="button" class="btn btn--color-primary-light comments__item-answer-new-btn">Отправить</div>
			</div>
		</template>
</div>