<div class="confirm-add-goods">
  <div class="confirm-add-goods__title">
    Вы уверены что хотите добавить этот товар?
  </div>
  <div class="confirm-add-goods__card"></div>
  <div class="confirm-add-goods__actions">
    <button
      class="btn btn--text btn--none btn--color-grey"
      data-popup="popup-from-site"
      data-close-popup="popup-confirm-from-site"
    >
      Еще подумаю
    </button>
    <button class="btn btn--loading confirm-add-goods__submit-btn">
      Добавляем
      <svg class=""><use xlink:href="./img/icons/icons.svg#loading"></use></svg>
    </button>
  </div>
</div>

<template id="list-item-template">
  <li class="add-publication__content-results-list-item" data-id="">
    <button class="add-publication__content-results-list-item-clear btn">
      <svg>
        <use xlink:href="./img/icons/icons.svg#cross"></use>
      </svg>
    </button>
  </li>
</template>
