<div class="contact-info">
  <div class="contact-info__connect">
    <div class="contact-info__connect-item contact-info__mail">
      <svg class="contact-info__icon">
        <use xlink:href="./img/icons/icons.svg#mail"></use>
      </svg>
      info@lass-fashion.ru
    </div>
    <div class="contact-info__connect-item contact-info__phone">
      <svg class="contact-info__icon">
        <use xlink:href="./img/icons/icons.svg#phone"></use>
      </svg>
      +7 (495) 234-34-34
    </div>
    <div class="contact-info__connect-item contact-info__shedule">
      <svg class="contact-info__icon">
        <use xlink:href="./img/icons/icons.svg#clock"></use>
      </svg>
      ПН-ВС 10:00-20:00
    </div>
  </div>
  <div class="contact-info__descr">
    <h3 class="contact-info__descr-title">Юридическая информация:</h3>
    <p>Полное наименование: Общество с ограниченной ответственностью «Национальный цифровой ресурс «РУКОНТ»
      Юридический адрес: 129090, г. Москва, Протопоповский пер., д. 19, корп. 12
      Телефон: +7(495)719-09-21
    </p>
    <div>
      ИНН/КПП: 7702823270 / 770201001
      <div>ОГРН: 1137746876090</div>
    </div>
  </div>
</div>