.contact-info
  .contact-info__connect
    .contact-info__connect-item.contact-info__mail
      svg.contact-info__icon
        use(xlink:href="./img/icons/icons.svg#mail")
      | info@lass-fashion.ru
    .contact-info__connect-item.contact-info__phone
      svg.contact-info__icon
        use(xlink:href="./img/icons/icons.svg#phone")
      | +7 (495) 234-34-34
    .contact-info__connect-item.contact-info__shedule
      svg.contact-info__icon
        use(xlink:href="./img/icons/icons.svg#clock")
      | ПН-ВС 10:00-20:00
  .contact-info__descr
    h3.contact-info__descr-title Юридическая информация:
    p
      | Полное наименование: Общество с ограниченной ответственностью «Национальный цифровой ресурс «РУКОНТ»
      br
      | Юридический адрес: 129090, г. Москва, Протопоповский пер., д. 19, корп. 12
      br
      | Телефон: +7(495)719-09-21
    div
      | ИНН/КПП: 7702823270 / 770201001
      div ОГРН: 1137746876090
