.created-publication
  svg.created-publication__icon
    use(xlink:href="./img/icons/icons.svg#check-round")
  .created-publication__title
    | Ваша публикация готова!
  .created-publication__descr
    span Теперь посмотрим на нее “вживую”?
    span Или отправимся смотреть товары для новой?
  .created-publication__links
    a(href="#") Посмотреть публикацию
    a(href="#") Перейти ко всем товарам
