<div class="created-publication">
  <svg class="created-publication__icon">
    <use xlink:href="./img/icons/icons.svg#check-round"></use>
  </svg>
  <div class="created-publication__title">
    Ваша публикация готова!
  </div>
  <div class="created-publication__descr">
    <span>Теперь посмотрим на нее “вживую”?</span>
    <span>Или отправимся смотреть товары для новой?</span>
  </div>
  <div class="created-publication__links">
    <a href="#">Посмотреть публикацию</a>
    <a href="#">Перейти ко всем товарам</a>
  </div>
</div>