.cropper-publication
  p.cropper-publication__descr
    | Выберите области, которые будут показываться в миниатюрах добавленных вами фотографий. Для этого сначала выберите фотографию миниатюры, затем область на ней.
  .cropper-publication__title.cropper-publication__title-img Фотографии
  .cropper-publication__images
  .cropper-publication__title.cropper-publication__title-area Выбранная область
  .cropper-publication__selected-wrapper
  button.cropper-publication__btn.btn(type="button", data-close-popup="cropper") Сохранить и продолжить
