<div class="cropper-publication">
  <p class="cropper-publication__descr">
    Выберите области, которые будут показываться в миниатюрах добавленных вами фотографий. Для этого сначала выберите фотографию миниатюры, затем область на ней.
  </p>
  <div class="cropper-publication__title cropper-publication__title-img">Фотографии</div>
  <div class="cropper-publication__images"></div>
  <div class="cropper-publication__title cropper-publication__title-area">Выбранная область</div>
  <div class="cropper-publication__selected-wrapper"></div>
  <button type="button" class="cropper-publication__btn btn" data-close-popup="cropper">Сохранить и продолжить</button>
</div>