<div class="location @@extra-class">
  <div class="location__inner">
    <div class="location__img location__not-setup">
      <img src="@img/delivery.jpg" alt="delivery">
    </div>
    <div class="location__descr location__setup">
      Выберите адрес, чтобы увидеть условия доставки
    </div>
    <div class="location__actions">
      <div class="location__actions-city">
        <svg class="location__address-city-icon">
          <use xlink:href="./img/icons/icons.svg#map"></use>
        </svg>
        <span class="location__address-city-name">Москва</span>
      </div>
      <button class="location__actions-change btn btn--text" data-popup="choose-city" data-close-popup="location">
        Изменить
      </button>
    </div>
    <ul class="location__addresses location__setup">
      <li class="location__address" data-value="почта_россии" role="button" tabindex="0" data-delivery="pickup" data-close-popup="location">
        <div class="location__address-header">
          <div class="location__address-option">Отделение Почты России</div>
          <button class="location__address-remove">
            <svg class="location__address-remove-icon">
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </button>
        </div>
        <div class="location__address-address">188508, г Санкт-Петербург, пр-кт Большой В.О., дом 70 литер А</div>
        <div class="location__address-storage-period">
          Срок хранения заказа - 
          <span class="location__address-storage-period-count">15 дней</span>
        </div>
      </li>
      <li class="location__address location__address--selected" data-value="адрес 1" role="button" tabindex="0" data-delivery="courier" data-close-popup="location">
        <div class="location__address-header">
          <div class="location__address-option">Доставка по адресу</div>
          <button class="location__address-remove">
            <svg class="location__address-remove-icon">
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </button>
        </div>
        <div class="location__address-address">188508, г Москва, пр-кт Космонавтов, дом 1</div>
        <div class="location__address-contacts">
          Маргарита А., +7 999 123 45 67
        </div>
      </li>
    </ul>
    <div class="location__descr location__not-setup">
      Укажите точный адрес или выберите удобный пункт выдачи, чтобы заранее увидеть условия доставки товаров
    </div>
    <button class="location__button location__not-setup btn" data-popup="map" data-close-popup="location">
      Выбрать адрес на карте
    </button>
    <button class="location__button location__setup btn" data-popup="map" data-close-popup="location">
      Добавить новый адрес или пункт
    </button>
  </div>
</div>