<div class="map">
  <div class="map__inner">
    <div class="map__header">
      <button class="map__header-back">
        <svg class="map__header-back-icon" data-popup="location" data-close-popup="map">
          <use xlink:href="./img/icons/icons.svg#arrowGoLeft"></use>
        </svg>
      </button>
      <div class="map__header-title">Способ доставки товаров</div>
      <div class="map__header-options">
        @@include("./radio.html", {
          "name": "choose-delivery",
          "text": "Самовывоз",
          "value": "pickup",
          "extra-class": "radio--active radio--reverse",
          "isChecked": "checked",
        })
        @@include("./radio.html", {
          "name": "choose-delivery",
          "text": "Курьером",
          "value": "courier",
          "extra-class": "radio--active radio--reverse",
        })
      </div>
      <button class="map__header-cross btn btn--color-primary-light">
        <svg class="map__header-cross-icon" data-close-popup="map">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </button>
    </div>
    <div class="map__yandex">
      <iframe
        id="maps"
        width="100%"
        height="100%"
        frameborder="0"
        data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A537fae7c168826971fda4be15fc49e507e7378b4120e7181ce22ba085fc788eb&amp;source=constructor"
      >
      </iframe>
    </div>
    <div class="map__address">
      <div class="map__address-header">Куда доставить заказ?</div>
      <div class="map__address-descr">
        <div class="map__address-descr-pickup">
          Выберите пункт выдачи или найдите
        </div>
        <div class="map__address-descr-courier">
          Выберите адрес на карте или найдите
        </div>
      </div>
      <div class="map__address-actions">
        @@include("./autocomplete.html", {
          id: "pickup-autocomplete",
          name: "pickup-autocomplete",
          placeholder: "Пункт выдачи",
          "extra-class": "map__address-actions-input map__autocomplete--pickup",
          "input-extra-class": "autocomplete__input",
          prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
          suffix: '<div class="autocomplete__load"><svg class="autocomplete__load-icon"><use xlink:href="./img/icons/icons.svg#loading"></use></svg></div>',
          "tag": '',
          options: '',
          "extra-class-prefix": '',
          "extra-class-suffix": '',
        })
        @@include("./autocomplete.html", {
          id: "courier-autocomplete",
          name: "courier-autocomplete",
          placeholder: "Адрес доставки",
          "extra-class": "map__address-actions-input map__autocomplete--courier",
          "input-extra-class": "autocomplete__input",
          prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
          suffix: '<div class="autocomplete__load"><svg class="autocomplete__load-icon"><use xlink:href="./img/icons/icons.svg#loading"></use></svg></div>',
          "tag": '',
          options: '',
          "extra-class-prefix": '',
          "extra-class-suffix": '',
        })
        <button class="map__address-actions-define">
          <svg class="map__address-actions-define-icon">
            <use xlink:href="./img/icons/icons.svg#compass"></use>
          </svg>
          Определить местоположение
        </button>
        <button class="btn map__btn map__btn--pickup" data-close-popup="map" data-popup="location" disabled>
          Продолжить
        </button>
        <button class="btn map__btn map__btn--courier" disabled>
          Продолжить
        </button>
      </div>
    </div>
  </div>
</div>
