<nav class="nav">
  <ul class="nav__list">
    @@loop('./menu-mobile-item.html', [
      {
        "href": "#",
        "icon": "camera",
        "body": "Публикация",
        "class": "publication",
        "isActive": "@@if(activeItem === 'publication') {'active'}",
        "count": 0,
        "avatar": "",
      },
      {
        "href": "./catalog.html",
        "icon": "catalog",
        "body": "Каталог",
        "class": "catalog",
        "isActive": "@@if(activeItem === 'catalog') {'active'}",
        "count": 0,
        "avatar": "",
      },
      {
        "href": "#",
        "icon": "feed",
        "body": "Лента",
        "class": "feed",
        "isActive": "@@if(activeItem === 'feed') {'active'}",
        "count": 0,
        "avatar": "",
      },
      {
        "href": "#",
        "icon": "shopping-bag",
        "body": "Корзина",
        "class": "shopping-bag",
        "isActive": "@@if(activeItem === 'shopping-bag') {'active'}",
        "count": 1,
        "avatar": "",
      },
      {
        "href": "#",
        "icon": "profile",
        "body": "Профиль",
        "class": "profile",
        "isActive": "@@if(activeItem === 'profile') {'active'}",
        "count": 0,
        "avatar": "true",
      },
    ])
  </ul>
</nav>
