nav.nav-pages
  ul.nav-pages__list
    li
      a(href="#") Магазины
    li
      a(href="#") Совместные покупки
    li
      a(href="#") Test for Free
    li
      a(href="./users.html") Блогеры
    li
      a(href="#") Публикации
