<div id="@@id" class="popup @@extra-class" @@media>
  <div class="popup__overlay">
    <div class="popup__content">
      @@if(title) {
        <div class="popup__header">
          <div class="popup__header-title">@@title</div>
          <button class="popup__header-btn-close btn btn--color-primary-light" data-close-popup="@@id">
            <svg class="popup__header-btn-close-icon">
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </button>
        </div>
      }
      @@body
    </div>
  </div>
</div>