<div id="@@listId" class="post-card-list">
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-card-img-black.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"",
    "scores-discus":"",
    "scores-likes":"",
    "liked":"liked",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-card-img-white.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Светлый образ на холодную весну",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"",
    "scores-discus":"",
    "scores-likes":"",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-louis-vuitton.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"scores",
    "scores-discus":"3058",
    "scores-likes":"64197",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-jeans.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"",
    "scores-discus":"",
    "scores-likes":"",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-louis-vuitton.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"scores",
    "scores-discus":"3058",
    "scores-likes":"64197",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-jeans.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"scores",
    "scores-discus":"3058",
    "scores-likes":"64197",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-card-img-black.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"",
    "scores-discus":"",
    "scores-likes":"",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-card-img-white.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"",
    "scores-discus":"",
    "scores-likes":"",
    "liked":"",
  })
  @@include("../components/post-card.html", {
    "img": '<img src="@img/post-card-img-white.png"></img>',
    "user-name":"Олеся Смирнова",
    "desc":"Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
    "user-logo":'<img src="@img/logo-user-sm.png"></img>',
    "scores":"",
    "scores-discus":"",
    "scores-likes":"",
    "liked":"",
  })
</div>