<div class="product-in-modal">
  @@include("../components/product.html", {
    "product-img1": '<img src="@img/product-img1.png"></img>',
    "product-img2": '<img src="@img/product-img2.png"></img>',
    "product-img3": '<img src="@img/product-img3.png"></img>',
    "product-img4": '<img src="@img/product-img4.png"></img>',
    "product-img5": '<img src="@img/product-img5.png"></img>',
    "point": "в Москву",
    "delivery-price": "300",
    "product-description": "Дизайн пуховика из кожи ягнёнка с набивкой из гусиного пуха превосходно отражает ключевую концепцию коллекции изделий из кожи. Изысканная модель цвета шампанского украшена тиснёным узором Monogram Micro. Контрастная эмблема Louis Vuitton и кнопки с гравировкой — дань традициям Дома. Эластичный пояс дополняет объёмный силуэт в спортивном стиле.",
    "product-name": "Louis Vouitton",
    "product-short-description": "Пуховик из кожи с узором monogram micro",
    "likes-score": "89",
    "post-score": "108",
    "price-crossed": "510000",
    "price-new": "459000",
    "discount-score": "10",
    "product-sp-description": "Покупаем пока есть скидка, девочки",
    "img-seller": '<img src="@img/shop-avatar.png"></img>',
    "seller-name": "Интернет магазин одежды и аксессуаров Lass",
    "discount-extra": "50",
    "discount-extra-sum": "459000",
    "sp-discount-links-found": "79",
    "extra-class": "product-in-modal__product-popup",
    "ifDiscount": "",
 })
</div>