<!-- Примерно под такую структуру: -->

<!-- const dataMenu = [
  {
    title: 'Одежда Level 1',
    count: 1200,
    submenu: [
      {
        title: 'Платья и сарафаны Level 2',
        submenu: [
          {
            title: 'Вечерние платья Level 3',
          },
          {
            title: 'Деловые платья Level 3',
          },
        ],
      },
      {
        title: 'Юбки Level 2',
        submenu: [
          {
            title: 'Юбки Level 3',
          },
          {
            title: 'Юбки Level 3',
          },
        ],
      },
    ],
  },
  {
    title: 'Обувь Level 1',
    count: 1200,
    submenu: [
      {
        title: 'Обувь Level 2',
        submenu: [
          {
            title: 'Обувь Level 3',
          },
          {
            title: 'Обувь Level 3',
          },
        ],
      },
      {
        title: 'Обувь Level 2',
        submenu: [
          {
            title: 'Обувь Level 3',
          },
          {
            title: 'Обувь Level 3',
          },
        ],
      },
    ],
  },
] -->

<ul class="product-menu">
  <!-- Элемент первого уровня -->
  <li class="product-menu__item collapse">
    <div class="collapse__head">
      @@include("./radio.html", {
        "name": "@@name",
        "text": '<span class="product-menu__title">Одежда level 1<span class="product-menu__count">1200</span></span>',
        "value": "cloth-level-1",
      })
    </div>
    <ul class="product-menu__submenu collapse__content">
      <!-- Элементы второго уровня -->
      <li class="product-menu__item collapse collapse--close">
        <div class="collapse__head">
          @@include("./radio.html", {
            "name": "@@name",
            "text": '<span class="product-menu__title">Одежда level 2-1</span>',
            "value": "cloth-level-2-1",
          })
        </div>
        <ul class="product-menu__submenu collapse__content">
          <!-- Элементы третьего уровня -->
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Одежда level 3-1</span>',
              "value": "cloth-level-3-1",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Одежда level 3-2</span>',
              "value": "cloth-level-3-2",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Одежда level 3-3</span>',
              "value": "cloth-level-3-3",
            })
          </li>
        </ul>
      </li>
      <!-- Элементы второго уровня -->
      <li class="product-menu__item collapse collapse--close">
        <div class="collapse__head">
          @@include("./radio.html", {
            "name": "@@name",
            "text": '<span class="product-menu__title">Одежда level 2-2</span>',
            "value": "cloth-level-2-2",
          })
        </div>
        <ul class="product-menu__submenu collapse__content">
          <!-- Элементы третьего уровня -->
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Одежда level 3</span>',
              "value": "cloth-level-3-2-1",
            })  
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Одежда level 3</span>',
              "value": "cloth-level-3-2-2",
            })  
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Одежда level 3</span>',
              "value": "cloth-level-3-2-3",
            })  
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="product-menu__item collapse collapse--close">
    <div class="collapse__head">
      @@include("./radio.html", {
        "name": "@@name",
        "text": '<span class="product-menu__title">Обувь level 1</span>',
        "value": "shoes-level-1",
      })
    </div>
    <ul class="product-menu__submenu collapse__content">
      <!-- Элементы второго уровня -->
      <li class="product-menu__item collapse collapse--close">
        <div class="collapse__head">
          @@include("./radio.html", {
            "name": "@@name",
            "text": '<span class="product-menu__title">Обувь level 2-1</span>',
            "value": "shoes-level-2-1",
          })
        </div>
        <ul class="product-menu__submenu collapse__content">
          <!-- Элементы третьего уровня -->
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Обувь level 3</span>',
              "value": "shoes-level-3-1",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Обувь level 3</span>',
              "value": "shoes-level-3-2",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Обувь level 3</span>',
              "value": "shoes-level-3-3",
            })
          </li>
        </ul>
      </li>
      <!-- Элементы второго уровня -->
      <li class="product-menu__item collapse collapse--close">
        <div class="collapse__head">
          @@include("./radio.html", {
            "name": "@@name",
            "text": '<span class="product-menu__title">Обувь level 2-2</span>',
            "value": "shoes-level-2-2",
          })
        </div>
        <ul class="product-menu__submenu collapse__content">
          <!-- Элементы третьего уровня -->
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Обувь level 3</span>',
              "value": "shoes-level-3-2-1",
            })  
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Обувь level 3</span>',
              "value": "shoes-level-3-2-2",
            })  
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Обувь level 3</span>',
              "value": "shoes-level-3-2-3",
            })  
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="product-menu__item collapse collapse--close">
    <div class="collapse__head">
      @@include("./radio.html", {
        "name": "@@name",
        "text": '<span class="product-menu__title">Бытовая техника level 1</span>',
        "value": "Appliances-level-1",
      })
    </div>
    <ul class="product-menu__submenu collapse__content">
      <!-- Элементы второго уровня -->
      <li class="product-menu__item collapse collapse--close">
        <div class="collapse__head">
          @@include("./radio.html", {
            "name": "@@name",
            "text": '<span class="product-menu__title">Бытовая техника level 2-1</span>',
            "value": "Appliances-level-2-1",
          })
        </div>
        <ul class="product-menu__submenu collapse__content">
          <!-- Элементы третьего уровня -->
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Бытовая техника level 3</span>',
              "value": "Appliances-level-3-1",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Бытовая техника level 3</span>',
              "value": "Appliances-level-3-2",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Бытовая техника level 3</span>',
              "value": "Appliances-level-3-3",
            })
          </li>
        </ul>
      </li>
      <!-- Элементы второго уровня -->
      <li class="product-menu__item collapse collapse--close">
        <div class="collapse__head">
          @@include("./radio.html", {
            "name": "@@name",
            "text": '<span class="product-menu__title">Бытовая техника level 2-2</span>',
            "value": "Appliances-level-2-2",
          })
        </div>
        <ul class="product-menu__submenu collapse__content">
          <!-- Элементы третьего уровня -->
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Бытовая техника level 3</span>',
              "value": "Appliances-level-3-2-1",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Бытовая техника level 3</span>',
              "value": "Appliances-level-3-2-2",
            })
          </li>
          <li>
            @@include("./radio.html", {
              "name": "@@name",
              "text": '<span class="product-menu__title">Бытовая техника level 3</span>',
              "value": "Appliances-level-3-2-3",
            })
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
