<ul class="product-menu">
  <li class="product-menu__elem collapse">
    <div class="product-menu__title collapse__head">
      Одежда
      <span class="product-menu__count product-menu__count">1200</span>
    </div>
    <div class="product-menu__submenu collapse__content">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
  </li>
  <li>
    Обувь
    <span class="product-menu__count"></span>
  </li>
  <li>
    Бытовая техника
    <span class="product-menu__count"></span>
  </li>
</ul>


<!-- <div class="collapse">
  <div class="collapse__head">
    Одежда
    <span class="product-menu__count">1200</span>
  </div>
  <div class="collapse__content">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </div>
</div> -->