@@include("../components/product-modal-discount.html", {
   "img": '<img src="/img/icons/icons.svg#item-product"></img>',
   "brand": "Louis Vouitton",
   "product-name": "Пуховик из кожи с узором Monogram Micro",
   "price-crossed": "182500",
   "price-new": "459000",
   "number": "1",
   "discount-size": "10",
   "img-seller": '<img src="/img/icons/icons.svg#shop-logo"></img>',
   "seller-name": "Интернет магазин одежды и аксессуаров Lass",
   "discount-price-N1": "459000",
   "discount-percent-N1": "10",
   "discount-price-N2": "408000",
   "discount-percent-N2": "20",
   "discount-price-N3": "408000",
   "discount-percent-N3": "20",
   "discount-price-N4": "357000",
   "discount-percent-N4": "40",
})