@@include("../components/product-modal-card.html", {
   "product-img1": '<img src="@img/product-img1.png"></img>',
   "product-img2": '<img src="@img/product-img2.png"></img>',
   "product-img3": '<img src="@img/product-img3.png"></img>',
   "product-img4": '<img src="@img/product-img4.png"></img>',
   "product-img5": '<img src="@img/product-img5.png"></img>',
   "point": "в Москву",
   "delivery-price": "300",
   "product-description": "Дизайн пуховика из кожи ягнёнка с набивкой из гусиного пуха превосходно отражает ключевую концепцию коллекции изделий из кожи. Изысканная модель цвета шампанского украшена тиснёным узором Monogram Micro. Контрастная эмблема Louis Vuitton и кнопки с гравировкой — дань традициям Дома. Эластичный пояс дополняет объёмный силуэт в спортивном стиле.",
})