<div class="publication">
  <div class="publication__author">
		<div class="publication__author-avatar">
			<img src="@img/logo-user-sm.jpg"></img>
		</div>
		<div class="publication__author-name">Олеся Смирнова</div>
		<div class="publication__author-created">17 минут назад</div>
	</div>

	<div class="publication__title">Светлый образ на холодную весну</div>

	<div class="publication__actions">
		<svg class="publication__actions-share">
			<use xlink:href="./img/icons/icons.svg#share"></use>
		</svg>
		<svg class="publication__actions-favourite">
			<use xlink:href="./img/icons/icons.svg#heart"></use>
		</svg>
		<div class="publication__actions-views">6072 просмотров</div>
	</div>

	<div class="publication__swiper">
		<div class="swiper swiper-publication">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="@img/publication.jpg"></img></div>
				<div class="swiper-slide"><img src="@img/post-card-img-black.png"></img></div>
				<div class="swiper-slide"><img src="@img/publication.jpg"></img></div>
			</div>
		</div>
		<div class="swiper-button-prev">
			<svg>
				<use xlink:href="./img/icons/icons.svg#arrow"></use>
			</svg>
		</div>
		<div class="swiper-button-next">
			<svg>
				<use xlink:href="./img/icons/icons.svg#arrow"></use>
			</svg>
		</div>
		<div class="swiper-pagination"></div>
	</div>

	<div class="publication__goods">
		<div class="publication__goods-items">
			<div class="publication__goods-item">
				<img src="@img/publication.jpg">
			</div>
			<div class="publication__goods-item">
				<img src="@img/post-card-img-black.png">
			</div>
			<div class="publication__goods-item">
				<img src="@img/publication.jpg">
			</div>
		</div>
		<div class="publication__goods-count">9 товаров</div>
		<a class="publication__goods-link" href="#">Посмотреть</a>
	</div>

	<div class="publication__descr">
		Безупречный белый позволителен дамам любого возраста и рода занятий,
		делая внешность неотразимой и такой безукоризненной.
		Облачаясь в белый цвет с ног до головы этой весной, отдавайте
		предпочтение белым платьям на весну, брючным костюмам, рубашкам и
		блузкам в белом цвете, а также и верхней одежде в белом цвете на весну.
		Именно белый цвет в модных образах весны 2021 будет на пике популярности
		для многих барышень.
	</div>

	<div class="publication__price">
		Общая стоимость образа: 97 062 ₽
	</div>

	<div class="publication__likes">
		<svg class="publication__likes-icon">
			<use xlink:href="./img/icons/icons.svg#thumbs-up"></use>
		</svg>

		<div class="publication__likes-text">
			16 Отметок “Нравится”
		</div>
	</div>

	<ul class="publication__hashtags">
		<li><a href="#">#весна22</a></li>
		<li><a href="#">#холод</a></li>
		<li><a href="#">#лучшийобраз</a></li>
		<li><a href="#">#костюмы</a></li>
		<li><a href="#">#недешево</a></li>
	</ul>

	<div class="publication__subscribe">
		<div class="publication__subscribe-top">
			<div class="publication__subscribe-line"></div>
			<div class="publication__subscribe-avatar">
				<img src="@img/logo-user-sm.jpg"></img>
			</div>
			<div class="publication__subscribe-line"></div>
		</div>
		<div class="publication__subscribe-name">Олеся Смирнова</div>
		<div class="publication__subscribe-activity">
			Персональный стилист / Актриса / Блогер
		</div>
		<div class="publication__subscribe-btn">
			<button class="btn">Подписаться</button>
		</div>
	</div>
</div>