<div class="publication-items-popup-content">
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
  @@include("../components/publication-item.html", {
    img: "item-publication.jpg",
    title: "Костюм классический UNIQ",
    price: "10000",
    currency: " ₽",
  })
</div>