<div class="range">
  <div class="range__slider"></div>
  <div class="range__inputs">
    <div class="range__min">
      <div>от</div>
      <div class="range__input-wrapper">
        <input class="range__input range__input-min input-text input-text--color-grey" name="@@minName" type="text" value="@@minValue" data-min="@@min" placeholder="@@min">
      </div>
      <div class="range__currency">@@currencySymbol</div>
    </div>
    <div class="range__max">
      <div>до</div>
      <div class="range__input-wrapper">
        <input class="range__input range__input-max input-text input-text--color-grey" name="@@maxName" type="text" value="@@maxValue" data-max="@@max" placeholder="@@max">
      </div>
      <div class="range__currency">@@currencySymbol</div>
    </div>
  </div>
</div>