<div class="rating @@extra-class" data-rating="@@value">
  <svg class="rating__icon" data-rate="1">
    <use xlink:href="./img/icons/icons.svg#rating-star"></use>
  </svg>
  <svg class="rating__icon" data-rate="2">
    <use xlink:href="./img/icons/icons.svg#rating-star"></use>
  </svg>
  <svg class="rating__icon" data-rate="3">
    <use xlink:href="./img/icons/icons.svg#rating-star"></use>
  </svg>
  <svg class="rating__icon" data-rate="4">
    <use xlink:href="./img/icons/icons.svg#rating-star"></use>
  </svg>
  <svg class="rating__icon" data-rate="5">
    <use xlink:href="./img/icons/icons.svg#rating-star"></use>
  </svg>

  <input name="@@name" type="text" value="" hidden>
</div>