<div class="search-pickup">
  <div class="search-pickup__inner">
    <div class="search-pickup__header">
      <button class="search-pickup__header-back">
        <svg class="search-pickup__header-back-icon" data-popup="map" data-close-popup="search-pickup">
          <use xlink:href="./img/icons/icons.svg#arrowGoLeft"></use>
        </svg>
      </button>
      <div class="search-pickup__header-title">
        Куда доставить заказ?
      </div>
      <button class="search-pickup__header-cross btn btn--color-primary-light">
        <svg class="search-pickup__header-cross-icon" data-close-popup="search-pickup">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </button>
    </div>
    <div class="search-pickup__descr">Найдите определенный пункт выдачи или просто позвольте нам определить ваше местоположение и мы подберем ближайший</div>
    <div class="search-pickup__actions">
      @@include("./autocomplete.html", {
        id: "search-pickup-autocomplete",
        name: "search-pickup",
        placeholder: "Введите адрес",
        "extra-class": "search-pickup__actions-input",
        "input-extra-class": "autocomplete__input input-text--small input-text--color-grey",
        prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
        suffix: '<div class="autocomplete__load"><svg class="autocomplete__load-icon"><use xlink:href="./img/icons/icons.svg#loading"></use></svg></div>',
      })
      <button class="search-pickup__actions-define">
        <svg class="search-pickup__header-actions-define-icon">
          <use xlink:href="./img/icons/icons.svg#compass"></use>
        </svg>
        Определить местоположение
      </button>
      <button class="btn" disabled>
        Продолжить
      </button>
    </div>
  </div>
</div>
