<div class="select @@extra-class">
  <div class="select__header">
    <div class="select__title"></div>
    <div class="select__icon">
      <svg><use xlink:href='./img/icons/icons.svg#arrow'></use></svg>
    </div>
  </div>
  <ul class="select__options">
    <li class="select__options-item" data-value=@@data-value1>@@label1</li>
    <li class="select__options-item" data-value=@@data-value2>@@label2</li>
    <li class="select__options-item" data-value=@@data-value3>@@label3</li>
  </ul>
  <input name=@@name type="text" value=@@value hidden>
</div>