<div class="share">
  <svg class="share__open" data-popup="share">
    <use xlink:href="./img/icons/icons.svg#share-link"></use>
  </svg>
  <div id="share" class="popup @@extra-class-popup" data-media="@@data-media">
    <div class="popup__overlay">
      <div class="popup__content">
        <div class="share__block">
          <div class="share__block-head">
            Поделиться
            <div class="share__close popup__close">
              <svg>
                <use xlink:href="./img/icons/icons.svg#cross"></use>
              </svg>
            </div>
          </div>
          <ul class="share__list">
            <li>
              <svg class="share__item-icon">
                <use xlink:href="./img/icons/icons.svg#copy"></use>
              </svg>
            </li>
            <li>
              <svg class="share__item-icon">
                <use xlink:href="./img/icons/icons.svg#telegram"></use>
              </svg>
            </li>
            <li>
              <svg class="share__item-icon">
                <use xlink:href="./img/icons/icons.svg#facebook"></use>
              </svg>
            </li>
            <li>
              <svg class="share__item-icon">
                <use xlink:href="./img/icons/icons.svg#twitter"></use>
              </svg>
            </li>
            <li>
              <svg class="share__item-icon">
                <use xlink:href="./img/icons/icons.svg#watsup"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
