<div class="share">
  <svg class="share__open">
    <use xlink:href="./img/icons/icons.svg#share"></use>
  </svg>
  <div class="share__block">
    <svg class="share__close">
      <use xlink:href="./img/icons/icons.svg#cross"></use>
    </svg>
    Поделиться
    <ul class="share__list">
      <li>
        <svg class="share__icon">
          <use xlink:href="./img/icons/icons.svg#telegram"></use>
        </svg>
      </li>
      <li>
        <svg class="share__icon">
          <use xlink:href="./img/icons/icons.svg#facebook"></use>
        </svg>
      </li>
      <li>
        <svg class="share__icon">
          <use xlink:href="./img/icons/icons.svg#twitter"></use>
        </svg>
      </li>
      <li>
        <svg class="share__icon">
          <use xlink:href="./img/icons/icons.svg#watsup"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
