<div class="shop-window tabs">
  <div class="shop-window__title">Выберите раздел магазина</div>
  <div class="shop-window__inner">
    <div class="shop-window__tabs tabs__head">
      <div class="swiper shop-window__tabs-swiper">
        <div class="tabs__list swiper-wrapper">
          <div class="swiper-slide tabs__tab tabs__tab--active" data-tab-path="goods">
            Товары <span class="tabs__tab-count">501</span>
          </div>
          <div class="swiper-slide tabs__tab" data-tab-path="sp">
            Совместные покупки <span class="tabs__tab-count">79</span>
          </div>
          <div class="swiper-slide tabs__tab" data-tab-path="tff">
            Test For Free <span class="tabs__tab-count">13</span>
          </div>
          <div class="swiper-slide tabs__tab" data-tab-path="contacts">
            Контакты
          </div>
        </div>
      </div>
      <div class="swiper-button-prev">
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </div>
      <div class="swiper-button-next">
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </div>
    </div>
    <!-- Блок с кнопками сортировки и фильтрации для вкладки goods -->
    <div class="shop-window__actions shop-window__actions-goods">
      <div class="shop-window__actions-sorts btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="shop-window__actions-text">Сортировка G</div>
        <svg class="shop-window__actions-icon shop-window__actions-icon--common">
          <use xlink:href="./img/icons/icons.svg#sorts"></use>
        </svg>
        <svg class="shop-window__actions-icon shop-window__actions-icon--cross">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </div>
      <div class="shop-window__actions-filters shop-window__actions-filters-goods btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="shop-window__actions-text">Фильтры G</div>
        <div class="shop-window__actions-filters-icon">
          <svg class="shop-window__actions-icon shop-window__actions-icon--common">
            <use xlink:href="./img/icons/icons.svg#filters"></use>
          </svg>
          <svg class="shop-window__actions-icon shop-window__actions-icon--cross">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
        <div class="shop-window__actions-filters-count"></div>
      </div>
      <div class="shop-window__actions-density btn btn--outlined btn--color-grey btn--icon">
        <svg class="shop-window__actions-density-tile">
          <use xlink:href="./img/icons/icons.svg#density-tile"></use>
        </svg>
        <svg class="shop-window__actions-density-grid">
          <use xlink:href="./img/icons/icons.svg#density-grid"></use>
        </svg>
      </div>
    </div>
    <!-- Блок с кнопками сортировки и фильтрации для вкладки sp -->
    <div class="shop-window__actions shop-window__actions-sp">
      <div class="shop-window__actions-sorts btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="shop-window__actions-text">Сортировка SP</div>
        <svg class="shop-window__actions-icon shop-window__actions-icon--common">
          <use xlink:href="./img/icons/icons.svg#sorts"></use>
        </svg>
        <svg class="shop-window__actions-icon shop-window__actions-icon--cross">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </div>
      <div class="shop-window__actions-categories shop-window__actions-categories-sp btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="shop-window__actions-text">Категории SP</div>
        <div class="shop-window__actions-filters-icon">
          <svg class="shop-window__actions-icon shop-window__actions-icon--common">
            <use xlink:href="./img/icons/icons.svg#categories"></use>
          </svg>
          <svg class="shop-window__actions-icon shop-window__actions-icon--cross">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
        <div class="shop-window__actions-filters-count"></div>
      </div>
    </div>
    <!-- Блок с кнопками сортировки и фильтрации для вкладки tff -->
    <div class="shop-window__actions shop-window__actions-tff">
      <div class="shop-window__actions-sorts btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="shop-window__actions-text">Сортировка TFF</div>
        <svg class="shop-window__actions-icon shop-window__actions-icon--common">
          <use xlink:href="./img/icons/icons.svg#sorts"></use>
        </svg>
        <svg class="shop-window__actions-icon shop-window__actions-icon--cross">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </div>
      <div class="shop-window__actions-filters shop-window__actions-filters-tff btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="shop-window__actions-text">Фильтры TFF</div>
        <div class="shop-window__actions-filters-icon">
          <svg class="shop-window__actions-icon shop-window__actions-icon--common">
            <use xlink:href="./img/icons/icons.svg#filters"></use>
          </svg>
          <svg class="shop-window__actions-icon shop-window__actions-icon--cross">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
        <div class="shop-window__actions-filters-count"></div>
      </div>
      <div class="shop-window__actions-density btn btn--outlined btn--color-grey btn--icon">
        <svg class="shop-window__actions-density-tile">
          <use xlink:href="./img/icons/icons.svg#density-tile"></use>
        </svg>
        <svg class="shop-window__actions-density-grid">
          <use xlink:href="./img/icons/icons.svg#density-grid"></use>
        </svg>
      </div>
    </div>
    <!-- Форма с фильтрами и сортировками для товаров goods -->
    <form class="shop-window__form shop-window__form-goods">
      <div class="shop-window__form-sorting">
        <div class="shop-window__form-sorting-title">
          Сортировка
          <div class="shop-window__form-sorting-cross">
            <svg>
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--popular-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По популярности</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "popular-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--rate-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По рейтингу</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "rate-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--cost-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По стоимости</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "cost-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--name-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По названию</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "name-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--popular-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По популярности</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "popular-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--rate-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По рейтингу</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "rate-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--cost-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По стоимости</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "cost-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--name-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По названию</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "name-desc",
          })
        </div>
      </div>
      <div class="shop-window__form-chips"></div>
      <div class="shop-window__form-filter">
        <div class="shop-window__form-filter-title">
          Фильтры
          <div class="shop-window__form-filter-cross">
            <svg>
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__form-filter-filters filters">
          <!-- filters__item--categories нужно добавить по дефолту -->
          <div class="filters__item filters__item--categories">
            @@include("./collapse.html", {
              "title": "Категории",
              "body": '<div class="filters__collapse"><div id="category-goods" class="popup"><div class="popup__overlay"><div class="popup__content"><div class="filters__item-header"><svg data-close-popup="category-goods"><use xlink:href="./img/icons/icons.svg#arrowGoLeft"></use></svg><span>Все категории товаров</span><svg data-close-popup="category-goods"><use xlink:href="./img/icons/icons.svg#cross"></use></svg></div>@@include("./product-menu.html", {"name": "categories-goods"})</div></div></div><div class="btn btn--text" data-popup="category-goods">Все категории</div></div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Прайс",
              "body": '<div class="filters__collapse">@@include("./range-slider.html", { "minName": "rangemin", "maxName": "rangemax", "minValue": "200000", "maxValue": "500000", "min": "0", "max": "1000000", "currencySymbol": "&#8381;", "step": "1000" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер0",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "0size38", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "0size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "0size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "0size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер10",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "10size38", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "10size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "10size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "10size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Специальные предложение",
              "body": '<div class="filters__collapse">@@include("./checkbox.html", { "name": "specials36", "text": "Test For Free", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials38", "text": "Совместная Покупка", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials40", "text": "Благотворительная покупка", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials42", "text": "Акция “2 по цене 1”", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер2",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "2size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер3",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "3size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер4",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "4size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер5",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "5size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
        </div>
        <div class="shop-window__form-filter-actions form__btns">
          <button type="button" class="btn btn--text shop-window__form-filter-clear">
            <svg class="shop-window__form-filter-actions-clear">
              <use xlink:href="./img/icons/icons.svg#trash"></use>
            </svg>
            <span class="shop-window__form-filter-actions-text" data-popup="clearFilter">Очистить все фильтры</span>
          </button>
          <button type="submit" class="btn shop-window__form-filter-submit">
            Применить
            <span class="btn__suffix"></span>
          </button>
        </div>
      </div>
    </form>
    <!-- Форма с фильтрами и сортировками для совместных покупок sp -->
    <form class="shop-window__form shop-window__form-sp">
      <div class="shop-window__form-sorting">
        <div class="shop-window__form-sorting-title">
          Сортировка
          <div class="shop-window__form-sorting-cross">
            <svg>
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--popular-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По популярности</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "popular-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--rate-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По рейтингу</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "rate-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--cost-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По стоимости</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "cost-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--name-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По названию</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "name-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--popular-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По популярности</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "popular-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--rate-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По рейтингу</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "rate-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--cost-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По стоимости</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "cost-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--name-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По названию</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "name-desc",
          })
        </div>
      </div>
      <div class="shop-window__form-chips"></div>
      <div class="shop-window__form-filter">
        <div class="shop-window__form-filter-title">
          Фильтры
          <div class="shop-window__form-filter-cross">
            <svg>
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__form-filter-filters filters filters--sp">
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны2",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Юбки", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны3",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Юбки", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны4",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Юбки", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны5",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Юбки", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны6",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Юбки", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Платья и сарафаны7",
              "body": '<div class="filters__collapse filters__collapse-wrap">@@include("./checkbox.html", { "name": "0size38", "text": "Вечерние платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Деловые платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Сарафаны", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Экстравагантные дизайнерские платья", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" }) @@include("./checkbox.html", { "name": "0size38", "text": "Юбки", "mod": "checkbox--tag", "classes": "btn btn--tag btn--small" })</div>',
            })
          </div>
        </div>
        <div class="shop-window__form-filter-actions form__btns">
          <button type="button" class="btn btn--text shop-window__form-filter-clear">
            <svg class="shop-window__form-filter-actions-clear">
              <use xlink:href="./img/icons/icons.svg#trash"></use>
            </svg>
            <span class="shop-window__form-filter-actions-text" data-popup="clearFilter">Очистить все фильтры</span>
          </button>
          <button type="submit" class="btn shop-window__form-filter-submit">
            Применить
            <span class="btn__suffix"></span>
          </button>
        </div>
      </div>
    </form>
    <!-- Форма с фильтрами и сортировками для tff -->
    <form class="shop-window__form shop-window__form-tff">
      <div class="shop-window__form-sorting">
        <div class="shop-window__form-sorting-title">
          Сортировка
          <div class="shop-window__form-sorting-cross">
            <svg>
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--popular-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По популярности</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "popular-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--rate-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По рейтингу</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "rate-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--cost-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По стоимости</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "cost-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--name-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По названию</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
            "mod": "btn",
            "value": "name-asc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--popular-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По популярности</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "popular-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--rate-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По рейтингу</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "rate-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--cost-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По стоимости</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "cost-desc",
          })
        </div>
        <div class="shop-window__form-sorting-btn shop-window__form-sorting-btn--name-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<span class='btn btn--color-white'><span class='shop-window__actions-text'>По названию</span><svg class='shop-window__actions-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
            "mod": "btn",
            "value": "name-desc",
          })
        </div>
      </div>
      <div class="shop-window__form-chips"></div>
      <div class="shop-window__form-filter">
        <div class="shop-window__form-filter-title">
          Фильтры
          <div class="shop-window__form-filter-cross">
            <svg>
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__form-filter-filters filters">
          <!-- filters__item--categories нужно добавить по дефолту -->
          <div class="filters__item filters__item--categories">
            @@include("./collapse.html", {
              "title": "Категории",
              "body": '<div class="filters__collapse"><div id="category-tff" class="popup"><div class="popup__overlay"><div class="popup__content"><div class="filters__item-header"><svg data-close-popup="category-tff"><use xlink:href="./img/icons/icons.svg#arrowGoLeft"></use></svg><span>Все категории товаров</span><svg data-close-popup="category-tff"><use xlink:href="./img/icons/icons.svg#cross"></use></svg></div>@@include("./product-menu.html", {"name": "categories-tff"})</div></div></div><div class="btn btn--text" data-popup="category-tff">Все категории</div></div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Прайс",
              "body": '<div class="filters__collapse">@@include("./range-slider.html", { "minName": "rangemin", "maxName": "rangemax", "minValue": "200000", "maxValue": "500000", "min": "0", "max": "1000000", "currencySymbol": "&#8381;", "step": "1000" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер0",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "0size38", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "0size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "0size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "0size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер10",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "10size38", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "10size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "10size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "10size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Специальные предложение",
              "body": '<div class="filters__collapse">@@include("./checkbox.html", { "name": "specials36", "text": "Test For Free", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials38", "text": "Совместная Покупка", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials40", "text": "Благотворительная покупка", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials42", "text": "Акция “2 по цене 1”", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер2",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "2size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер3",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "3size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер4",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "4size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер5",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "5size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
        </div>
        <div class="shop-window__form-filter-actions form__btns">
          <button type="button" class="btn btn--text shop-window__form-filter-clear">
            <svg class="shop-window__form-filter-actions-clear">
              <use xlink:href="./img/icons/icons.svg#trash"></use>
            </svg>
            <span class="shop-window__form-filter-actions-text" data-popup="clearFilter">Очистить все фильтры</span>
          </button>
          <button type="submit" class="btn shop-window__form-filter-submit">
            Применить
            <span class="btn__suffix"></span>
          </button>
        </div>
      </div>
    </form>
    <div class="tabs__contents shop-window__tabs-contents">
      <!-- Товары -->
      <div class="tabs__content tabs__content--active" data-tab-target="goods">
        <div class="shop-window__goods">
          <div class="shop-window__menu">@@include("./product-menu.html", {"name": "categories-goods"})</div>
          <div class="shop-window__goods-items">
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Комбинезон из шелковой вискозы с",
              "discount": "--discount",
              "sale": "от 91 250 ₽",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Плетеная сумка-сэтчел",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>38</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Туфли ZOE с острым носом и эластичныим",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>36</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>36</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "favourite",
              "sizes": "<li>38</li><li>40</li>"
            })
          </div>
        </div>
      </div>
      <!-- Совместные покупки -->
      <div class="tabs__content" data-tab-target="sp">
        <div class="shop-window__joint-purchases">
          <div class="shop-window__joint-purchases-actions">
            <div class="shop-window__joint-purchases-search">
              @@include("./input-text.html", {
                placeholder: "Введите название товара",
                prefix: "<svg class='shop-window__joint-purchases-search-icon'><use xlink:href='./img/icons/icons.svg#search'></use></svg>",
                suffix: "",
                "extra-class": "input-text--color-grey",
                "extra-class-prefix": "",
                "extra-class-suffix": "",
              })
            </div>
            <div class="shop-window__joint-purchases-btn">
              <button class="btn btn--color-primary-light">
                <span class="shop-window__joint-purchases-btn-text">Создать СП</span>
                <svg><use xlink:href='./img/icons/icons.svg#plus'></use></svg>
              </button>
            </div>
          </div>
          <div class="shop-window__joint-purchases-contents">
            @@include("./joint-purchases-card.html", {
              "extra-class": "joint-purchases-card--processing",
              "status": "",
              "width": "30%",
            })
            @@include("./joint-purchases-card.html", {
              "extra-class": "joint-purchases-card--ready",
              "status": "Состоялась",
              "width": "100%",
            })
            @@include("./joint-purchases-card.html", {
              "extra-class": "joint-purchases-card--disabled",
              "status": "Не состоялась",
              "width": "100%",
            })
          </div>
        </div>
      </div>
      <!-- Test for free -->
      <div class="tabs__content" data-tab-target="tff">
        <div class="shop-window__tff">
          <div class="shop-window__menu">@@include("./product-menu.html", {"name": "categories-tff"})</div>
          <div class="shop-window__tff-items">
            @@include("./product-card.html", {
              "extra-class": "product-card--tff product-card--application-submitted",
              "title": "Комбинезон из шелковой вискозы с",
              "discount": "--discount",
              "sale": "0 ₽ (бесплатно)",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li>",
              "date": "2дн 19ч 35мин",
              "status": "",
              "application-status": "@@include('./badge.html', {'extra-class': 'badge--round badge--font-commissioner badge--color-white', 'body': 'Вы подали заявку'})"
            })
            @@include("./product-card.html", {
              "extra-class": "product-card--tff product-card--application-rejected",
              "title": "Плетеная сумка-сэтчел",
              "discount": "",
              "sale": "0 ₽ (бесплатно)",
              "like": "",
              "sizes": "<li>38</li><li>40</li>",
              "date": "2дн 19ч 35мин",
              "status": "",
              "application-status": "@@include('./badge.html', {'extra-class': 'badge--round badge--font-commissioner badge--color-white', 'body': 'Заявка отклонена'})"
            })
            @@include("./product-card.html", {
              "extra-class": "product-card--tff product-card--application-approved",
              "title": "Туфли ZOE с острым носом и эластичныим",
              "discount": "",
              "sale": "0 ₽ (бесплатно)",
              "like": "",
              "sizes": "<li>36</li><li>40</li>",
              "date": "2дн 19ч 35мин",
              "status": "",
              "application-status": "@@include('./badge.html', {'extra-class': 'badge--round badge--font-commissioner badge--color-white', 'body': 'Заявка одобрена'})"
            })
            @@include("./product-card.html", {
              "extra-class": "product-card--tff product-card--status-promotion-over",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "0 ₽ (бесплатно)",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li><li>40</li>",
              "date": "2дн 19ч 35мин",
              "status": "акция завершена",
            })
            @@include("./product-card.html", {
              "extra-class": "product-card--tff product-card--status-consideration-applications",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "0 ₽ (бесплатно)",
              "like": "",
              "sizes": "<li>36</li><li>40</li>",
              "date": "2дн 19ч 35мин",
              "status": "рассмотрение заявок",
            })
            @@include("./product-card.html", {
              "extra-class": "product-card--tff",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "0 ₽ (бесплатно)",
              "like": "favourite",
              "sizes": "<li>38</li><li>40</li>",
              "date": "2дн 19ч 35мин",
              "status": "",
            })
          </div>
        </div>
      </div>
      <!-- Contacts -->
      <div class="tabs__content" data-tab-target="contacts">
        @@include("./contact-info.html")
      </div>
    </div>
  </div>
  <div class="shop-window__popups">
    @@include("./popup.html", {
      "id": "clearFilter",
      "extra-class": "",
      "body": '@@include("./clear-filter-content-popup.html")',
    })
  </div>
</div>
