<div class="shop-window tabs">
  <div class="shop-window__title">Выберите раздел магазина</div>
  <div class="shop-window__inner">
    <div class="shop-window__controls">
      <div class="shop-window__tabs">
        <div class="tabs__head">
          <div class="swiper swiper-tabs">
            <div class="tabs__list swiper-wrapper">
              <div class="swiper-slide tabs__tab" data-tab-path="goods">
                Товары <span class="tabs__tab-count">501</span>
              </div>
              <div class="swiper-slide tabs__tab tabs__tab--active" data-tab-path="sp">
                Совместные покупки <span class="tabs__tab-count">79</span>
              </div>
              <div class="swiper-slide tabs__tab" data-tab-path="tff">
                Test For Free <span class="tabs__tab-count">13</span>
              </div>
              <div class="swiper-slide tabs__tab" data-tab-path="contacts">
                Контакты
              </div>
            </div>
            <div class="swiper-button-prev">
              <svg>
                <use xlink:href="./img/icons/icons.svg#arrow"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg>
                <use xlink:href="./img/icons/icons.svg#arrow"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="shop-window__actions">
        <div class="shop-window__actions-sorts btn btn--outlined btn--color-grey">
          Сортировка
          <svg>
            <use xlink:href="./img/icons/icons.svg#sorts"></use>
          </svg>
        </div>
        <div class="shop-window__actions-categories btn btn--outlined btn--color-grey">
          Категории
          <svg>
            <use xlink:href="./img/icons/icons.svg#categories"></use>
          </svg>
        </div>
        <div class="shop-window__actions-filters btn btn--outlined btn--color-grey">
          Фильтры
          <div class="shop-window__actions-filters-icon">
            <svg>
              <use xlink:href="./img/icons/icons.svg#filters"></use>
            </svg>
          </div>
        </div>
        <div class="shop-window__actions-density btn btn--outlined btn--color-grey btn--icon">
          <svg class="shop-window__actions-density-tile">
            <use xlink:href="./img/icons/icons.svg#density-tile"></use>
          </svg>
          <svg class="shop-window__actions-density-grid">
            <use xlink:href="./img/icons/icons.svg#density-grid"></use>
          </svg>
        </div>
      </div>
    </div>
    <form class="shop-window__filtersorting">
      <div class="shop-window__filtersorting-sorting">
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--popular-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По популярности <svg><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></div>",
            "mod": "btn",
            "value": "popular-asc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--rate-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По рейтингу <svg><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></div>",
            "mod": "btn",
            "value": "rate-asc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--cost-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По стоимости <svg><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></div>",
            "mod": "btn",
            "value": "cost-asc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--name-asc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По названию <svg><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></div>",
            "mod": "btn",
            "value": "name-asc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--popular-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По популярности <svg><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></div>",
            "mod": "btn",
            "value": "popular-desc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--rate-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По рейтингу <svg><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></div>",
            "mod": "btn",
            "value": "rate-desc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--cost-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По стоимости <svg><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></div>",
            "mod": "btn",
            "value": "cost-desc",
          })
        </div>
        <div class="shop-window__filtersorting-sorting-btn shop-window__filtersorting-sorting-btn--name-desc">
          @@include("./radio.html", {
            "name": "sorting",
            "text": "<div class='btn btn--color-white'>По названию <svg><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></div>",
            "mod": "btn",
            "value": "name-desc",
          })
        </div>
      </div>
      <div class="shop-window__filtersorting-chips"></div>
      <div class="shop-window__filtersorting-filter">
        <div class="shop-window__filtersorting-filter-filters filters">
          <div class="filters__item">
            <div class="collapse">
              <div class="collapse__head">
                <span class="collapse__head-title">
                  Размер0
                </span>
                <svg class="collapse__head-icon">
                  <use xlink:href="./img/icons/icons.svg#collapse"></use>
                </svg>
              </div>
              <div class="collapse__content">
                <div class="filters__collapse filters__collapse-grid">
                  <label class="checkbox ">
                    <input name="0size36" type="checkbox" checked>
                    <div class="checkbox__checkmark">
                      <svg>
                        <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                      </svg>
                    </div>
                    <div class="checkbox__label ">
                      36
                    </div>
                  </label>
                  <label class="checkbox ">
                    <input name="0size38" type="checkbox" checked>
                    <div class="checkbox__checkmark">
                      <svg>
                        <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                      </svg>
                    </div>
                    <div class="checkbox__label ">
                      38
                    </div>
                  </label>
                <label class="checkbox ">
                  <input name="0size40" type="checkbox" checked>
                  <div class="checkbox__checkmark">
                    <svg>
                      <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                    </svg>
                  </div>
                  <div class="checkbox__label ">
                    40
                  </div>
                </label>
              <label class="checkbox ">
                <input name="0size42" type="checkbox" checked>
                <div class="checkbox__checkmark">
                  <svg>
                    <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                  </svg>
                </div>
                <div class="checkbox__label ">
                  42
                </div>
              </label>
            </div>
              </div>
            </div>
          </div>
          <div class="filters__item">
            <div class="collapse">
              <div class="collapse__head">
                <span class="collapse__head-title">
                  Размер10
                </span>
                <svg class="collapse__head-icon">
                  <use xlink:href="./img/icons/icons.svg#collapse"></use>
                </svg>
              </div>
              <div class="collapse__content">
                <div class="filters__collapse filters__collapse-grid">
                  <label class="checkbox ">
                    <input name="10size36" type="checkbox">
                    <div class="checkbox__checkmark">
                      <svg>
                        <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                      </svg>
                    </div>
                    <div class="checkbox__label ">
                      36
                    </div>
                  </label>
                  <label class="checkbox ">
                    <input name="10size38" type="checkbox">
                    <div class="checkbox__checkmark">
                      <svg>
                        <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                      </svg>
                    </div>
                    <div class="checkbox__label ">
                      38
                    </div>
                  </label>
                <label class="checkbox ">
                  <input name="10size40" type="checkbox" checked>
                  <div class="checkbox__checkmark">
                    <svg>
                      <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                    </svg>
                  </div>
                  <div class="checkbox__label ">
                    40
                  </div>
                </label>
              <label class="checkbox ">
                <input name="10size42" type="checkbox" checked>
                <div class="checkbox__checkmark">
                  <svg>
                    <use xlink:href="./img/icons/icons.svg#checkbox"></use>
                  </svg>
                </div>
                <div class="checkbox__label ">
                  42
                </div>
              </label>
            </div>
              </div>
            </div>
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Специальные предложение",
              "body": '<div class="filters__collapse">@@include("./checkbox.html", { "name": "specials36", "text": "Test For Free", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials38", "text": "Совместная Покупка", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials40", "text": "Благотворительная покупка", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "specials42", "text": "Акция “2 по цене 1”", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер2",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "2size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "2size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер3",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "3size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "3size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер4",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "4size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "4size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
          <div class="filters__item">
            @@include("./collapse.html", {
              "title": "Размер5",
              "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "5size36", "text": "36", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size38", "text": "38", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size40", "text": "40", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "5size42", "text": "42", "mod": "", "classes": "" })</div>',
            })
          </div>
        </div>
        <div class="shop-window__filtersorting-filter-actions">
          <button type="button" class="btn btn--text shop-window__filtersorting-filter-clear">Очистить все фильтры</button>
          <button type="submit" class="btn">Применить (30)</button>
        </div>
      </div>
    </form>
    <div class="tabs__contents">
      <!-- Товары -->
      <div class="tabs__content" data-tab-target="goods">
        <div class="shop-window__goods">
          <div class="shop-window__menu">@@include("./product-menu.html")</div>
          <div class="shop-window__goods-items">
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Комбинезон из шелковой вискозы с",
              "discount": "--discount",
              "sale": "от 91 250 ₽",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Плетеная сумка-сэтчел",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>38</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Туфли ZOE с острым носом и эластичныим",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>36</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>36</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "favourite",
              "sizes": "<li>38</li><li>40</li>"
            })
          </div>
        </div>
      </div>
      <!-- Совместные покупки -->
      <div class="tabs__content tabs__content--active" data-tab-target="sp">
        <div class="shop-window__joint-purchases">
          <div class="shop-window__joint-purchases-actions">
            <div class="shop-window__joint-purchases-search">
              @@include("./input-text.html", {
                placeholder: "Введите название товара",
                prefix: "<svg class='shop-window__joint-purchases-search-icon'><use xlink:href='./img/icons/icons.svg#search'></use></svg>",
                suffix: "",
                "extra-class": "input-text--color-grey",
                "extra-class-prefix": "",
                "extra-class-suffix": "",
              })
            </div>
            <div class="shop-window__joint-purchases-btn">
              <button class="btn btn--color-primary-light">
                <span class="shop-window__joint-purchases-btn-text">Создать СП</span>
                <svg><use xlink:href='./img/icons/icons.svg#plus'></use></svg>
              </button>
            </div>
          </div>
          <div class="shop-window__joint-purchases-contents">
            @@include("./joint-purchases-card.html", {
              "extra-class": "joint-purchases-card--processing",
              "status": "",
              "width": "30%",
            })
            @@include("./joint-purchases-card.html", {
              "extra-class": "joint-purchases-card--ready",
              "status": "Состоялась",
              "width": "100%",
            })
            @@include("./joint-purchases-card.html", {
              "extra-class": "joint-purchases-card--disabled",
              "status": "Не состоялась",
              "width": "100%",
            })
          </div>
        </div>
      </div>
      <!-- Test for free -->
      <div class="tabs__content" data-tab-target="tff">
        <div class="shop-window__ttf">
          <div class="shop-window__menu">@@include("./product-menu.html")</div>
          <div class="shop-window__ttf-items">
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Комбинезон из шелковой вискозы с",
              "discount": "--discount",
              "sale": "от 91 250 ₽",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Плетеная сумка-сэтчел",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>38</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Туфли ZOE с острым носом и эластичныим",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>36</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "favourite",
              "sizes": "<li>36</li><li>38</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "",
              "sizes": "<li>36</li><li>40</li>"
            })
            @@include("./product-card.html", {
              "extra-class": "",
              "title": "Пуховик из кожи с узором monogram mi",
              "discount": "",
              "sale": "",
              "like": "favourite",
              "sizes": "<li>38</li><li>40</li>"
            })
          </div>
        </div>
      </div>
      <!-- Contacts -->
      <div class="tabs__content" data-tab-target="contacts">
        @@include("./contact-info.html")
      </div>
    </div>
  </div>
</div>
