<div class="shop-card">
  <div class="shop-card__inner">
    <div class="shop-card__top">
      <div class="shop-card__title-inner">
        <div class="shop-card__title-img">
          @@shop-logo
        </div>
        <div class="shop-card__title-txt">
          <h2 class="shop-card__title-name">
            @@shop-name
          </h2>
          <div class="shop-card__title-features">
            @@include("./badge.html", {
              "extra-class": "badge--small",
              "body": '<span class="badge__sub">до</span>-10%',
            })
            @@include("./badge.html", {
              "extra-class": "badge--small",
              "body": '134 СП',
            })
            @@include("./badge.html", {
              "extra-class": "badge--small",
              "body": '79 TFF',
            })
          </div>
        </div>
      </div>
      <div class="shop-card__catalog-img">
        <div class="shop-card__catalog-item">
          @@item-img-first
        </div>
        <div class="shop-card__catalog-item">
          @@item-img-second
        </div>
        <div class="shop-card__catalog-item">
          @@item-img-third
        </div>
        <div class="shop-card__catalog-item">
          @@item-img-fourth
        </div>
        <div class="shop-card__catalog-item">
          @@item-img-fifth
        </div>
        <div class="shop-card__catalog-item">
          @@item-img-sixth
        </div>
        <div class="shop-card__catalog-item">
          @@item-img-seventh
        </div>
      </div>
      <div class="shop-card__desc">
        @@include("./breadcrumbs.html", {
          title: "Категории:",
        })
      </div>
    </div>
    <div class="shop-card__sub">
      @@if(subscribe){
        <button class="btn btn--color-primary-light">Подписаться</button>
      }
      @@if(unsubscribe){
        <button class="shop-card__unsub btn btn--color-green">Вы подписаны</button>
      }
      <svg class="shop-card__sub-round">
        <use xlink:href="/img/icons/icons.svg#round"></use>
      </svg>
        @@include("../components/share.html", {
          id: '@@shop-name',
          'extra-class-popup': '',
          'media': '',
        })
    </div>
  </div>
</div>
