<div class="shop-preview">
  <div class="shop-preview__block-img">
    <img src="@img/shop-preview.jpg" alt="shop-preview" loading="lazy">
  </div>
  <div class="shop-preview__block-descr">
    <h1 class="shop-preview__title">Интернет магазин женской одежды и аксессуаров Lass</h1>
    <p class="shop-preview__about">Lass — сеть магазинов женской одежды и аксессуаров. Ассортимент включает в себя блузы, юбки, брюки, платья, джемперы, рубашки, жакеты, нарядную одежду, пуховики, куртки, пальто и аксессуары от известных брендов.</p>
    <div class="shop-preview__bread-crumbs">
      @@include("./breadcrumbs.html")
    </div>
    <div class="shop-preview__followers">112 подписчиков</div>
    @@include("./preview-toolbar-action.html", {
      title: "Интернет магазин женской одежды и аксессуаров Lass",
      img: '@img/shop-avatar.png',
      'extra-class': "shop-preview__actions",
      'extra-class-popup': 'popup--onlymobile',
      'data-media': '1200',
    })
  </div>
</div>