<div class="shops-block">
  <div class="shops-block__actions">
    @@include("./autocomplete.html", {
      id: "shops-autocomplete",
      name: "shops-autocomplete",
      placeholder: "Введите название магазина",
      prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
      suffix: "",
      "tag": '',
      "extra-class": "shops-block__autocomplete",
      "input-extra-class": "autocomplete__input input-text--color-grey",
      options: '<li class="autocomplete__options-item" data-value="val1" tabindex="0">Магазин1</li><li class="autocomplete__options-item" data-value="val2" tabindex="0">Магазин2</li><li class="autocomplete__options-item" data-value="val3" tabindex="0">Магазин3</li><li class="autocomplete__options-item" data-value="val4" tabindex="0">Магазин4</li><li class="autocomplete__options-item" data-value="val5" tabindex="0">Магазин5</li><li class="autocomplete__options-item" data-value="val6" tabindex="0">Магазин6</li><li class="autocomplete__options-item" data-value="val7" tabindex="0">Магазин7</li><li class="autocomplete__options-item" data-value="val8" tabindex="0">Магазин8</li><li class="autocomplete__options-item" data-value="val9" tabindex="0">Магазин9</li><li class="autocomplete__options-item" data-value="val10" tabindex="0">Магазин10</li>',
    })

     <!-- Блок с кнопками сортировки и фильтрации -->
    <div class="filter-actions shops-block__actions-btns active">
      <button class="filter-actions__sorts btn btn--outlined btn--color-grey scroll" data-target="title-under">
        <div class="filter-actions__text">Сортировка</div>
        <svg class="filter-actions__icon filter-actions__icon--common">
          <use xlink:href="./img/icons/icons.svg#sorts"></use>
        </svg>
        <svg class="filter-actions__icon filter-actions__icon--cross">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </button>

      <button class="filter-actions__categories btn btn--outlined btn--color-grey scroll" data-target="title-under">
        <div class="filter-actions__text">Категории</div>
        <div class="filter-actions__icon">
          <svg class="filter-actions__icon filter-actions__icon--common">
            <use xlink:href="./img/icons/icons.svg#categories"></use>
          </svg>
          <svg class="filter-actions__icon filter-actions__icon--cross">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
        <div class="shops-block__actions-filters-count filter-actions__filters-count"></div>
      </button>
    </div>
  </div>

  <!-- Форма с категорией и сортировкой -->
  <form class="shops-block__form form-filters">
    <div class="sorting">
      <div class="sorting__title">
        Сортировка
        <div class="sorting__cross">
          <svg>
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
      </div>
      <div class="sorting__btn sorting__btn--popular-asc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По популярности</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "popular-asc",
        })
      </div>
      <div class="sorting__btn sorting__btn--rate-asc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По имени</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "name-asc",
        })
      </div>
      <div class="sorting__btn sorting__btn--cost-asc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По дате регистрации</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "date-asc",
        })
      </div>
      <div class="sorting__btn sorting__btn--popular-desc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По популярности</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "popular-desc",
        })
      </div>
      <div class="sorting__btn sorting__btn--rate-desc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По имени</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "name-desc",
        })
      </div>
      <div class="sorting__btn sorting__btn--cost-desc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По дате регистрации</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "date-desc",
        })
      </div>
    </div>

    <div class="shops-block__form-chips form-filters__chips"></div>

    <div class="shops-block__form-filter filters">
      <div class="filters__title">
        Фильтры
        <div class="shops-block__form-filter-cross filters__title-cross">
          <svg>
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
      </div>
      <div class="shops-block__form-filter-filters filters__items">
        <div class="filters__item">
          @@include("./collapse.html", {
            "title": "Фильтр",
            "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "filter_users", "text": "все", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "filter_users", "text": "FronTTrend SeTTer", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "filter_users", "text": "мои подписки", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "filter_users", "text": "мои подписчики", "mod": "", "classes": "" })</div>',
            "isClosed": false,
            "icon": "collapse",
          })
        </div>
      </div>
      <div class="shops-block__form-filter-actions filters__actions form__btns">
        <button type="button" class="btn btn--text shops-block__form-filter-clear filters__clear" data-popup="clearFilter">
          <svg class="shops-block__form-filter-actions-clear filters__actions-clear">
            <use xlink:href="./img/icons/icons.svg#trash"></use>
          </svg>
          <span class="shops-block__form-filter-actions-text filters__actions-text">Очистить все категории</span>
        </button>
        <button type="submit" class="btn shops-block__form-filter-submit">
          Применить
          <span class="btn__suffix"></span>
        </button>
      </div>
    </div>
  </form>

  <div class="shops-block__wrapper">
    @@include("./shops.html")
    @@include("./shops.html")
    @@include("./shops.html")
    @@include("./shops.html")
  </div>

  @@include("./popup.html", {
    "id": "clearFilter",
    "extra-class": "",
    "body": '@@include("./clear-filter-content-popup.html")',
  })
</div>