<div class="shop-card-list__cards-wrapper">
  @@include("../components/shop-card.html", {
    "shop-logo": '<img src="@img/shop-avatar.png"></img>',
    "shop-name":"Интернет магазин женской одежды и аксессуаров Lass",
    "item-img-first":'<img src="@img/product-card.jpg"></img>',
    "item-img-second":'<img src="@img/product-first.png"></img>',
    "item-img-third":'<img src="@img/product-third.png"></img>',
    "item-img-fourth":'<img src="@img/product-fourth.png"></img>',
    "item-img-fifth":'<img src="@img/product-fifth.png"></img>',
    "item-img-sixth":'<img src="@img/product-card.jpg"></img>',
    "item-img-seventh":'<img src="@img/product-first.png"></img>',
    "desc":"Платья и сарафаны / Сумки / Кофты / Юбки  +  еще 8",
    "subscribe":"subscribe",
    "unsubscribe":"",
  })
  @@include("../components/shop-card.html", {
    "shop-logo": '<img src="@img/shop-avatar.png"></img>',
    "shop-name":"Интернет магазин женской одежды и аксессуаров Lass",
    "item-img-first":'<img src="@img/product-card.jpg"></img>',
    "item-img-second":'<img src="@img/product-first.png"></img>',
    "item-img-third":'<img src="@img/product-third.png"></img>',
    "item-img-fourth":'<img src="@img/product-fourth.png"></img>',
    "item-img-fifth":'<img src="@img/product-fifth.png"></img>',
    "item-img-sixth":'<img src="@img/product-card.jpg"></img>',
    "item-img-seventh":'<img src="@img/product-first.png"></img>',
    "desc":"Платья и сарафаны / Сумки / Кофты / Юбки  +  еще 8",
    "subscribe":"",
    "unsubscribe":"unsubscribe",
  })
  @@include("../components/shop-card.html", {
    "shop-logo": '<img src="@img/shop-avatar.png"></img>',
    "shop-name":"Интернет магазин женской одежды и аксессуаров Lass",
    "item-img-first":'<img src="@img/product-card.jpg"></img>',
    "item-img-second":'<img src="@img/product-first.png"></img>',
    "item-img-third":'<img src="@img/product-third.png"></img>',
    "item-img-fourth":'<img src="@img/product-fourth.png"></img>',
    "item-img-fifth":'<img src="@img/product-fifth.png"></img>',
    "item-img-sixth":'<img src="@img/product-card.jpg"></img>',
    "item-img-seventh":'<img src="@img/product-first.png"></img>',
    "desc":"Платья и сарафаны / Сумки / Кофты / Юбки  +  еще 8",
    "subscribe":"",
    "unsubscribe":"unsubscribe",
  })
  @@include("../components/shop-card.html", {
    "shop-logo": '<img src="@img/shop-avatar.png"></img>',
    "shop-name":"Интернет магазин женской одежды и аксессуаров Lass",
    "item-img-first":'<img src="@img/product-card.jpg"></img>',
    "item-img-second":'<img src="@img/product-first.png"></img>',
    "item-img-third":'<img src="@img/product-third.png"></img>',
    "item-img-fourth":'<img src="@img/product-fourth.png"></img>',
    "item-img-fifth":'<img src="@img/product-fifth.png"></img>',
    "item-img-sixth":'<img src="@img/product-card.jpg"></img>',
    "item-img-seventh":'<img src="@img/product-first.png"></img>',
    "desc":"Платья и сарафаны / Сумки / Кофты / Юбки  +  еще 8",
    "subscribe":"",
    "unsubscribe":"unsubscribe",
  })
  @@include("../components/shop-card.html", {
    "shop-logo": '<img src="@img/shop-avatar.png"></img>',
    "shop-name":"Интернет магазин женской одежды и аксессуаров Lass",
    "item-img-first":'<img src="@img/product-card.jpg"></img>',
    "item-img-second":'<img src="@img/product-first.png"></img>',
    "item-img-third":'<img src="@img/product-third.png"></img>',
    "item-img-fourth":'<img src="@img/product-fourth.png"></img>',
    "item-img-fifth":'<img src="@img/product-fifth.png"></img>',
    "item-img-sixth":'<img src="@img/product-card.jpg"></img>',
    "item-img-seventh":'<img src="@img/product-first.png"></img>',
    "desc":"Платья и сарафаны / Сумки / Кофты / Юбки  +  еще 8",
    "subscribe":"subscribe",
    "unsubscribe":"",
  })
</div>