<div class="steps">
  <div class="steps__inner">
    <div class="steps__items">
      <div class="steps__item steps__item--current" data-step="choose-goods">
        <div class="steps__item-wrapper">
          <div class="steps__item-step">1</div>
          <svg class="steps__item-circle">
            <use xlink:href="./img/icons/icons.svg#step"></use>
          </svg>
        </div>
        <div class="steps__item-line"></div>
        <div class="steps__item-name">Выбор товаров</div>
      </div>
  
      <div class="steps__item" data-step="filling">
        <div class="steps__item-wrapper">
          <div class="steps__item-step">2</div>
          <svg class="steps__item-circle">
            <use xlink:href="./img/icons/icons.svg#step"></use>
          </svg>
        </div>
        <div class="steps__item-line"></div>
        <div class="steps__item-name">Наполнение</div>
      </div>
  
      <div class="steps__item" data-step="preview">
        <div class="steps__item-wrapper">
          <div class="steps__item-step">3</div>
          <svg class="steps__item-circle">
            <use xlink:href="./img/icons/icons.svg#step"></use>
          </svg>
        </div>
        <div class="steps__item-line"></div>
        <div class="steps__item-name">Предпросмотр</div>
      </div>
      
      <div class="steps__item" data-step="image-created">
        <div class="steps__item-wrapper">
          <div class="steps__item-step">
            <svg>
              <use xlink:href="./img/icons/icons.svg#check"></use>
            </svg>
          </div>
          <svg class="steps__item-circle">
            <use xlink:href="./img/icons/icons.svg#step"></use>
          </svg>
        </div>
        <div class="steps__item-line"></div>
        <div class="steps__item-name">Образ создан</div>
      </div>
    </div>

    <div class="steps__divider">
      <svg>
        <use xlink:href="./img/icons/icons.svg#step-divider"></use>
      </svg>
    </div>
  </div>
</div>