<div class="tabs @@extra-class">
  <div class="tabs__head">
    <div class="tabs__list">
      <button class="tabs__tab tabs__tab--active" data-tab-path="goods">Товары <span class="tabs__tab-count">501</span></button>
      <button class="tabs__tab" data-tab-path="sp">Совместные покупки <span class="tabs__tab-count">79</span></button>
      <button class="tabs__tab" data-tab-path="tff">Test For Free <span class="tabs__tab-count">13</span></button>
      <button class="tabs__tab" data-tab-path="contacts">Контакты</button>
    </div>
  </div> 
  <div class="tabs__contents">
    <div class="tabs__content tabs__content--active" data-tab-target="goods">
      content Товары
    </div>
    <div class="tabs__content" data-tab-target="sp">
      content Совместные покупки
    </div>
    <div class="tabs__content" data-tab-target="tff">
      content Test For Free
    </div>
    <div class="tabs__content" data-tab-target="contacts">
      Контакты
    </div>
  </div>
</div>