<div class="useful-links">
  <div class="useful-links__title">
    Полезные ссылки
    <svg class="useful-links__title-cross">
      <use xlink:href="./img/icons/icons.svg#cross"></use>
    </svg>
  </div>
  <ul class="useful-links__list">
    <li class="useful-links__list-item">
      <a href="#">
        Категории
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="useful-links__list-item">
      <a href="#">
        Магазины
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="useful-links__list-item">
      <a href="#">
        Совместные покупки
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="useful-links__list-item">
      <a href="#">
        Test ForFree
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="useful-links__list-item">
      <a href="#">
        Блогеры
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="useful-links__list-item">
      <a href="#">
        Публикации
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
    <li class="useful-links__list-item">
      <a href="#">
        Служба поддержки
        <svg>
          <use xlink:href="./img/icons/icons.svg#arrow"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>