<a href="#" class="user-card">
  <div class="user-card__wrapper">
    <div class="user-card__image-container">
      @@img
    </div>
    <p class="user-card__name">@@name</p>
    <p class="user-card__desc">@@desc</p>
    <div class="user-card__scores">
      <div class="user-card__scores-inst">
        <svg>
          <use xlink:href="./img/icons/icons.svg#view_logo"></use>
        </svg>
        <span> @@scores-inst </span>
      </div>
      <div class="user-card__scores-users">
        <svg>
          <use xlink:href="./img/icons/icons.svg#user-logo-sm"></use>
        </svg>
        <span> @@scores-users </span>
      </div>
    </div>
    @@if(sub) {
    <div class="user-card__sub badge badge--color-white-green badge--font-commissioner">Вы подписаны</div>
    }
  </div>
</a>
