<div class="user-card-list">
  <div class="user-card-list__actions">
    @@include("./autocomplete.html", {
      id: "users-autocomplete",
      name: "users-autocomplete",
      placeholder: "Введите имя блогера",
      prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
      suffix: "",
      "extra-class": "user-card-list__autocomplete",
      "input-extra-class": "autocomplete__input input-text--color-grey",
      options: '<li class="autocomplete__options-item" data-value="val1" tabindex="0">Блогер1</li><li class="autocomplete__options-item" data-value="val2" tabindex="0">Блогер2</li><li class="autocomplete__options-item" data-value="val3" tabindex="0">Блогер3</li><li class="autocomplete__options-item" data-value="val4" tabindex="0">Блогер4</li><li class="autocomplete__options-item" data-value="val5" tabindex="0">Блогер5</li><li class="autocomplete__options-item" data-value="val6" tabindex="0">Блогер6</li><li class="autocomplete__options-item" data-value="val7" tabindex="0">Блогер7</li><li class="autocomplete__options-item" data-value="val8" tabindex="0">Блогер8</li><li class="autocomplete__options-item" data-value="val9" tabindex="0">Блогер9</li><li class="autocomplete__options-item" data-value="val10" tabindex="0">Блогер10</li>',
    })

     <!-- Блок с кнопками сортировки и фильтрации -->
    <div class="filter-actions user-card-list__actions-btns active">
      <button class="filter-actions__sorts btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="filter-actions__text">Сортировка</div>
        <svg class="filter-actions__icon filter-actions__icon--common">
          <use xlink:href="./img/icons/icons.svg#sorts"></use>
        </svg>
        <svg class="filter-actions__icon filter-actions__icon--cross">
          <use xlink:href="./img/icons/icons.svg#cross"></use>
        </svg>
      </button>

      <button class="filter-actions__filters btn btn--outlined btn--color-grey scroll" data-target="shop-preview__followers">
        <div class="filter-actions__text">Фильтры</div>
        <div class="filter-actions__icon">
          <svg class="filter-actions__icon filter-actions__icon--common">
            <use xlink:href="./img/icons/icons.svg#filters"></use>
          </svg>
          <svg class="filter-actions__icon filter-actions__icon--cross">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
        <div class="user-card-list__actions-filters-count filter-actions__filters-count"></div>
      </button>
    </div>
  </div>

  <!-- Форма с фильтрами и сортировками -->
  <form class="user-card-list__form form-filters">
    <div class="sorting">
      <div class="sorting__title">
        Сортировка
        <div class="sorting__cross">
          <svg>
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
      </div>
      <div class="sorting__btn sorting__btn--popular-asc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По популярности</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "popular-asc",
        })
      </div>
      <div class="sorting__btn sorting__btn--rate-asc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По имени</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "name-asc",
        })
      </div>
      <div class="sorting__btn sorting__btn--cost-asc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По дате регистрации</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-top'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "date-asc",
        })
      </div>
      <div class="sorting__btn sorting__btn--popular-desc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По популярности</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "popular-desc",
        })
      </div>
      <div class="sorting__btn sorting__btn--rate-desc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По имени</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "name-desc",
        })
      </div>
      <div class="sorting__btn sorting__btn--cost-desc">
        @@include("./radio.html", {
          "name": "sorting",
          "text": "<span class='btn btn--color-white'><span class='sorting__btn-text'>По дате регистрации</span><svg class='sorting__btn-icon'><use xlink:href='./img/icons/icons.svg#sorting-down'></use></svg></span>",
          "extra-class": "radio--btn",
          "value": "date-desc",
        })
      </div>
    </div>

    <div class="user-card-list__form-chips form-filters__chips"></div>

    <div class="user-card-list__form-filter filters">
      <div class="filters__title">
        Фильтры
        <div class="user-card-list__form-filter-cross filters__title-cross">
          <svg>
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </div>
      </div>
      <div class="user-card-list__form-filter-filters filters__items">
        <div class="filters__item">
          @@include("./collapse.html", {
            "title": "Фильтр",
            "body": '<div class="filters__collapse filters__collapse-grid">@@include("./checkbox.html", { "name": "filter_users", "text": "все", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "filter_users", "text": "FronTTrend SeTTer", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "filter_users", "text": "мои подписки", "mod": "", "classes": "" }) @@include("./checkbox.html", { "name": "filter_users", "text": "мои подписчики", "mod": "", "classes": "" })</div>',
            "isClosed": false,
            "icon": "collapse",
          })
        </div>
      </div>
      <div class="user-card-list__form-filter-actions filters__actions form__btns">
        <button type="button" class="btn btn--text user-card-list__form-filter-clear filters__clear" data-popup="clearFilter">
          <svg class="user-card-list__form-filter-actions-clear filters__actions-clear">
            <use xlink:href="./img/icons/icons.svg#trash"></use>
          </svg>
          <span class="user-card-list__form-filter-actions-text filters__actions-text">Очистить все фильтры</span>
        </button>
        <button type="submit" class="btn user-card-list__form-filter-submit">
          Применить
          <span class="btn__suffix"></span>
        </button>
      </div>
    </div>
  </form>

  <div class="user-card-list__cards-wrapper">
    @@include("../components/user-card.html", {
      "img": '<img src="@img/shop-preview.jpg"></img>',
      "name":"Елена Брадиславская длинное имя",
      "desc":"Ревизор обуви и одежды. Более 10 лет в сфере блогинга.",
      "scores-inst":"9801",
      "scores-users":"140892",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-rocher.png"></img>',
      "name":"YVES ROCHER",
      "desc":"Увлеченные и ответственные Создатели Растительной Косметики с 1959 года.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-cat.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"Вы подписаны",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-vtb.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-vtb.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-cat.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-woman.png"></img>',
      "name":"Елена Брадиславская",
      "desc":"Ревизор обуви и одежды. Более 10 лет в сфере блогинга.",
      "scores-inst":"9801",
      "scores-users":"140892",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-rocher.png"></img>',
      "name":"YVES ROCHER",
      "desc":"Увлеченные и ответственные Создатели Растительной Косметики с 1959 года.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"Вы подписаны",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-rocher.png"></img>',
      "name":"YVES ROCHER",
      "desc":"Увлеченные и ответственные Создатели Растительной Косметики с 1959 года.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-woman.png"></img>',
      "name":"Елена Брадиславская",
      "desc":"Ревизор обуви и одежды. Более 10 лет в сфере блогинга.",
      "scores-inst":"9801",
      "scores-users":"140892",
      "sub":"Вы подписаны",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-vtb.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-cat.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-cat.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-vtb.png"></img>',
      "name":"Кот",
      "desc":"Нахожу и испытываю  наилучшие продукты для Вашей шерстки. Подписывайтесь.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-rocher.png"></img>',
      "name":"YVES ROCHER",
      "desc":"Увлеченные и ответственные Создатели Растительной Косметики с 1959 года.",
      "scores-inst":"1089",
      "scores-users":"172",
      "sub":"",
    })
    @@include("../components/user-card.html", {
      "img": '<img src="@img/logo-woman.png"></img>',
      "name":"Елена Брадиславская",
      "desc":"Ревизор обуви и одежды. Более 10 лет в сфере блогинга.",
      "scores-inst":"9801",
      "scores-users":"140892",
      "sub":"",
    })
  </div>

  @@include("./popup.html", {
    "id": "clearFilter",
    "extra-class": "",
    "body": '@@include("./clear-filter-content-popup.html")',
  })
</div>