<div class="user-info">
  <div class="user-info__image-container">
    @@img
    @@if(influencer){
    <div class="user-info__image-text-overlay">
      <img src="@img/Influencer-frame-full.png" alt="influencer">
    </div>
    }
  </div>
  <div class="user-info__desc-wrapper">
    <div class="user-info__desc-title-inner">
        <h3>@@bloger-name</h3>
        @@if(influencer){
          <svg>
            <use xlink:href="/img/icons/icons.svg#influencer-tag"></use>
          </svg>
        }
    </div>
    <div class="user-info__desc-inner">
      <p class="user-info__desc-text hide-elem-height">
        @@desc
      </p>
      <button class="btn-show user-info__btn" data-text="Cвернуть">
        <span class="btn-show-text" data-text="развернуть">Развернуть</span>
      </button>
    </div>
    <div class="user-info__desc-sub-inner">
      <div class="user-info__desc-sub">
        <span class="number">@@post_count</span>
        <span>публикаций</span>
      </div>
      <div class="user-info__desc-sub">
        <span class="number">@@sub_count</span>
        <span>подписчиков</span>
      </div>
    </div>
  </div>
  <div class="user-info__sub">
    <div class="user-info__sub-inner">
      <button class="btn btn--color-primary-light">Подписаться</button>
        @@include("../components/share.html")
    </div>
    <div class="user-info__desc-sub-inner sub-lg">
      <div class="user-info__desc-sub">
        <span class="number">@@post_count</span>
        <span>публикаций</span>
      </div>
      <div class="user-info__desc-sub">
        <span class="number">@@sub_count</span>
        <span>подписчиков</span>
      </div>
    </div>
  </div>
</div>