.chip,
.checkbox__checkmark,
.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.radio__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.alert {
  background-color: red;
}

.btn {
  height: 3rem;
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.65rem 1.5rem;
  border: 2px solid;
  border-color: transparent;
  border-radius: var(--radius-medium);
  font-weight: 600;
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-white));
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn.btn--text {
  padding: 0.5rem 0.75rem;
  background-color: transparent;
  color: rgb(var(--color-primary));
  border-color: transparent;
}

.btn.btn--text.btn--color-grey {
  color: rgb(var(--color-grey));
  border-color: transparent;
}

.btn.btn--outlined {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-primary));
  border: 2px solid rgb(var(--color-primary));
}

.btn.btn--outlined.btn--color-grey {
  border-color: rgb(var(--color-black-light));
  color: unset;
}

.btn.btn--color-primary-light {
  background-color: rgb(var(--color-primary-soft));
  color: rgb(var(--color-primary));
}

.btn.btn--color-primary-light-text-black {
  background-color: rgb(var(--color-primary-soft));
  color: rgb(var(--color-black));
}

.btn.btn--color-grey {
  color: rgb(var(--color-grey));
  border-color: rgb(var(--color-grey));
}

.btn.btn--color-white {
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-white));
}

.btn.btn--color-white:hover {
  border: 2px solid rgb(var(--color-primary));
  color: rgb(var(--color-black));
}

.btn.btn--icon {
  padding: 0.75rem;
}

.btn.btn--small {
  height: 2.5rem;
  padding: 0.4rem 0.75rem;
}

.btn.btn--tag {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  font-weight: 400;
  border: none;
  border: 2px solid rgb(var(--color-primary-light));
}

.btn.btn--tag:hover {
  border: 2px solid rgb(var(--color-primary-light));
}

.btn.btn--tag-checked {
  background-color: rgb(var(--color-primary-tag-checked));
  border: 2px solid rgb(var(--color-primary-light));
}

.btn.btn--show {
  height: auto;
  gap: 0.125rem;
  align-items: center;
  padding: 0;
  font-size: 0.875rem;
  stroke: rgb(var(--color-grey));
}

.btn.btn--show svg {
  transition: --transition-base;
}

.btn.btn--show svg use {
  stroke: inherit;
  stroke-width: 2px;
}

.btn.btn--show.active svg {
  transform: rotate(180deg);
}

.btn[disabled] {
  background-color: rgb(var(--color-grey-pale)) !important;
  color: rgb(var(--color-grey-dark)) !important;
  border-color: transparent !important;
  cursor: default;
}

.btn[disabled]:hover {
  border-color: transparent !important;
}

.breadcrumbs {
  color: rgb(var(--color-grey));
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item a:after {
  content: "/";
  margin-left: 0.4375rem;
}

.hr {
  width: 100%;
  max-width: var(--max-width-container);
  height: 0.0625rem;
  margin: 1rem auto 1.25rem;
  border: none;
  background: rgb(var(--color-grey-light));
}

.badge {
  display: inline-flex;
  align-items: center;
  height: 2rem;
  padding: 0 0.5rem;
  background-color: rgb(var(--color-primary));
  border: 2px solid;
  border-radius: var(--radius-medium);
  border-color: rgb(var(--color-white));
  color: rgb(var(--color-white));
  font-family: BebasNeue;
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.badge.badge--round {
  height: 1.75rem;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  border-radius: var(--radius-round);
  line-height: 1.33;
}

.badge.badge--without-border {
  border-color: transparent;
}

.badge.badge--font-commissioner {
  font-size: 1.125rem;
  font-family: Commissioner;
  font-weight: 600;
}

.badge.badge--color-primary-light {
  background-color: rgb(var(--color-primary-pale));
  color: rgb(var(--color-primary));
}

.badge.badge--color-white {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-primary));
}

.badge.badge--color-green {
  background-color: rgba(var(--color-green), 0.04);
  color: rgb(var(--color-green));
}

.badge.badge--color-white-green {
  background-color: rgb(var(--color-white));
  color: rgba(var(--color-green), 1);
}

.badge.badge--big {
  padding: 0 1.25rem;
  height: 3rem;
}

.badge svg {
  width: 1rem;
  height: 1rem;
}

.badge svg use {
  stroke: rgb(var(--color-white));
  stroke-width: 2px;
}

.badge__sub {
  font-size: 0.9rem;
  line-height: 0.4rem;
  margin-right: 0.12rem;
  transform: translateY(25%);
}

.input-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: 2px solid rgb(var(--color-primary-light));
  border-radius: var(--radius-medium);
  padding: 0.75rem 1.25rem;
  height: 3rem;
  outline: none;
}

.input-text:focus-within {
  border-color: rgb(var(--color-primary));
}

.input-text--small {
  height: 2.5rem;
}

.input-text--color-grey {
  border-color: rgb(var(--color-grey-light));
}

.input-text__input {
  width: 100%;
  height: 1.5rem;
  border: none;
  outline: none;
  font-size: 1.125rem;
  padding: 0;
}

.input-text__input::-moz-placeholder {
  color: rgb(var(--color-grey-light));
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
}

.input-text__input::placeholder {
  color: rgb(var(--color-grey-light));
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
}

.input-text__input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-image: url("../../img/icons/icons.svg#cross");
  cursor: pointer;
}

.progress {
  height: 0.75rem;
  border-radius: var(--radius-small);
  overflow: hidden;
}

.progress--primary {
  background-color: rgb(var(--color-primary-tag-checked));
}

.progress--primary .progress__line {
  background-color: rgb(var(--color-primary-dark));
}

.progress--green {
  background-color: rgba(var(--color-green), 0.04);
}

.progress--green .progress__line {
  background-color: rgb(var(--color-green));
}

.progress--grey {
  background-color: rgb(var(--color-grey-soft));
}

.progress--grey .progress__line {
  background-color: rgb(var(--color-grey-dark));
}

.progress__line {
  height: 100%;
  border-radius: var(--radius-medium);
}

.swiper-button-prev,
.swiper-button-next {
  width: 3rem;
  height: 3rem;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-round);
  transform: translateY(-2px);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 1.5rem;
  height: 1.5rem;
}

.swiper-button-prev svg use,
.swiper-button-next svg use {
  stroke: rgb(var(--color-primary));
  stroke-width: 2px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background-color: rgb(var(--color-grey-soft));
  opacity: 1;
}

.swiper-button-prev.swiper-button-disabled svg use,
.swiper-button-next.swiper-button-disabled svg use {
  stroke: rgb(var(--color-grey-pale));
}

.swiper-button-prev {
  left: 0;
  transform: translateX(-50%);
}

.swiper-button-prev svg {
  transform: rotate(90deg);
}

.swiper-button-next {
  right: 0;
  transform: translateX(50%);
}

.swiper-button-next svg {
  transform: rotate(-90deg);
}

.counter {
  padding: 0rem 0.2rem;
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 600;
  color: rgb(var(--color-white));
  border-radius: var(--radius-round);
}

.counter--green {
  background-color: rgb(var(--color-green));
}

.counter--primary {
  background-color: rgb(var(--color-primary));
}

.counter--red {
  background-color: rgb(var(--color-red));
}

.counter--grey {
  background-color: rgb(var(--color-grey));
}

.radio {
  cursor: pointer;
  transition: var(--transition-base);
}

.radio:hover {
  color: rgb(var(--color-primary));
}

.radio__content {
  gap: 0.25rem;
  flex-direction: row-reverse;
  position: relative;
}

.radio__custom {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(var(--color-primary));
  border-radius: var(--radius-round);
  background-color: rgb(var(--color-white));
}

.radio__custom::after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: var(--radius-round);
  background-color: rgb(var(--color-primary));
}

.radio input {
  display: none;
}

.radio input:checked + span .radio__custom::after {
  display: block;
}

.radio input:checked + span .btn {
  background-color: rgb(var(--color-primary-soft));
  border: 2px solid rgb(var(--color-primary));
}

.radio--btn.radio {
  justify-content: center;
}

.radio--btn .radio__custom {
  display: none;
}

.radio--active input:checked + span {
  color: rgb(var(--color-primary));
}

.radio--reverse .radio__content {
  flex-direction: row;
}

.checkbox {
  gap: 0.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: var(--transition-base);
  cursor: pointer;
}

.checkbox:hover {
  color: rgb(var(--color-black-hover));
}

.checkbox input {
  display: none;
}

.checkbox input:checked + .checkbox__checkmark svg {
  opacity: 1;
}

.checkbox input:checked + .checkbox__checkmark + .checkbox__label {
  color: rgb(var(--color-primary));
}

.checkbox__checkmark {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgb(var(--color-primary));
  border-radius: var(--radius-small);
}

.checkbox__checkmark svg {
  opacity: 0;
  width: 0.875rem;
  height: 0.875rem;
}

.checkbox--tag .btn:hover {
  background-color: rgb(var(--color-primary-tag-checked));
}

.checkbox--tag .checkbox__checkmark {
  display: none;
}

.checkbox--tag input:checked + .checkbox__checkmark + .checkbox__label {
  color: rgb(var(--color-black));
  background-color: rgb(var(--color-primary-tag-checked));
  border: 2px solid rgb(var(--color-primary));
}

.chip {
  gap: 0.25rem;
  height: 3rem;
  padding: 0 1.25rem;
  background-color: rgb(var(--color-primary-soft));
  border-radius: var(--radius-small);
  border: solid;
  border-color: transparent;
  border-width: 2px;
  transition: border-color var(--transition-base-without-prop);
}

.chip:hover {
  border-color: rgb(var(--color-primary));
}

.chip__title,
.chip__more {
  color: rgb(var(--color-grey));
}

.chip__cross {
  margin-left: 0.25rem;
  cursor: pointer;
  fill: rgb(var(--color-grey));
}

.noUi-horizontal {
  height: 0.3125rem;
}

.noUi-horizontal .noUi-handle {
  top: 0.155rem;
  transform: translateY(-50%);
  width: 2.74rem;
  height: 2.74rem;
  border-radius: var(--radius-round);
  background-color: rgb(var(--color-primary));
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle::after,
.noUi-horizontal .noUi-handle::before {
  display: none;
}

.noUi-target {
  background-color: rgb(var(--color-primary-pale));
  border-radius: var(--radius-big);
  border: none;
  padding: 0 17px 0 27px;
}

.noUi-connect {
  background-color: rgb(var(--color-primary-dark));
}

.hide-elem {
  display: none;
}

.show-elem {
  display: block;
}

.autocomplete {
  position: relative;
}

.autocomplete.active .autocomplete__input {
  border-bottom: 0;
  border-radius: var(--radius-medium) var(--radius-medium) 0 0;
  border-color: rgb(var(--color-primary));
}

.autocomplete.active .autocomplete__body {
  display: block;
  border: 2px solid rgb(var(--color-primary));
  border-top: 0;
  border-radius: 0 0 var(--radius-medium) var(--radius-medium);
}

.autocomplete__load {
  display: none;
}

.autocomplete.load .autocomplete__load {
  display: block;
  position: relative;
  animation: spinner 1s linear infinite;
}

.autocomplete__input {
  padding: 0.75rem 1rem;
}

.autocomplete__body {
  display: none;
  position: absolute;
  min-width: 100%;
  padding: 0 1rem 0.5rem 1rem;
  top: 100%;
  left: 0;
  right: 0;
  left: 0;
  background-color: rgb(var(--color-white));
  z-index: var(--z-over);
}

.autocomplete__body-title {
  margin-top: 0.25rem;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  color: rgb(var(--color-grey));
  border-top: 1px solid rgb(var(--color-black-light));
}

.autocomplete__options {
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem -1rem 0 -1rem;
  overflow-y: auto;
}

.autocomplete__options::-webkit-scrollbar-track {
  background-color: rgb(var(--color-black-light));
}

.autocomplete__options::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-grey-scrollbar));
}

.autocomplete__options-item {
  position: relative;
  padding: 0.4rem 0.5rem 0.4rem 1rem;
  transition: var(--transition-base);
  border-radius: var(--radius-medium);
  cursor: pointer;
}

.autocomplete__options-item::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0rem;
  left: 1rem;
  right: 1rem;
  background-color: rgb(var(--color-grey-soft));
}

.autocomplete__options-item:hover {
  background-color: rgba(var(--color-primary), 0.1);
}

.autocomplete__options-item.active {
  background-color: rgba(var(--color-primary), 0.1);
}

.title-txt {
  font-size: 3rem;
  line-height: 3rem;
  font-family: "BebasNeue";
  font-weight: 400;
}

.title-under {
  color: rgb(var(--color-grey));
  font-size: 1rem;
  line-height: 1.5rem;
}

.ticker {
  overflow: hidden;
  cursor: pointer;
}

.ticker__text {
  min-width: 100%;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  text-align: center;
}

.ticker.active .ticker__text {
  animation: ticker 2.5s linear;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@media (min-width: 48rem) {
  .hr {
    margin: 1.25rem auto;
  }

  .radio__content {
    gap: 0.5rem;
  }

  .title-txt {
    font-size: 4rem;
    line-height: 4rem;
  }

  .title-under {
    font-size: 1.125rem;
  }
}

@media (min-width: 75rem) {
  .hr {
    margin: 2.5rem auto;
  }

  .badge.badge--round {
    height: 2.5rem;
    padding: 0 1.25rem;
    font-size: 1.125rem;
  }

  .badge.badge--font-commissioner {
    font-size: 1.125rem;
  }
}

@media (min-width: 120rem) {
  .badge svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .badge {
    height: 2.75rem;
    font-size: 1.5rem;
  }
}