.header__top-location,
.header__top-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  border: 0.125rem solid rgb(var(--color-primary-light));
  border-radius: 0.1875rem;
  padding: 0.75rem 1.25rem;
  height: 3rem;
}

.search__icon-search {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.search__input {
  width: 100%;
  height: 1.5rem;
  margin-left: 0.5rem;
  border: none;
  font-size: 1.125rem;
  padding: 0;
}

.search__input::-moz-placeholder {
  color: rgb(var(--color-grey-light));
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
}

.search__input::placeholder {
  color: rgb(var(--color-grey-light));
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
}

.search__select {
  display: none;
  max-width: 11.25rem;
  width: 100%;
  font-size: 1rem;
  border-left: 2px solid rgb(var(--color-black-light));
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--color-white));
  padding: 0.62rem 0.69rem;
  z-index: var(--z-fixed);
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  gap: 0.5rem;
  justify-content: center;
}

.nav__item {
  display: block;
  font-size: 0.75rem;
  color: rgb(var(--color-grey));
  text-align: center;
}

.nav__item-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}

.nav__item-title {
  margin-top: 0.25rem;
  color: rgb(var(--color-grey));
}

.nav__item-catalog use {
  stroke: rgb(var(--color-grey));
  stroke-width: 2px;
}

.header {
  position: sticky;
  top: 0;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgb(var(--color-black-light));
  background-color: rgb(var(--color-white));
  z-index: var(--z-fixed);
}

.header__inner {
  max-width: var(--max-width-container);
  margin: 0 auto;
}

.header__top {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.header__top-location {
  gap: 0.25rem;
  color: rgb(var(--color-primary));
  cursor: pointer;
}

.header__top-info {
  gap: 1.5rem;
  color: rgb(var(--color-grey));
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-left: 1rem;
}

.header__nav-item > a {
  display: block;
  height: 1.5rem;
}

.header__nav-logo {
  display: none;
  width: 6.66rem;
  height: 1.25rem;
  margin-left: 0;
}

.header__nav-catalog {
  display: none;
  color: rgb(var(--color-white));
}

.header__nav-catalog > a {
  display: inline-flex;
  height: auto;
}

.header__nav-catalog .btn {
  padding: 0.5rem 1rem;
}

.header__nav-catalog use {
  stroke: rgb(var(--color-white));
  stroke-width: 2px;
}

.header__nav-search {
  margin-left: 0;
  flex-grow: 1;
}

.header__nav-feed {
  display: none;
  margin-left: 1.5rem;
}

.header__nav-feed use {
  stroke: rgb(var(--color-primary));
  stroke-width: 2px;
}

.header__nav-basket,
.header__nav-favorite {
  display: none;
}

.header__nav-profile {
  display: none;
}

.header__nav-profile > a {
  display: flex;
  align-items: center;
  height: auto;
  gap: 0.5rem;
  font-weight: 600;
  color: rgb(var(--color-primary));
}

.header__nav-profile > a svg {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.header__nav-more,
.header__nav-location {
  cursor: pointer;
}

@media (min-width: 48rem) {
  .search__icon-search {
    width: 1.5rem;
    height: 1.5rem;
  }

  .search__select {
    display: flex;
    justify-content: flex-end;
  }

  .nav__list {
    gap: 2.5rem;
  }

  .header {
    padding: 0.75rem 2.5rem;
  }

  .header__nav-item {
    margin-left: 1.5rem;
  }

  .header__nav-logo {
    display: block;
    flex-shrink: 0;
  }

  .header__nav-search {
    margin-left: 1.5rem;
  }
}

@media (min-width: 75rem) {
  .nav {
    display: none;
  }

  .header {
    padding: 0.5rem 4rem;
    border-bottom: none;
  }

  .header__top {
    display: flex;
  }

  .header__nav-list {
    margin: 1rem -2.5rem 0;
  }

  .header__nav-item {
    margin-left: 1rem;
  }

  .header__nav-catalog {
    display: block;
  }

  .header__nav-feed {
    display: block;
  }

  .header__nav-basket,
  .header__nav-favorite {
    display: block;
  }

  .header__nav-profile {
    display: block;
  }

  .header__nav-more,
  .header__nav-location {
    display: none;
  }
}