@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.section {
  padding: 0 1.25rem;
  width: 100%;
}

.section__inner {
  margin: 0 auto;
  max-width: var(--max-width-container);
}

.section--shop-preview {
  padding-bottom: 0;
}

.section--shop-preview .section__inner {
  max-width: 100%;
}

.section--users .section__inner {
  max-width: var(--max-width-container-users);
  padding-top: 1.25rem;
}

.section--shop-window {
  padding-top: 0;
}

@media (min-width: 48rem) {
  .section {
    padding: 0rem 2.5rem;
  }

  .section--users .section__inner {
    padding-top: 2.5rem;
  }
}

@media (min-width: 75rem) {
  .section {
    padding: 0rem 4rem;
  }

  .section--shop-preview .section__inner {
    max-width: var(--max-width-container);
  }
}

@media (min-width: 120rem) {
  .section {
    padding: 0rem 7rem;
  }

  .section--users .section__inner {
    padding-top: 0rem;
  }
}