.section {
  padding: 1.25rem;
  width: 100%;
}

.section__inner {
  margin: 0 auto;
  max-width: var(--max-width-container);
}

.section--shop-preview {
  padding-bottom: 0;
}

.section--shop-preview .section__inner {
  max-width: 100%;
}

.section--shop-window {
  padding-top: 0;
}

@media (min-width: 48rem) {
  .section {
    padding: 1.5rem 2.5rem;
  }
}

@media (min-width: 75rem) {
  .section {
    padding: 2.5rem 4rem;
  }

  .section--shop-preview .section__inner {
    max-width: var(--max-width-container);
  }
}