.section {
  $block: &;

  padding: 0 1.25rem;
  width: 100%;

  &__inner {
    margin: 0 auto;
    max-width: var(--max-width-container);
  }

  @include media($md) {
    padding: 0rem 2.5rem;
  }

  @include media($lg) {
    padding: 0rem 4rem;
  }

  @include media($full) {
    padding: 0rem 7rem;
  }

  &--shop-preview {
    padding-bottom: 0;

    #{$block}__inner {
      max-width: 100%;

      @include media($lg) {
        max-width: var(--max-width-container);
      }
    }
  }

  &--users {
    #{$block}__inner {
      max-width: var(--max-width-container-users);
    }
    padding-top: 1.25rem;
    @include media($md) {
      padding-top: 2.5rem;
    }
    @include media($full) {
      padding-top: 0rem;
    }
  }

  &--user-info {
    #{$block}__inner {
      max-width: var(--max-width-container-user-info);
    }

    padding-top: 1.25rem;
    @include media($md){
      padding-top: 1rem;
    }

    @include media($lg){
      padding-top: 2.5rem;
    }

    @include media($full){
      padding-top: 0rem;
    }
  }

  &--user-board {
    margin-top: 2.5rem;
    
    @include media($md){
      margin-top: 4rem;
    }
    @include media($lg){
      margin-top: 5rem;
    }
  }

  &--shop-window {
    padding-top: 0;
  }
}
