<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <button class="header__top-location @@locationClass" data-popup="@@idPopup">
        <svg>
          <use xlink:href="./img/icons/icons.svg#@@icon"></use>
        </svg>
        <span class="header__top-location-address">@@locationAddress</span>
        <span class="header__top-location-cta">Укажите точный адрес</span>
      </button>
      <div class="header__top-info">
        <a href="#">Инструкции</a>
        <a href="#">Контакты</a>
        @@include("../components/select.html", {
          "name": "language",
          "extra-class": "select--transparent header__top-language",
          "options": '<li class="select__options-item" data-value="ru" role="button" tabindex="0">Русский</li> <li class="select__options-item" data-value="en" role="button" tabindex="0">Английский</li> <li class="select__options-item" data-value="kz" role="button" tabindex="0">Казахский</li>',
          'initial-label': 'Русский',
          'initial-value': 'ru',
        })
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item header__nav-logo">
          <a class="header__nav-logo-small" href="./index.html">
            <img width="24" height="24" src="@img/small-logo.svg" alt="small-logo">
          </a>
          <a class="header__nav-logo-big" href="./index.html">
            <img width="106" height="24" src="@img/logo.svg" alt="logo">
          </a>
        </li>
        <li class="header__nav-item header__nav-catalog @@catalogExtraClass">
          <a class="btn" href="./catalog.html">
            <svg class="header__nav-catalog-icon-catalog">
              <use xlink:href="./img/icons/icons.svg#catalog"></use>
            </svg>
            <svg class="header__nav-catalog-icon-cross">
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
            <span class="header__nav-catalog-title">Каталог</span>
          </a>
        </li>
        <li class="header__nav-item header__nav-search">
          <div class="header__nav-search-title">
            <div class="header__nav-search-title-text">Поиск по сайту</div>
            <svg class="header__nav-search-title-cross"><use xlink:href="./img/icons/icons.svg#cross"></use></svg>
          </div>
          @@include("../components/autocomplete.html", {
            id: "search-shops",
            name: "search-shops",
            placeholder: "Найдите что-нибудь",
            "input-extra-class": "autocomplete__input",
            prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
            'suffix': '@@include("../components/select.html", { options: "<li class=select__options-item data-value=value1 role=button tabindex=0>Везде</li> <li class=select__options-item data-value=value2 role=button tabindex=0>value 2</li> <li class=select__options-item data-value=value3 role=button tabindex=0>длинный очень текст</li>", "name": "select-search", "initial-value": "value2", "initial-label": "Везде", "extra-class": "select--transparent" })',
            "extra-class": "header__nav-search-input autocomplete--img autocomplete--select",
            "extra-class-prefix": "",
            "extra-class-suffix": "autocomplete__suffix",
            "tag": "div",
            options: '<a href="#" class="autocomplete__options-item" data-value="val1" tabindex="0"><img class="autocomplete__options-item-img" src="@img/avatar.jpg" /><div class="autocomplete__options-item-title">Женское платье Lovely Ran с расклешенными рукавами и круглой</div><div class="autocomplete__options-item-subtitle">Товары с Aliexpress.ru</div></a> <a href="#" class="autocomplete__options-item" data-value="val2" tabindex="0"><img class="autocomplete__options-item-img" src="@img/sp-slide2.jpg" /><div class="autocomplete__options-item-title">Короткое платье из денима с "Gucci Boutique"</div><div class="autocomplete__options-item-subtitle">Gucci</div></a>',
          })
          <div class="header__nav-search-filter">
            <div class="header__nav-search-filter-title">
              Где будем искать
            </div>
          </div>
          <div class="header__nav-search-mask"></div>
        </li>
        <li class="header__nav-item header__nav-basket">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#shopping-bag"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "9",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-favorite">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#heart"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "4",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-feed">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#feed"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "1",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-instagram">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#camera"></use>
            </svg>
          </a>
        </li>
        <li class="header__nav-item header__nav-profile" data-popup="login">
          <a class="header__nav-sign-in" href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#user"></use>
            </svg>
            Войти в аккаунт
          </a>
          <a class="header__nav-account" href="#">
            <div class="header__nav-rating badge badge--font-commissioner badge--color-primary-light badge--without-border">
              Мой рейтинг: 109
            </div>
            <div class="header__nav-avatar">
              <img src="@img/avatar.jpg" alt="avatar">
            </div>
          </a>
        </li>
        <li class="header__nav-item header__nav-more">
          <svg>
            <use xlink:href="./img/icons/icons.svg#more"></use>
          </svg>
        </li>
        <li class="header__nav-item header__nav-location" data-popup="location">
          <svg>
            <use xlink:href="./img/icons/icons.svg#map"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>

  @@include("../components/useful-links.html")

  @@include("../components/popup.html", {
    "extra-class": "header__login",
    "id": "login",
    "title": "Войдите в свой профиль",
    "body": '@@include("../components/login.html")',
  })

  @@include("../components/popup.html", {
    "extra-class": "header__location",
    "id": "location",
    "title": "Куда доставить заказ?",
    "body": '@@include("../components/location.html", { "extra-class": "@@locationExtraClass" })',
  })

  @@include("../components/popup.html", {
    "extra-class": "header__choose-city",
    "id": "choose-city",
    "title": "",
    "body": '@@include("../components/choose-city.html")',
  })

  @@include("../components/popup.html", {
    "extra-class": "popup--no-overlay header__map",
    "id": "map",
    "title": "",
    "body": '@@include("../components/map.html")',
  })

  @@include("../components/popup.html", {
    "extra-class": "popup--no-overlay header__search-pickup",
    "id": "search-pickup",
    "title": "",
    "body": '@@include("../components/search-pickup.html")',
  })

  @@include("../components/popup.html", {
    "extra-class": "popup--no-overlay header__courier",
    "id": "courier",
    "title": "",
    "body": '@@include("../components/courier.html")',
  })

  @@include("../components/menu-mobile.html", {
    activeItem: "@@activeItem",
  })

  <template id="address">
    <li class="location__address" data-value="" role="button" tabindex="0" data-close-popup="location" data-deleivery="">
      <div class="location__address-header">
        <div class="location__address-option"></div>
        <button class="location__address-remove">
          <svg class="location__address-remove-icon">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="location__address-address"></div>
      <div class="location__address-storage-period">

        <span class="location__address-storage-period-count"></span>
      </div>
    </li>
  </template>
</header>