<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <button class="header__top-location" data-popup="location">
        <svg>
          <use xlink:href="./img/icons/icons.svg#location"></use>
        </svg>
        Укажите адрес доставки
      </button>
      <div class="header__top-info">
        <a href="#">Инструкции</a>
        <a href="#">Контакты</a>
        @@include("../components/select.html", {
          "label1": "Русский",
          "label2": "Английский",
          "label3": "Казахский",
          "data-value1": "val1",
          "data-value2": "val2",
          "data-value3": "val3",
          "name": "language",
          "extra-class": "select--transparent header__top-language",
          "value": "val1",
        })
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item header__nav-logo">
          <a class="header__nav-logo-small" href="./index.html">
            <img width="24" height="24" src="@img/small-logo.svg" alt="small-logo">
          </a>
          <a class="header__nav-logo-big" href="./index.html">
            <img width="106" height="24" src="@img/logo.svg" alt="logo">
          </a>
        </li>
        <li class="header__nav-item header__nav-catalog @@catalogExtraClass">
          <a class="btn" href="./catalog.html">
            <svg class="header__nav-catalog-icon-catalog">
              <use xlink:href="./img/icons/icons.svg#catalog"></use>
            </svg>
            <svg class="header__nav-catalog-icon-cross">
              <use xlink:href="./img/icons/icons.svg#cross"></use>
            </svg>
            <span class="header__nav-catalog-title">Каталог</span>
          </a>
        </li>
        <li class="header__nav-item header__nav-search">
          @@include("../components/autocomplete.html", {
            id: "search-shops",
            name: "search-shops",
            placeholder: "Найдите что-нибудь",
            "input-extra-class": "autocomplete__input input-text--small",
            prefix: '<svg><use xlink:href="./img/icons/icons.svg#search"></use></svg>',
            suffix: '',
            "extra-class": "header__nav-search-input",
            "extra-class-prefix": "header__nav-search-icon",
            "extra-class-suffix": "autocomplete__select",
            "tag": '',
            "select": '@@include("../components/select.html", { "label1": "Везде", "label2": "Везде2", "label3": "Везде3 очень длинный текст", "data-value1": "val1", "data-value2": "val2", "data-value3": "val3", "name": "select", "extra-class": "select--transparent", "value": "val2" })',
            options: '<li class="autocomplete__options-item" data-value="val1" tabindex="0">label1</li><li class="autocomplete__options-item" data-value="val2" tabindex="0">label2</li><li class="autocomplete__options-item" data-value="val3" tabindex="0">label3</li><li class="autocomplete__options-item" data-value="val4" tabindex="0">label4</li><li class="autocomplete__options-item" data-value="val5" tabindex="0">label5</li><li class="autocomplete__options-item" data-value="val6" tabindex="0">label6</li><li class="autocomplete__options-item" data-value="val7" tabindex="0">label7</li><li class="autocomplete__options-item" data-value="val8" tabindex="0">label8</li><li class="autocomplete__options-item" data-value="val9" tabindex="0">label9</li><li class="autocomplete__options-item" data-value="val10" tabindex="0">label10</li>',
          })
        </li>
        <li class="header__nav-item header__nav-basket">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#shopping-bag"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "9",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-favorite">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#heart"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "4",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-feed">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#feed"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "1",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-instagram">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#camera"></use>
            </svg>
          </a>
        </li>
        <li class="header__nav-item header__nav-profile" data-popup="login">
          <a class="header__nav-sign-in" href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#user"></use>
            </svg>
            Войти в аккаунт
          </a>
          <a class="header__nav-account" href="#">
            <div class="header__nav-rating badge badge--font-commissioner badge--color-primary-light badge--without-border">
              Мой рейтинг: 109
            </div>
            <div class="header__nav-avatar">
              <img src="@img/avatar.jpg" alt="avatar">
            </div>
          </a>
        </li>
        <li class="header__nav-item header__nav-more">
          <svg>
            <use xlink:href="./img/icons/icons.svg#more"></use>
          </svg>
        </li>
        <li class="header__nav-item header__nav-location" data-popup="location">
          <svg>
            <use xlink:href="./img/icons/icons.svg#map"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>

  @@include("../components/useful-links.html")

  @@include("../components/popup.html", {
    "id": "login",
    "body": '@@include("../components/login.html")',
    "extra-class": "header__login",
  })

  @@include("../components/popup.html", {
    "id": "location",
    "body": '@@include("../components/location.html")',
    "extra-class": "header__location",
  })

  @@include("../components/popup.html", {
    "id": "choose-city",
    "body": '@@include("../components/choose-city.html")',
    "extra-class": "header__choose-city",
  })

  @@include("../components/popup.html", {
    "id": "map",
    "body": '@@include("../components/map.html")',
    "extra-class": "popup--no-overlay header__map",
  })

  @@include("../components/popup.html", {
    "id": "search-pickup",
    "body": '@@include("../components/search-pickup.html")',
    "extra-class": "popup--no-overlay header__search-pickup",
  })

  @@include("../components/popup.html", {
    "id": "courier",
    "body": '@@include("../components/courier.html")',
    "extra-class": "popup--no-overlay header__courier",
  })

  @@include("../components/menu-mobile.html", {
    activeItem: "@@activeItem",
  })

  <template id="address">
    <li class="location__address" data-value="" role="button" tabindex="0">
      <div class="location__address-header">
        <div class="location__address-option"></div>
        <button class="location__address-remove">
          <svg class="location__address-remove-icon">
            <use xlink:href="./img/icons/icons.svg#cross"></use>
          </svg>
        </button>
      </div>
      <div class="location__address-address"></div>
      <div class="location__address-storage-period">

        <span class="location__address-storage-period-count"></span>
      </div>
    </li>
  </template>
</header>