<header class="header">
  <div class="header__inner">
    <div class="header__top">
      <div class="header__top-location">
        <svg>
          <use xlink:href="./img/icons/icons.svg#location"></use>
        </svg>
        Укажите адрес доставки
      </div>
      <div class="header__top-info">
        <a href="#">Инструкции</a>
        <a href="#">Контакты</a>
        <div class="header__top-language">
          Русский
        </div>
      </div>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item header__nav-logo">
          <a href="#">
            <img width="106px" height="24px" src="@img/logo.svg" alt="logo">
          </a>
        </li>
        <li class="header__nav-item header__nav-catalog">
          <a class="btn" href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#catalog"></use>
            </svg>
            Каталог
          </a>
        </li>
        <li class="header__nav-item header__nav-search">
          @@include("../components/input-text.html", {
            placeholder: "Найдите что-нибудь",
            prefix: "<svg><use xlink:href='./img/icons/icons.svg#search'></use></svg>",
            suffix: "@@include('../components/select.html', { 'label1': 'Везде', 'label2': 'Везде2', 'label3': 'Везде3 очень длинный текст', 'data-value1': 'val1', 'data-value2': 'val2', 'data-value3': 'val3', 'name': 'select', 'extra-class': 'select--transparent', 'value': 'val2' })",
            "extra-class": "",
            "extra-class-prefix": "header__nav-search-icon",
            "extra-class-suffix": "header__nav-search-select",
          })
        </li>
        <li class="header__nav-item header__nav-basket">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#shopping-bag"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "9",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-favorite">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#heart"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "4",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-feed">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#feed"></use>
            </svg>
          </a>
          <div class="header__nav-item-counter">
            @@include("../components/counter.html", {
              "count": "1",
              "color": "green",
            })
          </div>
        </li>
        <li class="header__nav-item header__nav-instagram">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#camera"></use>
            </svg>
          </a>
        </li>
        <li class="header__nav-item header__nav-profile">
          <a href="#">
            <svg>
              <use xlink:href="./img/icons/icons.svg#user"></use>
            </svg>
            Войти в аккаунт
          </a>
        </li>
        <li class="header__nav-item header__nav-more">
          <svg>
            <use xlink:href="./img/icons/icons.svg#more"></use>
          </svg>
        </li>
        <li class="header__nav-item header__nav-location">
          <svg>
            <use xlink:href="./img/icons/icons.svg#map"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>
  @@include("../components/menu-mobile.html")
</header>