//- extends ../layout/baseLayout.pug

//- - var htmlClass = 'isAuth'
//- - var title = 'carts Page'
//- - var nameFile = 'carts'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- - var isNeedNavPages = true

//- block content
//-   main.main
//-     section.section.section--carts
//-       .section__inner
//-         include ../components/title.pug(
//-           title='Корзины',
//-           isSubscription='',
//-           amount='',
//-           sub='',
//-           isCartStoreAndSP='isCartStoreAndSP',
//-           storeAmount='1',
//-           SPAmount='3',
//-           cartSum='1 749 997',
//-           isCartStore='',
//-           isCartSP='',
//-           cartsSumClass='carts-sum-class'
//-         )
//-         include ../components/cart-list.pug
