//- extends ../layout/baseLayout.pug

//- - var htmlClass = 'isAuth'
//- - var title = 'catalog Page'
//- - var nameFile = 'catalog'

//- - var headerVars = {
//-   activeItem: "catalog",
//-   catalogExtraClass: "active",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- - var isNeedNavPages = true

//- block content
//-   main.main
//-     section.section.section--catalog
//-       .section__inner
//-         include ../components/catalog.pug

