extends ../layout/baseLayout

block vars
  -
    var htmlClass = ''
    var title = 'catalog Page'
    var nameFile = 'catalog'
    var isNeedHeader = true
    var isNeedNavPages = true
    var headerVars = {
      activeItem: "catalog",
      catalogExtraClass: "active",
      locationAddress: "",
      idPopup: "location",
      icon: "location",
      locationClass: "header__top-location--empty",
    }

block content
  main.main
    section.section.section--catalog
      .section__inner
        include ../components/catalog.pug

