extends ../layout/baseLayout

block vars
  -
    var htmlClass = ''
    var title = 'header not authorized'
    var nameFile = 'header-demo'
    var isNeedHeader = true
    var headerVars = {
      activeItem: "",
      catalogExtraClass: "",
      locationAddress: "",
      idPopup: "",
      icon: "location",
      locationClass: "header__top-location--empty",
    }
