//- extends ../layout/baseLayout.pug

//- - var htmlClass = 'isAuth'
//- - var title = 'header not authorized'
//- - var nameFile = 'header-demo'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- block content