//- extends ../layout/baseLayout.pug

//- - var title = 'header not authorized'
//- - var nameFile = 'header-demo'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "Пункт выдачи, Ленинский проспект, 80-21",
//-   locationExtraClass: "location--setup",
//-   idPopup: "location",
//-   icon: "location-full",
//-   locationClass: "header__top-location--full",
//- }

//- block content
