extends ../layout/baseLayout

block vars
  -
    var htmlClass = ''
    var title = 'header half authorized'
    var nameFile = 'header-demo'
    var isNeedHeader = true
    var headerVars = {
      activeItem: "",
      catalogExtraClass: "",
      locationAddress: "Москва",
      idPopup: "map",
      icon: "location",
      locationClass: "header__top-location--half",
    }
