extends ../layout/baseLayout

block vars
  -
    var htmlClass = ''
    var title = 'header not authorized'
    var nameFile = 'header-demo'
    var isNeedHeader = true
    var headerVars = {
      activeItem: "",
      catalogExtraClass: "",
      locationAddress: "Пункт выдачи, Ленинский проспект, 80-21",
      idPopup: "location",
      icon: "location-full",
      locationClass: "header__top-location--full",
      locationExtraClass: "location--setup",
    }
