//- extends ../layout/baseLayout.pug

//- - var htmlClass = 'isAuth'
//- - var title = 'product in modal Page'
//- - var nameFile = 'product-in-modal'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- - var isNeedNavPages = true

//- block content
//-   main.main
//-     section.section.section--product-in-modal
//-       .section__inner
//-         .title
//-           h1.title-txt Модальное окно товара

//-         button.btn.btn--text.btn--color-grey(data-popup="popup-product")
//-           | Открыть модальное окно товара

//-         - const popupTitle = `<a href="#" class="product__header-link">Перейти к полной версии карточки товара</a> <span href="#" class="product__header-txt">Быстрый просмотр товара</span>`
//-         - const popupBody = `include ../components/product-in-modal.pug`
//-         include ../components/popup.pug(
//-           extraClass='product-in-modal',
//-           id='popup-product',
//-           title=popupTitle,
//-           body=popupBody
//-         )

