extends ../layout/baseLayout

include ../components/popup
include ../components/product
include ../components/breadcrumbs
include ../components/with-product
include ../components/joint-purchases-card
include ../components/post-card-list
include ../components/discount

block vars
  -
    var htmlClass = ''
    var title = 'product Page'
    var nameFile = 'product'
    var isNeedHeader = true
    var isNeedNavPages = true
    var headerVars = {
      activeItem: "",
      catalogExtraClass: "",
      locationAddress: "",
      idPopup: "location",
      icon: "location",
      locationClass: "header__top-location--empty",
    }
    var productData = {
      images: [
        "@img/product-img1.png",
        "@img/product-img2.png",
        "@img/product-img3.png",
        "@img/product-img4.png",
        "@img/product-img5.png",
      ],
      point: "в Москву",
      deliveryPrice: "300",
      productDescription: "Дизайн пуховика из кожи ягнёнка с набивкой из гусиного пуха превосходно отражает ключевую концепцию коллекции изделий из кожи. Изысканная модель цвета шампанского украшена тиснёным узором Monogram Micro. Контрастная эмблема Louis Vuitton и кнопки с гравировкой — дань традициям Дома. Эластичный пояс дополняет объёмный силуэт в спортивном стиле.",
      productName: "Louis Vouitton",
      productShortDescription: "Пуховик из кожи с узором monogram micro",
      likesScore: 89,
      postScore: "108",
      priceCrossed: "510000",
      priceNew: "459000",
      discountScore: "10",
      productSpDescription: "Покупаем пока есть скидка, девочки",
      imgSeller: '<img src="@img/shop-avatar.png"></img>',
      sellerName: "Интернет магазин одежды и аксессуаров Lass",
      discountExtra: "50",
      discountExtraSum: "459000",
      spDiscountLinksFound: "79",
      extraClass: "",
      isDiscount: false,
    }
    var postCards = [
      {
        imgSrc: "@img/post-card-img-black.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "",
        scoresDiscus: "",
        scoresLikes: "",
        liked: "liked"
      },
      {
        imgSrc: "@img/post-card-img-white.png",
        userName: "Олеся Смирнова",
        desc: "Светлый образ на холодную весну",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "",
        scoresDiscus: "",
        scoresLikes: "",
        liked: ""
      },
      {
        imgSrc: "@img/post-louis-vuitton.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "scores",
        scoresDiscus: "3058",
        scoresLikes: "64197",
        liked: ""
      },
      {
        imgSrc: "@img/post-jeans.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "",
        scoresDiscus: "",
        scoresLikes: "",
        liked: ""
      },
      {
        imgSrc: "@img/post-louis-vuitton.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "scores",
        scoresDiscus: "3058",
        scoresLikes: "64197",
        liked: ""
      },
      {
        imgSrc: "@img/post-jeans.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "scores",
        scoresDiscus: "3058",
        scoresLikes: "64197",
        liked: ""
      },
      {
        imgSrc: "@img/post-card-img-black.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "",
        scoresDiscus: "",
        scoresLikes: "",
        liked: ""
      },
      {
        imgSrc: "@img/post-card-img-white.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "",
        scoresDiscus: "",
        scoresLikes: "",
        liked: ""
      },
      {
        imgSrc: "@img/post-card-img-white.png",
        userName: "Олеся Смирнова",
        desc: "Отзыв о черной простыне Karna Loft35 Сатин, 260x280, черный",
        userLogoSrc: "@img/logo-user-sm.jpg",
        scores: "",
        scoresDiscus: "",
        scoresLikes: "",
        liked: ""
      }
    ]

block content
  main.main
    section.section.section--breadcrumbs
      .section__inner
        +breadcrumbs({
          extraClass: "breadcrumbs--primary",
          title: "",
          items: [
            { text: "Платья и сарафаны", href: "#" },
            { text: "Блузы и рубашки", href: "#" },
            { text: "Юбки", href: "" },
            { text: "+ еще 12", href: "" },
          ],
        })

    section.section.section--product
      .section__inner
        +product(productData)

    section.section.section--with-product
      .section__inner
        +withProduct({
          extraClass: "",
          title: "Совместные Покупки с этим товаром",
          btnHeaderText: "Создать СП",
          btnId: 'spBtnLoad',
          btnLoadText: "Подгрузить все СП",
        })
          #spList.joint-purchases-list
            +jointPurchasesCard({
              extraClass: "joint-purchases-card--processing",
              status: "",
              width: "30%",
            })
            +jointPurchasesCard({
              extraClass: "joint-purchases-card--processing",
              status: "",
              width: "30%",
            })

    section.section.section--with-product
      .section__inner
        +withProduct({
          extraClass: "",
          title: "Публикации с этим товаром",
          btnHeaderText: "Создать Публикацию",
          btnId: 'publicationBtnLoad',
          btnLoadText: "Подгрузить все публикации",
        })
          +postCardList({ listId: "publicationList", cards: postCards })

    +popup({
      extraClass: "popup--discount",
      id: "discount",
      title: "Какие скидки на товары я получу от продавца",
    })
      +discount({
        imgSrc: "@img/product-img3.png",
        brand: 'Louis Vouitton',
        productName: 'Пуховик из кожи с узором Monogram Micro',
        priceCrossed: '459000',
        priceNew: '413100',
        number: 1,
        discountSize: 10,
        imgSellerSrc: "@img/shop-avatar.png",
        sellerName: 'Интернет магазин одежды и аксессуаров Lass',
        discountPrices: [
          { price: '459000', discount: '10' },
          { price: '408000', discount: '20' },
          { price: '380000', discount: '30' },
          { price: '357000', discount: '40' }
        ]
      })

