extends ../layout/baseLayout

include ../components/popup
include ../components/publication-item

block vars
  -
    var htmlClass = 'isAuth'
    var title = 'publication Page'
    var nameFile = 'publication'
    var isNeedHeader = true
    var isNeedNavPages = true
    var headerVars = {
      activeItem: "",
      catalogExtraClass: "",
      locationAddress: "",
      idPopup: "location",
      icon: "location",
      locationClass: "header__top-location--empty",
    }
    var publications = [
      { img: 'item-publication.jpg', title: 'Костюм классический UNIQ', price: '10000', currency: '₽', descr: '' },
      { img: 'item-publication.jpg', title: 'Костюм классический UNIQ', price: '10000', currency: '₽', descr: '' },
      { img: 'item-publication.jpg', title: 'Костюм классический UNIQ', price: '10000', currency: '₽', descr: '' },
      { img: 'item-publication.jpg', title: 'Костюм классический UNIQ', price: '10000', currency: '₽', descr: '' },
      { img: 'item-publication.jpg', title: 'Костюм классический UNIQ', price: '10000', currency: '₽', descr: '' }
    ]

block content
  main.main
    section.section.section--publication
      .section__inner
        include ../components/publication

    section.section.section--comments
      .section__inner
        include ../components/comments.pug

  +popup({
    extraClass: "publication-items-popup",
    id: "publication-items",
    title: "Товары в этой публикации",
  })
    .publication-items-popup-content
      each item in [...publications, ...publications]
        +publicationItem(item)

