//- extends ../layout/baseLayout.pug

//- - var htmlClass = 'isAuth'
//- - var title = 'publication Page'
//- - var nameFile = 'publication'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- - var isNeedNavPages = true

//- block content
//-   main.main
//-     section.section.section--publication
//-       .section__inner
//-         include ../components/publication.pug

//-     section.section.section--comments
//-       .section__inner
//-         include ../components/comments.pug

//-   - const popupBody = 'include ./publication-items-popup-content.pug'
//-   include ../components/popup.pug(
//-     extraClass="publication-items-popup",
//-     id="publication-items",
//-     title="Товары в этой публикации",
//-     body=popupBody
//-   )


