//- extends ../layout/baseLayout.pug

//- - var htmlClass = 'isAuth'
//- - var title = 'shops Page'
//- - var nameFile = 'shops'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- - var isNeedNavPages = true

//- block content
//-   main.main
//-     section.section.section--shop-preview
//-       .section__inner
//-         include ../components/shop-preview.pug
//-       hr.hr

//-     section.section.section--shop-window
//-       .section__inner
//-         include ../components/shop-window.pug

