//- extends ../layout/baseLayout.pug

//- - var title = 'user Page'
//- - var nameFile = 'user-inner'

//- - var headerVars = {
//-   activeItem: "",
//-   catalogExtraClass: "",
//-   locationAddress: "",
//-   idPopup: "location",
//-   icon: "location",
//-   locationClass: "header__top-location--empty",
//- }

//- - var isNeedNavPages = true

//- block content
//-   main.main
//-     section.section.section--user-info
//-       .section__inner
//-         include ../components/user-info.pug
//-           - var img = '@img/avatar-influencer.jpg'
//-           - var influencer = "influencer"
//-           - var blogerName = "Елена Брадиславская"
//-           - var postCount = "9801"
//-           - var subCount = "140892"
//-           - var desc = "Ревизорро обуви и одежды. Более 10 лет в сфере блогинга. Производство контента не требует большого количества дорогостоящего оборудования, специального образования или технологического мастерства по сравнению с традиционными средствами массовой информации. Для Ревизорро обуви и одежды. Более 10 лет в сфере блогинга. Производство контента не требует большого количества дорогостоящего оборудования, специального образования или технологического мастерства по сравнению с традиционными средствами массовой информации."

//-     section.section.section--user-board
//-       .section__inner
//-         include ../components/user-board.pug
