.autocomplete {
  $root: &;

  position: relative;

  &.active {
    #{$root}__body {
      display: block;
    }
  }

  &__load {
    display: none;
  }

  &.load {
    #{$root}__load {
      display: block;
      position: relative;
      animation: spinner 1s linear infinite;
    }
  }

  &__input {

  }

  &__body {
    display: none;
    position: absolute;
    min-width: 100%;
    max-height: 30vh;
    top: calc(100%);
    left: 0;
    right: 0;    
    overflow-y: auto;
    left: 0;
    background-color: rgb(var(--color-white));
    z-index: var(--z-over);

    &-title {
      font-weight: 600;
      margin-top: 0.25rem;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;

    &-item {
      padding: 0.4rem 0.5rem;
      cursor: pointer;
      transition: var(--transition-base);

      &:hover {
        background-color: rgba(var(--color-primary), 0.1);
      }

      &.active {
        background-color: rgba(var(--color-primary), 0.1);
      }
    }
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
