@import "../../basis/_extends";
@import "../../basis/_mixins";
@import "../../basis/_variables";

.badge {
  display: inline-flex;
  align-items: center;
  background-color: rgb(var(--color-primary));
  border: 2px solid;
  border-radius: var(--radius-medium);
  border-color: rgb(var(--color-white));
  color: rgb(var(--color-white));
  padding: 0.35rem 0.5rem;
  font-family: BebasNeue;
  font-size: 1.125rem;
  line-height: 1.125rem;

  &--big {
    padding: 0.85rem 1.25rem;
  }

  &--round {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border-radius: var(--radius-round);
    line-height: 1.33;
    
    @include media($md) {
      padding: 0.4rem 1.25rem;
      font-size: 1.125rem;
    }
  }

  &--without-border {
    border-color: transparent;
  }

  &--font-commissioner {
    font-family: Commissioner;
    font-weight: 600;
  }

  &--color-primary-light {
    background-color: rgb(var(--color-primary-pale));
    color: rgb(var(--color-primary));
  }

  &--color-white{
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-primary));
  }

  &--color-green {
    background-color: rgba(var(--color-green), 0.04);
    color: rgb(var(--color-green));
  }
  
  &--icon {
    padding: 0.4rem;
  }

  & svg {
    width: 1rem;
    height: 1rem;
  }

  & use {
    width: 1rem;
    height: 1rem;
    stroke: rgb(var(--color-white));
    stroke-width: 2px;
  }

  &__sub {
    display: flex;
    align-self: flex-end;
    font-size: 0.625rem;
    line-height: 0.625rem;
    margin-right: 0.12rem;
  }
}