.breadcrumbs {
  $root: &;

  color: rgb(var(--color-grey));

  &__title {
    float: left;
    margin-right: 0.5rem;
    font-weight: 600;
  }

  &__list {
    display: inline;
  }

  &__item {
    display: inline-block;

    & a:after {
      content: '/';
      margin-left: 0.4375rem;
    } 
  }

  &--primary {
    color: rgb(var(--color-primary));

    #{$root}__item {
      font-size: 1rem;
      font-weight: 600;

      & a::after {
        content: "";
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 1.25rem;
        background-image: url("../../img/icons/icons.svg#arrow-right");
        vertical-align: middle;
        cursor: default;
      }
    }
  }
}