.btn {
  $root: &;

  display: inline-flex;
  gap: 0.25rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid;
  border-color: transparent;
  border-radius: var(--radius-small);
  font-weight: 600;
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-white));
  transition: var(--transition-base);
  cursor: pointer;

  &#{$root}--text {
    padding: 0 0.75rem;
    background-color: transparent;
    color: rgb(var(--color-primary));
    border-color: transparent;

    &#{$root}--color-grey {
      color: rgb(var(--color-grey));
      border-color: transparent;
    }
  }

  &#{$root}--outlined {
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-primary));
    border: 1px solid rgb(var(--color-primary));

    &#{$root}--color-grey {
      border-color: rgb(var(--color-black-light));
      color: unset;
    }
  }

  &#{$root}--color-primary-light {
    background-color: rgb(var(--color-primary-soft));
    color: rgb(var(--color-primary));
  }

  &#{$root}--icon {
    padding: 0.75rem;
  }

  &#{$root}--color-grey {
    color: rgb(var(--color-grey));
    border-color: rgb(var(--color-grey));
  }

   &#{$root}--small {
    padding: 0.5rem 0.75rem;
  }

  &#{$root}--tag {
    padding: 0.5rem 0.75rem;
    background-color: rgb(var(--color-white));
    color: rgb(var(--color-black));
    font-weight: 400;
    border: none;
    outline: 1px solid rgb(var(--color-primary-light));

    &:hover {
      outline-width: 2px;
      outline-color: rgb(var(--color-primary));
    }

    &-checked {
      background-color: rgb(var(--color-primary-tag-checked));
      outline-width: 2px;
      outline-color: rgb(var(--color-primary));
    }
  }
}