@import "../../basis/extends";

.radio {
  $root: &;

  cursor: pointer;
  transition: var(--transition-base);

  &:hover {
    color: rgb(var(--color-primary));
  }

  &--btn {
    &#{$root} {
      justify-content: center;
    }

    #{$root}__custom {
      display: none;
    }
  }

  &__content {
    @extend %flex-space-between;

    flex-direction: row-reverse;
    position: relative;
  }

  &__custom {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgb(var(--color-primary));
    border-radius: var(--radius-round);
    background-color: rgb(var(--color-white));

    &::after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      width: 0.625rem;
      height: 0.625rem;
      border-radius: var(--radius-round);
      background-color: rgb(var(--color-primary));
    }
  }
  
  & input {
    display: none;

    &:checked + span .radio__custom::after {
      display: block;
    }

    &:checked + span .btn {
      background-color: rgb(var(--color-primary-soft));
      border: 2px solid rgb(var(--color-primary));
    }
  }
}