@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border: none;
}

button {
  background: none;
  border: none;
  color: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-Black.woff2") format("woff2"), url("../../fonts/Commissioner-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: BebasNeue;
  font-display: swap;
  src: local(BebasNeue), url("../../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-Bold.woff2") format("woff2"), url("../../fonts/Commissioner-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-ExtraLight.woff2") format("woff2"), url("../../fonts/Commissioner-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-ExtraBold.woff2") format("woff2"), url("../../fonts/Commissioner-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-Medium.woff2") format("woff2"), url("../../fonts/Commissioner-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-Light.woff2") format("woff2"), url("../../fonts/Commissioner-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-Regular.woff2") format("woff2"), url("../../fonts/Commissioner-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-SemiBold.woff2") format("woff2"), url("../../fonts/Commissioner-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Commissioner;
  font-display: swap;
  src: local(Commissioner), url("../../fonts/Commissioner-Thin.woff2") format("woff2"), url("../../fonts/Commissioner-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

:root {
  --color-primary: 205, 150, 99;
  --color-primary-dark: 222, 186, 152;
  --color-primary-light: 229, 202, 177;
  --color-primary-pale: 247, 238, 230;
  --color-primary-tag-checked: 250, 243, 238;
  --color-primary-soft: 252, 249, 246;
  --color-black: 68, 68, 68;
  --color-black-hover: 161, 161, 161;
  --color-black-middle: 225, 225, 225;
  --color-black-light: 234, 234, 234;
  --color-white: 255, 255, 255;
  --color-grey: 170, 170, 170;
  --color-grey-light: 212, 212, 212;
  --color-grey-dark: 206, 206, 206;
  --color-green: 80, 165, 51;
  --max-width-container: 67rem;
  --transition-base: all 0.2s linear;
  --z-fixed: 100;
  --z-popup: 1000;
  --z-over: 1010;
  --z-top: 9999;
  --radius-small: 0.125rem;
  --radius-round: 68rem;
}

.section {
  padding: 1.25rem;
  width: 100%;
}

.section__inner {
  margin: 0 auto;
  max-width: var(--max-width-container);
}

.section--shop-preview .section__inner {
  max-width: 100%;
}

.alert {
  background-color: red;
}

.btn {
  display: inline-flex;
  gap: 0.25rem;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  border-radius: var(--radius-small);
  font-weight: 600;
  background-color: rgb(var(--color-primary));
  color: rgb(var(--color-white));
  transition: var(--transition-base);
  cursor: pointer;
}

.btn.btn--text {
  padding: 0 0.75rem;
  background-color: transparent;
  color: rgb(var(--color-primary));
}

.btn.btn--outlined {
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-primary));
  border: 1px solid rgb(var(--color-primary));
}

.btn.btn--color-grey {
  color: rgb(var(--color-grey));
}

.btn.btn--small {
  padding: 0.5rem 0.75rem;
}

.btn.btn--tag {
  padding: 0.5rem 0.75rem;
  background-color: rgb(var(--color-white));
  color: rgb(var(--color-black));
  font-weight: 400;
  border: none;
  outline: 1px solid rgb(var(--color-primary-light));
}

.btn.btn--tag:hover {
  outline-width: 2px;
  outline-color: rgb(var(--color-primary));
}

.btn.btn--tag-checked {
  background-color: rgb(var(--color-primary-tag-checked));
  outline-width: 2px;
  outline-color: rgb(var(--color-primary));
}

.breadcrumbs {
  color: rgb(var(--color-grey));
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item a:after {
  content: "/";
  margin-left: 0.4375rem;
}

.hr {
  width: 100%;
  max-width: var(--max-width-container);
  height: 0.0625rem;
  margin: 1rem auto 1.25rem;
  border: none;
  background: rgb(var(--color-black-light));
}

.share__block,
.share__block-head,
.share__list,
.share__close,
.nav-pages__list,
.popup__overlay,
.header__top-location,
.header__top-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  border: 0.125rem solid rgb(var(--color-primary-light));
  border-radius: 0.1875rem;
  padding: 0.75rem 1.25rem;
  height: 3rem;
}

.search__icon-search {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.search__input {
  width: 100%;
  height: 1.5rem;
  margin-left: 0.5rem;
  border: none;
  font-size: 1.125rem;
  padding: 0;
}

.search__input::-moz-placeholder {
  color: rgb(var(--color-grey-light));
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
}

.search__input::placeholder {
  color: rgb(var(--color-grey-light));
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: -0.2px;
}

.search__select {
  display: none;
  max-width: 11.25rem;
  width: 100%;
  font-size: 1rem;
  border-left: 2px solid rgb(var(--color-black-light));
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--color-white));
  padding: 0.62rem 0.69rem;
  z-index: var(--z-fixed);
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  gap: 0.5rem;
  justify-content: center;
}

.nav__item {
  display: block;
  font-size: 0.75rem;
  color: rgb(var(--color-grey));
  text-align: center;
}

.nav__item-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
}

.nav__item-title {
  margin-top: 0.25rem;
  color: rgb(var(--color-grey));
}

.nav__item-catalog use {
  stroke: rgb(var(--color-grey));
  stroke-width: 2px;
}

.header {
  position: sticky;
  top: 0;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgb(var(--color-black-light));
  background-color: rgb(var(--color-white));
  z-index: var(--z-fixed);
}

.header__inner {
  max-width: var(--max-width-container);
  margin: 0 auto;
}

.header__top {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.header__top-location {
  gap: 0.25rem;
  color: rgb(var(--color-primary));
  cursor: pointer;
}

.header__top-info {
  gap: 1.5rem;
  color: rgb(var(--color-grey));
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-left: 1rem;
}

.header__nav-item > a {
  display: block;
  height: 1.5rem;
}

.header__nav-logo {
  display: none;
  width: 6.66rem;
  height: 1.25rem;
  margin-left: 0;
}

.header__nav-catalog {
  display: none;
  color: rgb(var(--color-white));
}

.header__nav-catalog > a {
  display: inline-flex;
  height: auto;
}

.header__nav-catalog .btn {
  padding: 0.5rem 1rem;
}

.header__nav-catalog use {
  stroke: rgb(var(--color-white));
  stroke-width: 2px;
}

.header__nav-search {
  margin-left: 0;
  flex-grow: 1;
}

.header__nav-feed {
  display: none;
  margin-left: 1.5rem;
}

.header__nav-feed use {
  stroke: rgb(var(--color-primary));
  stroke-width: 2px;
}

.header__nav-basket,
.header__nav-favorite {
  display: none;
}

.header__nav-profile {
  display: none;
}

.header__nav-profile > a {
  display: flex;
  align-items: center;
  height: auto;
  gap: 0.5rem;
  font-weight: 600;
  color: rgb(var(--color-primary));
}

.header__nav-profile > a svg {
  flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.header__nav-more,
.header__nav-location {
  cursor: pointer;
}

.share__block,
.share__block-head,
.share__list,
.share__close,
.nav-pages__list,
.popup__overlay,
.header__top-location,
.header__top-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  z-index: var(--z-popup);
  cursor: pointer;
}

.popup--open .popup__overlay {
  transform: scale(1);
}

.popup__content {
  max-width: 30rem;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: rgb(var(--color-white));
  border-radius: var(--radius-small);
  cursor: default;
}

body {
  font-family: Commissioner, sans-serif;
  color: rgb(var(--color-black));
  line-height: 1.333;
}

body > * {
  font-size: 1.125rem;
}

svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  padding-bottom: 5rem;
}

.shop-preview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.shop-preview__block-img {
  margin: 0 -1.25rem;
}

.shop-preview__title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-top: -0.1875rem;
  font-family: BebasNeue;
  font-weight: 400;
}

.shop-preview__about {
  margin-top: 0.75rem;
}

.shop-preview__bread-crumbs {
  margin-top: 0.25rem;
}

.shop-preview__subscribers {
  font-weight: 600;
  margin-top: 1rem;
}

.shop-preview__actions {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.share__block,
.share__block-head,
.share__list,
.share__close,
.nav-pages__list,
.header__top-location,
.header__top-info,
.popup__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-pages {
  background-color: rgb(var(--color-primary-pale));
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

.nav-pages__list {
  flex-wrap: wrap;
  gap: 0.5rem 2.5rem;
  font-weight: 600;
}

.share__block,
.share__block-head,
.share__list,
.share__close,
.header__top-location,
.header__top-info,
.popup__overlay,
.nav-pages__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share {
  display: flex;
  align-items: center;
  color: rgb(var(--color-grey));
  border-radius: var(--radius-small);
}

.share__open,
.share__close,
.share__item-icon {
  cursor: pointer;
}

.share__block,
.share__block-head,
.share__list,
.share__close {
  gap: 0.75rem;
}

.share__block {
  flex-direction: column;
  justify-content: unset;
  align-items: unset;
  height: 0;
  background-color: rgb(var(--color-white));
  overflow: hidden;
}

.share__block-head {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.share__list {
  gap: 1rem;
}

.share__item-icon {
  width: 2rem;
  height: 2rem;
}

.share__close {
  width: 3rem;
  height: 3rem;
  background-color: rgb(var(--color-primary-tag-checked));
  border-radius: var(--radius-round);
}

.share--open .share__block {
  height: auto;
}

.share--close .share__block-head {
  width: 0;
}

.share--close .share__list {
  width: 0;
}

.share--close .popup__overlay {
  animation: slide-out 0.4s forwards;
}

@keyframes slide-in {
  0% {
    width: 0;
    padding: 0;
  }

  100% {
    width: 100%;
    padding: 0.75rem;
  }
}

@keyframes slide-out {
  0% {
    width: 100%;
    padding: 0.75rem;
  }

  100% {
    width: 0;
    padding: 0;
  }
}

.product-menu {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.product-menu .product-menu__item {
  padding: 0;
}

.product-menu .product-menu__item.collapse .product-menu__title {
  border-color: rgb(var(--color-black));
}

.product-menu .product-menu__item.collapse .product-menu__title:hover {
  border-color: rgb(var(--color-black));
}

.product-menu .product-menu__item.collapse--open .product-menu__title {
  border-color: rgb(var(--color-black));
}

.product-menu .product-menu__item.collapse--open .product-menu__submenu {
  margin-top: 0;
}

.product-menu .product-menu__item.collapse--close {
  transition: var(--transition-base);
  margin-bottom: -0.5rem;
}

.product-menu .product-menu__item.collapse--close .product-menu__title {
  border-color: transparent;
}

.product-menu .product-menu__title {
  display: inline-flex;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 600;
  border-bottom: solid;
  border-width: 1px;
  border-color: transparent;
  transition: var(--transition-base);
}

.product-menu .product-menu__submenu {
  margin-top: 0;
  margin-left: 1.25rem;
  font-size: 1rem;
}

.product-menu .product-menu__item,
.product-menu .product-menu__submenu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
}

.product-menu .product-menu__count {
  color: rgb(var(--color-grey));
}

.product-menu li:not([class]) {
  transition: var(--transition-base);
  border-bottom: 1px solid transparent;
}

.product-menu li:not([class]) --active {
  color: rgb(var(--color-primary));
  border-bottom: 1px solid rgb(var(--color-primary));
  font-weight: 600;
}

.product-menu li:not([class]):hover {
  color: rgb(var(--color-primary));
  border-bottom: 1px solid rgb(var(--color-primary));
  font-weight: 600;
}

.header__top-location,
.header__top-info,
.popup__overlay,
.nav-pages__list,
.share__block,
.share__block-head,
.share__list,
.share__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse {
  padding: 1rem 1.25rem;
  background-color: rgb(var(--color-white));
  border-radius: var(--radius-small);
}

.collapse--close > .collapse__content {
  margin-top: 0;
  max-height: 0;
  animation: hide 0.2s backwards;
}

.collapse--open > .collapse__content {
  max-height: none;
  margin-top: 1.25rem;
  animation: show 0.2s forwards;
}

.collapse__head {
  font-weight: 600;
  cursor: pointer;
}

.collapse__head:hover .collapse__toggle-icon use {
  fill: rgb(var(--color-black));
}

.collapse__toggle-icon use {
  fill: rgb(var(--color-black-middle));
  transition: var(--transition-base);
}

.collapse__content {
  overflow: hidden;
  margin-top: 1.25rem;
  height: auto;
  transition: var(--transition-base);
}

@keyframes hide {
  0% {
    opacity: 1;
    margin-top: 1.25rem;
    transform: translate(0, 0) scale(1, 1);
    visibility: visible;
    max-height: 100vh;
  }

  99% {
    opacity: 0;
    margin-top: 0;
    transform: translate(0, -50%) scale(1, 0);
    visibility: hidden;
    max-height: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    margin-top: 0;
    transform: translate(0, -50%) scale(1, 0);
    visibility: hidden;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
    visibility: visible;
  }
}

.header__top-location,
.header__top-info,
.popup__overlay,
.nav-pages__list,
.share__block,
.share__block-head,
.share__list,
.share__close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapse__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-window {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 2.5rem 1.25rem;
  grid-template-areas: "tabs tabs" "menu goods";
}

.shop-window__tabs {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: tabs;
}

.shop-window__menu {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: menu;
}

.shop-window__goods {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: goods;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 48rem) {
  .section {
    padding: 1.5rem 2.5rem;
  }

  .search__icon-search {
    width: 1.5rem;
    height: 1.5rem;
  }

  .search__select {
    display: flex;
    justify-content: flex-end;
  }

  .nav__list {
    gap: 2.5rem;
  }

  .header {
    padding: 0.75rem 2.5rem;
  }

  .header__nav-item {
    margin-left: 1.5rem;
  }

  .header__nav-logo {
    display: block;
    flex-shrink: 0;
  }

  .header__nav-search {
    margin-left: 1.5rem;
  }

  .popup--onlymobile .popup__overlay {
    position: relative;
    height: 0;
    padding: 0;
    background-color: transparent;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    z-index: 1;
    transform: scale(1);
  }

  .popup--onlymobile .popup__content {
    padding: 0;
  }

  .shop-preview__block-img {
    margin: 0 -2.5rem;
  }

  .share__block {
    flex-direction: row;
    background-color: rgb(var(--color-primary-soft));
  }

  .share__block-head {
    flex-direction: row;
  }

  .share__list {
    gap: 0.75rem;
  }

  .share__item-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .share__close {
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: unset;
  }

  .share--open .share__open {
    display: none;
  }

  .share--open .share__block {
    animation: slide-in 0.4s forwards;
  }

  .share--close .share__block {
    animation: slide-out 0.4s forwards;
  }
}

@media (min-width: 75rem) {
  .section {
    padding: 2.5rem 4rem;
  }

  .section--shop-preview .section__inner {
    max-width: var(--max-width-container);
  }

  .hr {
    margin: 2.5rem auto;
  }

  .nav {
    display: none;
  }

  .header {
    padding: 0.5rem 4rem;
    border-bottom: none;
  }

  .header__top {
    display: flex;
  }

  .header__nav-list {
    margin: 1rem -2.5rem 0;
  }

  .header__nav-item {
    margin-left: 1rem;
  }

  .header__nav-catalog {
    display: block;
  }

  .header__nav-feed {
    display: block;
  }

  .header__nav-basket,
  .header__nav-favorite {
    display: block;
  }

  .header__nav-profile {
    display: block;
  }

  .header__nav-more,
  .header__nav-location {
    display: none;
  }

  .shop-preview {
    gap: 1.25rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .shop-preview__block-img {
    width: 100%;
    max-width: 30.25rem;
    margin: 0;
    max-height: 16rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .shop-preview__block-descr {
    max-width: 35.5rem;
    width: 100%;
  }

  .shop-preview__bread-crumbs {
    margin-top: 0.5rem;
  }

  .shop-preview__subscribers {
    margin-top: 0.75rem;
  }

  .shop-preview__actions {
    margin-top: 1.5rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}