@import "./basis/_reset";
@import "./basis/_fonts";
@import "./basis/_css-property";
@import "./layout/sections";
@import "./layout/elements";
@import "./layout/header";
@import "./components/popup";

body {
  font-family: Commissioner, sans-serif;
  color: rgb(var(--color-black));
  line-height: 1.333;

  & > * {
    font-size: 1.125rem;
  }
}

svg {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  padding: 1.25rem 0 5rem;

  @include media($md) {
    padding: 1.5rem 0 5rem;
  }

  @include media($lg) {
    padding: 2.5rem 0;
  }

  @include media($full) {
    padding: 5rem 0;
  }
}